Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

Key the insight usage ledger to the provider's quota calendar (#5211)
  config/variables.tf
  server/CLAUDE.md
  server/insight_budget.go
  server/insight_test.go
Due: none

Add serving kill switch and cache sync mode to insight tooling
  scripts/review_flagged_insights.sh
  server/CLAUDE.md
  server/insight_budget.go
  server/insight_generate.go
  server/insight_log.go
  server/insight_test.go
Due: none

fix: shellcheck SC2295 in sync-cache parameter expansion
  scripts/review_flagged_insights.sh
Due: none

address review: O(N) dest check, model error handling, option names, const alignment
  scripts/review_flagged_insights.sh
  server/insight_budget.go
Due: none

address review: switch error handling, fatal copy failures, Attrs contention
  scripts/review_flagged_insights.sh
  server/insight_budget.go
Due: none

Add serving kill switch and cache sync mode to insight tooling (#5217)
  scripts/review_flagged_insights.sh
  server/CLAUDE.md
  server/insight_budget.go
  server/insight_generate.go
  server/insight_log.go
  server/insight_test.go
Due: none

feat(e2e): add insight rendering specs (CI + nightly)
  frontend/playwright-tests/insights.ci.spec.ts
  frontend/playwright-tests/insights.spec.ts
Due: biome-check

fix(e2e): decouple insight selectors from Tailwind classes
  frontend/playwright-tests/insights.ci.spec.ts
  frontend/playwright-tests/insights.spec.ts
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/styles/HetComponents/HetHighlightSpan.tsx
Due: biome-check

fix(e2e): add disclosure and content assertions to contrast and report tests
  frontend/playwright-tests/insights.spec.ts
Due: biome-check

Add E2E coverage for AI insight rendering (#5218)
  frontend/playwright-tests/insights.ci.spec.ts
  frontend/playwright-tests/insights.spec.ts
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/styles/HetComponents/HetHighlightSpan.tsx
Due: biome-check

Add AI insights methodology page and surface links
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/AiInsightsLink.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/utils/internalRoutes.ts
Due: biome-check

Fix sidebar button consistency and connector alignment; simplify insight footnote
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/pages/ui/TopicInfoModalButton.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/styles/theme/muiTheme.tsx
Due: biome-check

Link only 'AI-generated.' to methodology page, not the verify sentence
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check

Remove paddingBlock:0 from StepConnector so connector line centers between nodes
  frontend/src/styles/theme/muiTheme.tsx
Due: biome-check

Remove em dashes from AI insights methodology copy
  frontend/src/pages/Methodology/methodologySections/AiInsightsLink.tsx
Due: biome-check

Fix methodology page overflow: replace max-w-screen (100vw) with max-w-full (100%) to prevent scrollbar-width overflow in centered layout
  frontend/src/pages/Methodology/methodologyComponents/MethodologyPage.tsx
Due: biome-check

Fix left-nav truncation: add min-w-0 to inner flex div so justify-center doesn't hide left side when children overflow
  frontend/src/pages/Methodology/methodologyComponents/MethodologyPage.tsx
Due: biome-check

Add Playwright test: methodology left nav not truncated at narrow viewport
  frontend/playwright-tests/methodology_layout.ci.spec.ts
Due: biome-check

fix: adjust methodology page layout breakpoints and alignment
  frontend/src/pages/Methodology/methodologyComponents/MethodologyPage.tsx
  frontend/src/styles/HetComponents/HetOnThisPageMenu.tsx
Due: biome-check

feat(e2e): add insight rendering specs (CI + nightly)
  frontend/src/cards/ui/FlagInsightButton.tsx
Due: biome-check

Use most recent year with demographic breakdowns for current-view datasets
  python/ingestion/dataset_utils.py
  python/tests/ingestion/test_dataset_utils.py
Due: pylint

test: add edge-case coverage for _most_recent_complete_year
  python/tests/ingestion/test_dataset_utils.py
Due: pylint

fix: exclude nulls from _has_non_all_data check
  python/ingestion/dataset_utils.py
Due: pylint

chore(skills): skip merge confirm on explicit PR arg; add one-liner to pr/review
  .claude/skills/merge/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/review/SKILL.md
Due: none

fix(exporter): remove abandoned demographic=multi export branch
  exporter/main.py
Due: pylint

docs: document ACS naming convention and retired multi export path
  exporter/CLAUDE.md
  python/CLAUDE.md
Due: none

fix(exporter): remove abandoned multi export branch, delete orphaned GCS files (#5246)
  exporter/CLAUDE.md
  exporter/main.py
  python/CLAUDE.md
Due: pylint

feat(map): expand click targets and show mini-maps for small states
  frontend/src/charts/choroplethMap/MapTooltipContent.tsx
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

fix: remove MD/MA from small-state list to prevent E2E test blocking
  frontend/src/charts/choroplethMap/mapUtils.ts
Due: biome-check

fix(map): replace small-state circles with bounding-box rects for AK/HI
  frontend/playwright-tests/map_inset_click.ci.spec.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

fix(map): add INSET_STATE_FIPS constant for AK/HI bounding-box rects
  frontend/src/charts/choroplethMap/mapUtils.ts
Due: biome-check

fix(map): revert to bounding-box rects for AK/HI inset click targets
  frontend/playwright-tests/map_inset_click.ci.spec.ts
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

feat(map): show mini-map in tooltip for all areas including territories
  frontend/src/charts/choroplethMap/MapTooltipContent.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/mapHelpers.ts
Due: biome-check

feat(map): coastline-only ghost paths extend coastal hit area without border bleed
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

feat(map): thicker coast ghost stroke and choropleth-matched mini-map color
  frontend/src/charts/choroplethMap/MapTooltipContent.tsx
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

test: update map click selectors to use coast-ghost paths
  frontend/playwright-tests/navigation.ci.spec.ts
Due: biome-check

style: biome auto-fix
  frontend/src/charts/choroplethMap/MapTooltipContent.tsx
Due: biome-check

feat(map): mini-maps for all geographies, hover drop-shadow, focus ring fix
  frontend/src/charts/choroplethMap/MapTooltipContent.tsx
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/index.css
Due: biome-check

fix(map): use AlbersUSA conic sub-projection for Alaska mini-map
  frontend/src/charts/choroplethMap/MapTooltipContent.tsx
Due: biome-check

fix(map): mini-map uses white border + drop-shadow to match hover style
  frontend/src/charts/choroplethMap/MapTooltipContent.tsx
Due: biome-check
