Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

fix(cawp): replace Promise.race with polling loop for batch completion
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(cawp): remove all page.$eval calls from batch polling loop
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(insight): fix county-level map insights and suppress no-comparison cards
  frontend/src/cards/CardWrapper.tsx
  frontend/src/utils/generateVisualizationInsight.test.ts
  frontend/src/utils/generateVisualizationInsight.ts
  frontend_server/server.js
Due: biome-check

fixing formatting issuses and updating CSPELL file
  cspell.config.json
  frontend/src/cards/CardWrapper.tsx
  frontend/src/utils/generateVisualizationInsight.test.ts
Due: biome-check

adding suggested changes
  frontend/src/utils/generateVisualizationInsight.ts
Due: biome-check

feat(insight): add team review tooling for flagged AI insights
  .github/workflows/cronReviewFlaggedInsights.yml
  README.md
  data_server/main.py
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  python/tests/data_server/test_main.py
  scripts/review_flagged_insights.sh
Due: pylint, biome-check

fix(insight): satisfy CSpell on review script
  scripts/review_flagged_insights.sh
Due: none

try again
  data/cawp/cawp-by_race_and_ethnicity_time_series.csv
Due: none

fix: show error snackbar when clipboard image copy fails
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/utils/cardImageExportUtils.ts
  frontend/src/utils/hooks/useCardImage.tsx
Due: biome-check

fix: reset snackbar state before clipboard attempts
  frontend/src/utils/hooks/useCardImage.tsx
Due: biome-check

feat(cawp): update numerator refresh script for new CAWP download interface
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(cawp): correct export time estimate to ~30 min in refresh script
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(cawp): correct export time estimate to ~30 min in download instructions
  python/datasources/cawp.py
Due: pylint

chore: gitignore Claude Code scheduled_tasks.lock, remove from tracking
  .claude/scheduled_tasks.lock
  .gitignore
Due: none

feat(skills): add /infra-test skill for GCP deploy + DAG pipeline verification
  .claude/skills/infra-test/SKILL.md
Due: none

feat(skills): add /infra-test skill for GCP deploy + DAG pipeline verification (#4855)
  .claude/skills/infra-test/SKILL.md
Due: none

fix(cawp): handle legacy snake_case cache keys from old Python script
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(cawp-refresh): correct numerator download flow and docs
  frontend/scripts/refresh_cawp_data.ts
  python/datasources/cawp.py
Due: pylint, biome-check

fix(cawp-refresh): retry export on server 502, bump timeout to 90 min
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

feat(cawp-refresh): add per-level numerator download with --levels arg
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

refactor(cawp-refresh): drop per-level filtering, download all levels in one pass
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(cawp-refresh): address valid review feedback
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(cawp): sanitize footnote markers in state_leg time_period on load
  python/datasources/cawp.py
Due: pylint

test(cawp): cover footnote-marker sanitization in get_state_leg_totals_df
  python/tests/datasources/test_cawp.py
Due: pylint

feat(cawp): TypeScript data refresh script (#4845)
  cspell.config.json
  frontend/package.json
  frontend/scripts/cawp_net_diag.ts
  frontend/scripts/refresh_cawp_data.ts
  python/datasources/cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint, biome-check

address review: add cawp_population_pct to congress metrics, pin action refs, extend E2E test
  .github/workflows/dagCawp.yml
  frontend/playwright-tests/cawp.ci.spec.ts
  frontend/src/data/providers/CawpProvider.ts
Due: biome-check

revert: restore @main action refs in dagCawp.yml
  .github/workflows/dagCawp.yml
Due: none

feat(review): present findings inline before posting to GitHub
  .claude/skills/review/SKILL.md
Due: none

fix(review): present findings inline before posting to GitHub (#4857)
  .claude/skills/review/SKILL.md
Due: none

fix(insight): label map rows by place + group and filter trends to selected groups
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateTrendsChartCard.tsx
  frontend/src/cards/ShareTrendsChartCard.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/utils/generateVisualizationInsight.test.ts
  frontend/src/utils/generateVisualizationInsight.ts
Due: biome-check

fix: show user feedback when clipboard image copy fails (#4853)
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/utils/cardImageExportUtils.ts
  frontend/src/utils/hooks/useCardImage.tsx
Due: biome-check

style: biome formatting cleanup from #4853 merge
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/utils/hooks/useCardImage.tsx
Due: biome-check

style: biome formatting cleanup from #4853 merge (#4858)
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/utils/hooks/useCardImage.tsx
Due: biome-check

fix(cawp): key member dedup on (govtrack_id, year) not full dict
  python/datasources/cawp.py
Due: pylint

skill(pr): auto-merge main without confirmation gate
  .claude/skills/pr/SKILL.md
Due: none
