Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

address review: fix comment wording and skip no-op insight state resets
  frontend/src/cards/ui/InsightVisualizationButton.tsx
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
Due: biome-check

fix(insight): one insight open at a time, collapse on report change (#5102)
  frontend/CLAUDE.md
  frontend/src/cards/ui/InsightVisualizationButton.tsx
  frontend/src/pages/ExploreData/DemographicSelector.tsx
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
Due: biome-check

feat(insight): shared plain-language rules for every insight surface
  server/CLAUDE.md
  server/insight_prompt.go
  server/insight_prompt_report.go
  server/testdata/insight_prompts/card_map_single_region_peers.prompt.txt
  server/testdata/insight_prompts/card_map_strong_disparity.prompt.txt
  server/testdata/insight_prompts/card_pop_vs_distribution.prompt.txt
  server/testdata/insight_prompts/card_table_full_shares.prompt.txt
  server/testdata/insight_prompts/card_table_general_population.prompt.txt
  server/testdata/insight_prompts/card_table_no_population.prompt.txt
  server/testdata/insight_prompts/card_table_suppressed.prompt.txt
  server/testdata/insight_prompts/card_trends_sparse.prompt.txt
  server/testdata/insight_prompts/contrast_compare_geos.prompt.txt
  server/testdata/insight_prompts/report_county_peers.prompt.txt
  server/testdata/insight_prompts/report_full.prompt.txt
  server/testdata/insight_prompts/report_no_age_adjusted.prompt.txt
Due: none

fix(insight): third-person voice and an explicit comparison baseline
  server/insight_prompt.go
  server/testdata/insight_prompts/card_map_single_region_peers.prompt.txt
  server/testdata/insight_prompts/card_map_strong_disparity.prompt.txt
  server/testdata/insight_prompts/card_pop_vs_distribution.prompt.txt
  server/testdata/insight_prompts/card_table_full_shares.prompt.txt
  server/testdata/insight_prompts/card_table_general_population.prompt.txt
  server/testdata/insight_prompts/card_table_no_population.prompt.txt
  server/testdata/insight_prompts/card_table_suppressed.prompt.txt
  server/testdata/insight_prompts/card_trends_sparse.prompt.txt
  server/testdata/insight_prompts/contrast_compare_geos.prompt.txt
  server/testdata/insight_prompts/report_county_peers.prompt.txt
  server/testdata/insight_prompts/report_full.prompt.txt
  server/testdata/insight_prompts/report_no_age_adjusted.prompt.txt
Due: none

feat(insights): return the highlight envelope from the server (#5101)
  server/CLAUDE.md
  server/insight_describe.go
  server/insight_descriptor_test.go
  server/insight_generate.go
  server/insight_log.go
  server/insight_prompt.go
  server/insight_prompt_report.go
  server/insight_response.go
  server/insight_response_test.go
  server/insight_test.go
  server/testdata/insight_prompts/card_map_single_region_peers.prompt.txt
  server/testdata/insight_prompts/card_map_strong_disparity.prompt.txt
  server/testdata/insight_prompts/card_pop_vs_distribution.prompt.txt
  server/testdata/insight_prompts/card_table_full_shares.prompt.txt
  server/testdata/insight_prompts/card_table_general_population.prompt.txt
  server/testdata/insight_prompts/card_table_no_population.prompt.txt
  server/testdata/insight_prompts/card_table_suppressed.prompt.txt
  server/testdata/insight_prompts/card_trends_sparse.prompt.txt
  server/testdata/insight_prompts/contrast_compare_geos.prompt.txt
  server/testdata/insight_prompts/report_county_peers.prompt.txt
  server/testdata/insight_prompts/report_full.prompt.txt
  server/testdata/insight_prompts/report_no_age_adjusted.prompt.txt
Due: none

feat(insights): unified envelope with highlight support across all surfaces (#5099)
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/styles/HetComponents/HetHighlightedText.tsx
  frontend/src/utils/generateReportInsight.test.ts
  frontend/src/utils/generateReportInsight.ts
  frontend/src/utils/insightPayload.test.ts
  frontend/src/utils/insightPayload.ts
  frontend/src/utils/sharedSettingsState.ts
Due: biome-check

refine(insight): broaden baseline fallback to largest group for all demographics
  server/insight_prompt.go
  server/testdata/insight_prompts/card_map_single_region_peers.prompt.txt
  server/testdata/insight_prompts/card_map_strong_disparity.prompt.txt
  server/testdata/insight_prompts/card_pop_vs_distribution.prompt.txt
  server/testdata/insight_prompts/card_table_full_shares.prompt.txt
  server/testdata/insight_prompts/card_table_general_population.prompt.txt
  server/testdata/insight_prompts/card_table_no_population.prompt.txt
  server/testdata/insight_prompts/card_table_suppressed.prompt.txt
  server/testdata/insight_prompts/card_trends_sparse.prompt.txt
  server/testdata/insight_prompts/contrast_compare_geos.prompt.txt
  server/testdata/insight_prompts/report_county_peers.prompt.txt
  server/testdata/insight_prompts/report_full.prompt.txt
  server/testdata/insight_prompts/report_no_age_adjusted.prompt.txt
Due: none

feat(insight): plain-language writing rules shared by every insight surface (#5103)
  server/CLAUDE.md
  server/insight_prompt.go
  server/insight_prompt_report.go
  server/testdata/insight_prompts/card_map_single_region_peers.prompt.txt
  server/testdata/insight_prompts/card_map_strong_disparity.prompt.txt
  server/testdata/insight_prompts/card_pop_vs_distribution.prompt.txt
  server/testdata/insight_prompts/card_table_full_shares.prompt.txt
  server/testdata/insight_prompts/card_table_general_population.prompt.txt
  server/testdata/insight_prompts/card_table_no_population.prompt.txt
  server/testdata/insight_prompts/card_table_suppressed.prompt.txt
  server/testdata/insight_prompts/card_trends_sparse.prompt.txt
  server/testdata/insight_prompts/contrast_compare_geos.prompt.txt
  server/testdata/insight_prompts/report_county_peers.prompt.txt
  server/testdata/insight_prompts/report_full.prompt.txt
  server/testdata/insight_prompts/report_no_age_adjusted.prompt.txt
Due: none

fix(map): add dark borders to suppressed areas for grayscale distinction
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
Due: biome-check

fix(test): update stroke color test for suppressed data dark borders
  frontend/src/charts/choroplethMap/colorSchemes.test.ts
Due: biome-check

refine(map): increase suppressed border visibility and soften color
  frontend/src/charts/choroplethMap/colorSchemes.test.ts
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapUtils.ts
Due: biome-check

fix(map): apply thicker stroke only to suppressed areas, fix missing borders
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

refine(map): increase suppressed stroke to 2px, remove linecaps
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

refine(map): tune suppressed stroke to 1.5px for clean appearance
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

fix(map): use normal thin stroke for all areas, dark color for suppressed only
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

fix(map): render suppressed counties last so dark strokes appear on top at shared edges
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

refine(map): use toSorted to avoid mutation, simplify String coercion
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

fix(map): distinguish suppressed data with dark borders in grayscale (#5105)
  frontend/src/charts/choroplethMap/colorSchemes.test.ts
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

fix(wisqars): use explicit merge keys in youth/black_men topic loops
  python/datasources/cdc_wisqars_black_men.py
  python/datasources/cdc_wisqars_youth.py
  python/ingestion/cdc_wisqars_utils.py
  python/tests/ingestion/test_cdc_wisqars_utils.py
Due: pylint

feat(wisqars): detect and propagate is_suppressed for gun violence data
  cspell.config.json
  python/datasources/cdc_wisqars.py
  python/ingestion/cdc_wisqars_utils.py
  python/ingestion/dataset_utils.py
  python/tests/data/cdc_wisqars/golden_data/age_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/age_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/age_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/sex_state_historical.csv
  python/tests/datasources/test_utils.py
  python/tests/ingestion/test_cdc_wisqars_utils.py
Due: pylint

address review: cover pct_share/pct_rate/pct_rel_inequity in value-col guard
  python/ingestion/cdc_wisqars_utils.py
  python/tests/ingestion/test_cdc_wisqars_utils.py
Due: pylint

fix(wisqars): use explicit merge keys in youth/black_men topic loops (#5106)
  python/datasources/cdc_wisqars_black_men.py
  python/datasources/cdc_wisqars_youth.py
  python/ingestion/cdc_wisqars_utils.py
  python/tests/ingestion/test_cdc_wisqars_utils.py
Due: pylint

fix: cast rate_col to str for mypy type checker
  python/ingestion/cdc_wisqars_utils.py
Due: pylint

fix(wisqars): collapse duplicate constant, normalize single-bucket tri-state
  python/ingestion/cdc_wisqars_utils.py
  python/tests/data/cdc_wisqars/golden_data/age_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/age_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_historical.csv
  python/tests/ingestion/test_cdc_wisqars_utils.py
Due: pylint

fix(wisqars): normalize single-bucket tri-state suppression, collapse duplicate constant (#5107)
  cspell.config.json
  python/datasources/cdc_wisqars.py
  python/ingestion/cdc_wisqars_utils.py
  python/ingestion/dataset_utils.py
  python/tests/data/cdc_wisqars/golden_data/age_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/age_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/age_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/sex_state_historical.csv
  python/tests/datasources/test_utils.py
  python/tests/ingestion/test_cdc_wisqars_utils.py
Due: pylint

feat(wisqars): enable suppression detection for Black Men gun violence data
  python/datasources/cdc_wisqars_black_men.py
  python/tests/data/cdc_wisqars/golden_data/black_men_by_age_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_age_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_age_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_age_state_historical.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_urbanicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_urbanicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_urbanicity_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_urbanicity_state_historical.csv
  python/tests/datasources/test_cdc_wisqars_black_men.py
Due: pylint

address review: use std_col constants in COL_DICTS instead of string literals
  python/datasources/cdc_wisqars_black_men.py
Due: pylint

Enable suppression detection for WISQARS Black Men datasource (#5117)
  python/datasources/cdc_wisqars_black_men.py
  python/tests/data/cdc_wisqars/golden_data/black_men_by_age_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_age_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_age_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_age_state_historical.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_urbanicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_urbanicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_urbanicity_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/black_men_by_urbanicity_state_historical.csv
  python/tests/datasources/test_cdc_wisqars_black_men.py
Due: pylint

Hide share-based cards + their TOC steps for rate-only topics
  frontend/src/reports/Report.tsx
Due: biome-check

feat(gun-violence): wire suppression flags for gun deaths and Black men gun homicides
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/providers/GunDeathsBlackMenProvider.ts
  frontend/src/data/providers/GunViolenceProvider.ts
Due: biome-check

feat(gun-violence): wire suppression flag for youth and young adults gun deaths
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/providers/GunViolenceYouthProvider.ts
Due: biome-check

feat(wisqars): enable suppression detection for WISQARS Youth datasource
  python/datasources/cdc_wisqars_youth.py
  python/ingestion/dataset_utils.py
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_state_historical.csv
  python/tests/datasources/test_cdc_wisqars_youth.py
Due: pylint

fix(mypy): narrow is_suppressed_col type for dict index in combine_race_ethnicity
  python/ingestion/dataset_utils.py
Due: pylint

docs: add dataset_utils.py to key files table
  python/CLAUDE.md
Due: none

Wire suppressed-vs-missing map distinction for gun deaths, black men, and youth (#5119)
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/providers/GunDeathsBlackMenProvider.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/data/providers/GunViolenceYouthProvider.ts
Due: biome-check

fix(e2e): scope poverty test's csv-download locator to avoid strict-mode violation
  frontend/playwright-tests/poverty.spec.ts
Due: biome-check

Enable suppression detection for WISQARS Youth datasource (#5120)
  python/CLAUDE.md
  python/datasources/cdc_wisqars_youth.py
  python/ingestion/dataset_utils.py
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_state_historical.csv
  python/tests/datasources/test_cdc_wisqars_youth.py
Due: pylint

fix(e2e): scope poverty test's csv-download locator (#5121)
  frontend/playwright-tests/poverty.spec.ts
Due: biome-check

chore(skills): auto-assign the running user in /pr skill
  .claude/skills/pr/SKILL.md
Due: none

fix(cdc-hiv): distinguish suppressed from unavailable data
  python/datasources/cdc_hiv.py
  python/ingestion/cdc_hiv_utils.py
  python/tests/data/cdc_hiv/golden_data/age_national_current.csv
  python/tests/data/cdc_hiv/golden_data/age_national_historical.csv
  python/tests/data/cdc_hiv/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_hiv/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_hiv/golden_data/sex_county_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_county_historical.csv
  python/tests/data/cdc_hiv/golden_data/sex_state_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_state_historical.csv
  python/tests/datasources/test_cdc_hiv.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
