Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

fix(frontend): drop hardcoded ACS year from map card population phrase
  frontend/src/cards/ui/GeoContext.test.ts
  frontend/src/cards/ui/geoContextHelpers.ts
Due: biome-check

fix(frontend): update ACS dataset vintage labels to 2024
  frontend/src/data/config/DatasetMetadataAcs.ts
Due: biome-check

Drop hardcoded ACS year from map card; refresh ACS vintage in metadata (#5184)
  frontend/src/cards/ui/GeoContext.test.ts
  frontend/src/cards/ui/geoContextHelpers.ts
  frontend/src/data/config/DatasetMetadataAcs.ts
Due: biome-check

refactor: drop REGEN_GOLDEN tool, document the existing regen pattern
  cspell.config.json
  python/CLAUDE.md
  python/tests/datasources/conftest.py
Due: pylint

docs: document the golden file regeneration process
  README.md
  python/CLAUDE.md
Due: none

feat: enable NCI county cancer in production
  frontend/.env.prod
Due: none

fix: drop county cancer cards that request datasets NCI does not publish
  frontend/CLAUDE.md
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/config/MetricConfigUtils.test.ts
  frontend/src/data/config/MetricConfigUtils.ts
  frontend/src/utils/generateReportInsight.ts
Due: biome-check

docs: note why DeepPartial permits null
  frontend/src/data/config/MetricConfigTypes.ts
Due: biome-check

address review: drop unused as const, cover top-level null delete
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigUtils.test.ts
Due: biome-check

Drop county cancer cards that request datasets NCI does not publish (#5192)
  frontend/CLAUDE.md
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/config/MetricConfigUtils.test.ts
  frontend/src/data/config/MetricConfigUtils.ts
  frontend/src/utils/generateReportInsight.ts
Due: biome-check

Retire SHOW_NCI_COUNTY_CANCER flag
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/.env.localhost
  frontend/src/data/providers/CdcCancerProvider.ts
  frontend/src/featureFlags.ts
Due: biome-check

Retire the SHOW_NCI_COUNTY_CANCER feature flag (#5193)
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/.env.localhost
  frontend/src/data/providers/CdcCancerProvider.ts
  frontend/src/featureFlags.ts
Due: biome-check

feat(scripts): add --flush-cache-prod to review_flagged_insights.sh
  scripts/review_flagged_insights.sh
Due: none

feat(scripts): add --flush-cache-prod to review_flagged_insights.sh (#5195)
  scripts/review_flagged_insights.sh
Due: none

chore(scripts): remove insight cache flush modes
  scripts/review_flagged_insights.sh
Due: none

docs(server): correct stale cache-key claims in CLAUDE.md
  server/CLAUDE.md
Due: none

Set the monthly ceiling to 6000, preserving the prior ratio
  config/variables.tf
  server/CLAUDE.md
  server/insight_budget.go
Due: none

Remove insight cache flush modes (#5197)
  scripts/review_flagged_insights.sh
  server/CLAUDE.md
Due: none

Set the daily ceiling to 240 to survive the UTC/Pacific day boundary
  config/variables.tf
  server/CLAUDE.md
  server/insight_budget.go
Due: none

Size insight generation ceilings against measured free-tier quota (#5170)
  config/variables.tf
  server/CLAUDE.md
  server/insight_budget.go
Due: none

docs(config): record that test and prod use separate Gemini projects
  config/secrets.tf
Due: none

docs(config): record that test and prod use separate Gemini projects (#5206)
  config/secrets.tf
Due: none

Key the usage ledger to the provider's quota calendar
  config/variables.tf
  server/CLAUDE.md
  server/insight_budget.go
  server/insight_test.go
Due: none

feat(frontend): add per-tab AI insight preview via URL param
  frontend/CLAUDE.md
  frontend/src/featureFlags.test.ts
  frontend/src/featureFlags.ts
  frontend/src/styles/HetComponents/HetAppBar.tsx
  frontend/src/styles/HetComponents/HetInsightPreviewBadge.tsx
  frontend/src/utils/urlutils.tsx
Due: biome-check

refactor(frontend): generalize preview mode into a URL-param flag registry
  frontend/CLAUDE.md
  frontend/src/featureFlags.test.ts
  frontend/src/featureFlags.ts
  frontend/src/styles/HetComponents/HetAppBar.tsx
  frontend/src/styles/HetComponents/HetDesktopToolbar.tsx
  frontend/src/styles/HetComponents/HetFeatureFlagIndicator.tsx
  frontend/src/styles/HetComponents/HetInsightPreviewBadge.tsx
  frontend/src/styles/HetComponents/HetMobileToolbar.tsx
  frontend/src/utils/urlutils.tsx
Due: biome-check

address review: state the daily/monthly crossover precisely
  server/CLAUDE.md
Due: none

refactor(frontend): derive the flag registry from its env declarations
  frontend/CLAUDE.md
  frontend/src/featureFlags.ts
Due: biome-check

refactor(frontend): read flags off a derived FLAGS map
  frontend/CLAUDE.md
  frontend/src/cards/CompareBubbleChartCard.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/InsightVisualizationButton.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/featureFlags.ts
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/reports/Report.tsx
Due: biome-check

Drop the flag registry: any VITE_SHOW_* var is a flag
  frontend/CLAUDE.md
  frontend/playwright-tests/featureFlags.ci.spec.ts
  frontend/src/cards/CompareBubbleChartCard.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/InsightVisualizationButton.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/featureFlags.test.ts
  frontend/src/featureFlags.ts
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/reports/Report.tsx
  frontend/src/styles/HetComponents/HetFeatureFlagIndicator.tsx
Due: biome-check

docs: list featureFlags.ts in the frontend key file table
  frontend/CLAUDE.md
Due: none

List the armed flags in the indicator's hover tooltip
  frontend/CLAUDE.md
  frontend/playwright-tests/featureFlags.ci.spec.ts
  frontend/src/styles/HetComponents/HetFeatureFlagIndicator.tsx
Due: biome-check

test: cover describeFeatureFlags and drop stale registry wording
  cspell.config.json
  frontend/src/featureFlags.test.ts
  frontend/src/featureFlags.ts
Due: biome-check

fix(a11y): make the feature flag list reachable on touch devices
  frontend/CLAUDE.md
  frontend/playwright-tests/featureFlags.ci.spec.ts
  frontend/src/styles/HetComponents/HetFeatureFlagIndicator.tsx
Due: biome-check

refactor: open the flag tooltip and log on any single interaction
  frontend/CLAUDE.md
  frontend/playwright-tests/featureFlags.ci.spec.ts
  frontend/src/styles/HetComponents/HetFeatureFlagIndicator.tsx
Due: biome-check

Add per-tab URL-param overrides for every feature flag (#5209)
  cspell.config.json
  frontend/CLAUDE.md
  frontend/playwright-tests/featureFlags.ci.spec.ts
  frontend/src/cards/CompareBubbleChartCard.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/InsightVisualizationButton.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/featureFlags.test.ts
  frontend/src/featureFlags.ts
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/reports/Report.tsx
  frontend/src/styles/HetComponents/HetDesktopToolbar.tsx
  frontend/src/styles/HetComponents/HetFeatureFlagIndicator.tsx
  frontend/src/styles/HetComponents/HetMobileToolbar.tsx
Due: biome-check

Make prod feature-flag-free by construction
  cspell.config.json
  frontend/.env.prod
  frontend/CLAUDE.md
  frontend/src/featureFlags.test.ts
  frontend/src/featureFlags.ts
Due: biome-check

Make prod feature-flag-free by construction (#5212)
  cspell.config.json
  frontend/.env.prod
  frontend/CLAUDE.md
  frontend/src/featureFlags.test.ts
  frontend/src/featureFlags.ts
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
