Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

docs(CLAUDE.md): update new-topic recipe for UniversalProvider
  CLAUDE.md
Due: none

refactor(chr): remove chr_population_* alias columns
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/config/MetricConfigSDOH.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/loading/DataSourceConfigs.ts
  python/datasources/chr.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
Due: pylint, biome-check

fix: remove fatal_population_pct from AHR_PROVIDER_METRICS
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
Due: biome-check

refactor(providers): select providers by topic instead of by column name
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/config/MetricConfigCovidCategory.ts
  frontend/src/data/config/MetricConfigHivCategory.ts
  frontend/src/data/config/MetricConfigMaternalHealth.ts
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/config/MetricConfigPhrmaBrfss.ts
  frontend/src/data/config/MetricConfigSDOH.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/loading/DataManager.ts
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/loading/VariableProviderMap.test.ts
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/providers/UniversalProvider.ts
  frontend/src/data/providers/VariableProvider.test.ts
  frontend/src/data/providers/VariableProvider.ts
  frontend/src/data/query/MetricQuery.ts
  frontend/src/data/react/WithLoadingOrErrorUI.test.tsx
  python/datasources/chr.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
Due: pylint, biome-check

fix: route queryX in CompareBubbleChartCard to correct topic provider
  frontend/src/cards/CompareBubbleChartCard.tsx
Due: biome-check

docs(frontend): describe topic-based provider registration
  frontend/CLAUDE.md
Due: none

fix(map): resolve dataTypeConfig per geography in MapCard
  frontend/src/cards/MapCard.tsx
Due: biome-check

refactor(providers): select providers by topic instead of by column name (#5272)
  frontend/CLAUDE.md
  frontend/src/cards/CompareBubbleChartCard.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/config/MetricConfigCovidCategory.ts
  frontend/src/data/config/MetricConfigHivCategory.ts
  frontend/src/data/config/MetricConfigMaternalHealth.ts
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/config/MetricConfigPhrmaBrfss.ts
  frontend/src/data/config/MetricConfigSDOH.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/loading/DataManager.ts
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/loading/VariableProviderMap.test.ts
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/providers/UniversalProvider.ts
  frontend/src/data/providers/VariableProvider.test.ts
  frontend/src/data/providers/VariableProvider.ts
  frontend/src/data/query/MetricQuery.ts
  frontend/src/data/react/WithLoadingOrErrorUI.test.tsx
  python/datasources/chr.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
Due: pylint, biome-check

fix(docs): add import guidance and skipFipsAppend to provider recipe
  CLAUDE.md
Due: none

fix(cancer): request state-split NCI county file instead of national
  frontend/playwright-tests/cervical_cancer.spec.ts
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/providers/UniversalProvider.ts
Due: biome-check

docs: drop skipFipsAppend from config option list
  CLAUDE.md
Due: none

fix(cancer): request state-split NCI county file instead of national (#5273)
  frontend/playwright-tests/cervical_cancer.spec.ts
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/providers/UniversalProvider.ts
Due: biome-check

address review: use DataTypeId not metric-ID in provider registration guidance
  CLAUDE.md
Due: none

address review: drop nonexistent transformRows from config field list
  CLAUDE.md
Due: none

docs(methodology): document maternal mortality live birth denominators
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/MaternalHealthLink.tsx
  frontend/src/utils/externalUrls.ts
Due: biome-check

Apply batched suggestions from code review
  frontend/src/pages/Methodology/methodologySections/MaternalHealthLink.tsx
Due: biome-check

docs(CLAUDE.md): update new-topic recipe for UniversalProvider (#5270)
  CLAUDE.md
Due: none

docs(methodology): document maternal mortality live birth denominators (#5275)
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/MaternalHealthLink.tsx
  frontend/src/utils/externalUrls.ts
Due: biome-check

feat(skills): refresh ReadMe recipes from /merge
  .claude/skills/merge/SKILL.md
  .gitignore
  scripts/readme_recipes/recipes.json
  scripts/readme_recipes/sync_recipes.py
Due: pylint

address review: exit 3 and a timeout for ReadMe API failures
  .claude/skills/merge/SKILL.md
  scripts/readme_recipes/sync_recipes.py
Due: pylint

address review: split /update-recipes skill, add resolver tests, drop blanket json ignore
  .claude/skills/merge/SKILL.md
  .claude/skills/update-recipes/SKILL.md
  .gitignore
  python/tests/scripts/test_sync_recipes.py
  scripts/readme_recipes/sync_recipes.py
Due: pylint

restore json gitignore rule with the recipes.json exception
  .gitignore
Due: none

fix: add mypy type guards for dynamic module loading
  python/tests/scripts/test_sync_recipes.py
Due: pylint

ci: check out scripts/ and trigger Backend CI on it so the recipe sync tests can run
  .github/workflows/runPythonChecks.yml
Due: none

address review: tighten update-recipes preflight and drop persisted CI credentials
  .claude/skills/update-recipes/SKILL.md
  .github/workflows/runPythonChecks.yml
Due: none

feat(skills): refresh ReadMe recipes from /merge (#5277)
  .claude/skills/merge/SKILL.md
  .claude/skills/update-recipes/SKILL.md
  .github/workflows/runPythonChecks.yml
  .gitignore
  python/tests/scripts/test_sync_recipes.py
  scripts/readme_recipes/recipes.json
  scripts/readme_recipes/sync_recipes.py
Due: pylint

chore(ci): split Backend CI into separate Go and Python workflows
  .github/workflows/runGoChecks.yml
  .github/workflows/runPythonChecks.yml
Due: none

address review: run go build alongside go test
  .github/workflows/runGoChecks.yml
Due: none

address review: name Go workflow and job for the server
  .github/workflows/runGoChecks.yml
Due: none

address review: add paths filter to push trigger
  .github/workflows/runGoChecks.yml
Due: none

fix(maternal_mortality): count Asian and NHPI births toward API state denominators
  frontend/src/pages/Methodology/methodologySections/MaternalHealthLink.tsx
  python/datasources/maternal_mortality.py
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_historical.csv
Due: pylint, biome-check

Split Backend CI into separate Go and Python workflows (#5281)
  .github/workflows/runGoChecks.yml
  .github/workflows/runPythonChecks.yml
Due: none

docs(server): explain why corsMiddleware allows any origin
  server/handlers.go
Due: none

Document corsMiddleware origin policy and exercise Go CI (#5284)
  server/handlers.go
Due: none

chore(gitignore): remove blanket *.json rule, add narrow ignores, commit 2023 ACS fixtures
  .gitignore
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_AIAN.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_ASIAN.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_BLACK.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_HISP.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_MULTI.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_NHPI.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_OTHER_STANDARD.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_WHITE.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_AIAN.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_ASIAN.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_BLACK.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_HISP.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_MULTI.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_NHPI.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_OTHER_STANDARD.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_WHITE.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_SEX_COUNTY.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_SEX_STATE.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_AIAN.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_ASIAN.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_BLACK.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_HISP.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_MULTI.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_NHPI.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_OTHER_STANDARD.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_WHITE.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_AIAN.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_ASIAN.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_BLACK.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_HISP.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_MULTI.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_NHPI.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_OTHER_STANDARD.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_WHITE.json
  python/tests/data/acs_condition/2023-POVERTY_BY_SEX_COUNTY.json
  python/tests/data/acs_condition/2023-POVERTY_BY_SEX_STATE.json
Due: none

chore(gitignore): narrow CAWP JSON ignore to the generated files
  .gitignore
Due: none

chore(cawp): drop unused legislators JSON downloads
  .gitignore
  data/cawp/refresh_cawp_data.py
Due: pylint

chore(cawp): delete orphan Python refresh script, drop unused 2023 ACS fixtures
  .gitignore
  data/cawp/refresh_cawp_data.py
  frontend/scripts/refresh_cawp_data.ts
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_AIAN.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_ASIAN.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_BLACK.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_HISP.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_MULTI.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_NHPI.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_OTHER_STANDARD.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_COUNTY_WHITE.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_AIAN.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_ASIAN.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_BLACK.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_HISP.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_MULTI.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_NHPI.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_OTHER_STANDARD.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_RACE_STATE_WHITE.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_SEX_COUNTY.json
  python/tests/data/acs_condition/2023-HEALTH_INSURANCE_BY_SEX_STATE.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_AIAN.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_ASIAN.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_BLACK.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_HISP.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_MULTI.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_NHPI.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_OTHER_STANDARD.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_COUNTY_WHITE.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_AIAN.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_ASIAN.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_BLACK.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_HISP.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_MULTI.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_NHPI.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_OTHER_STANDARD.json
  python/tests/data/acs_condition/2023-POVERTY_BY_RACE_STATE_WHITE.json
  python/tests/data/acs_condition/2023-POVERTY_BY_SEX_COUNTY.json
  python/tests/data/acs_condition/2023-POVERTY_BY_SEX_STATE.json
Due: pylint, biome-check

chore(cawp,gitignore): consolidate refresh script, drop unused test fixtures (#5285)
  .gitignore
  data/cawp/refresh_cawp_data.py
  frontend/scripts/refresh_cawp_data.ts
Due: pylint, biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
