Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

refactor(cawp): register congressional_districts as MetricId, remove capture-reattach
  frontend/src/cards/MapCard.tsx
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/providers/CawpProvider.test.ts
  frontend/src/data/providers/CawpProvider.ts
Due: biome-check

fix(cawp): skip congressional_districts fetch at national level
  frontend/src/cards/MapCard.tsx
Due: biome-check

feat(cawp): register congressional_districts as a proper MetricId (#4878)
  frontend/src/cards/MapCard.tsx
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/providers/CawpProvider.test.ts
  frontend/src/data/providers/CawpProvider.ts
Due: biome-check

perf(deps): remove data-forge, replace with native array operations (#4877)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/cards/CompareBubbleChartCard.tsx
  frontend/src/data/loading/DataManager.ts
  frontend/src/data/providers/AcsConditionProvider.ts
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/data/providers/CawpProvider.ts
  frontend/src/data/providers/CdcCancerProvider.ts
  frontend/src/data/providers/CdcCovidProvider.ts
  frontend/src/data/providers/GeoContextProvider.ts
  frontend/src/data/providers/GunDeathsBlackMenProvider.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/data/providers/GunViolenceYouthProvider.ts
  frontend/src/data/providers/HivBlackWomenProvider.ts
  frontend/src/data/providers/HivProvider.ts
  frontend/src/data/providers/IncarcerationProvider.tsx
  frontend/src/data/providers/MaternalMortalityProvider.ts
  frontend/src/data/providers/PhrmaBrfssProvider.ts
  frontend/src/data/providers/PhrmaProvider.ts
  frontend/src/data/providers/VaccineProvider.ts
  frontend/src/data/providers/VariableProvider.test.ts
  frontend/src/data/providers/VariableProvider.ts
  frontend/src/data/query/MetricQuery.ts
  frontend/src/data/utils/DatasetTimeUtils.test.ts
  frontend/src/data/utils/DatasetTimeUtils.ts
  frontend/src/data/utils/DatasetTypes.ts
  frontend/src/data/utils/datasetutils.ts
Due: biome-check

feat(data_server): rewrite in Go for fast cold starts
  data_server/Dockerfile
  data_server/cache.go
  data_server/gcs.go
  data_server/go.mod
  data_server/go.sum
  data_server/handlers.go
  data_server/insights.go
  data_server/main.go
  data_server/main_test.go
Due: none

fix(data_server): timing-safe token comparison and CLAUDE.md clarity
  data_server/CLAUDE.md
  data_server/main.go
Due: none

fix(data_server): address new Gemini review comments
  data_server/handlers.go
  data_server/insights.go
Due: none

docs: update root CLAUDE.md data_server description to Go
  CLAUDE.md
Due: none

fix(data_server): fix Dockerfile COPY paths for repo-root build context
  data_server/Dockerfile
Due: none

feat(server): add combined Go server replacing both frontend_server and data_server
  .github/workflows/runPythonChecks.yml
  CLAUDE.md
  server/.gitignore
  server/CLAUDE.md
  server/Dockerfile
  server/anthropic.go
  server/cache.go
  server/gcs.go
  server/go.mod
  server/go.sum
  server/handlers.go
  server/insights.go
  server/main.go
  server/main_test.go
  server/static.go
  server/webflow.go
Due: none

skill(release): track failed deploys and annotate stale release tags
  .claude/skills/release/SKILL.md
Due: none

address review: use git for-each-ref to include tag timestamps
  .claude/skills/release/SKILL.md
Due: none

skill(release): handle failed deploys correctly (#4881)
  .claude/skills/release/SKILL.md
Due: none

fix(server): address code review findings from combined Go server
  server/CLAUDE.md
  server/Dockerfile
  server/anthropic.go
  server/handlers.go
  server/insights.go
  server/main.go
  server/main_test.go
  server/static.go
  server/webflow.go
Due: none

address review: GCS async upload, name validation, error logging, mem cache on re-enable
  server/anthropic.go
  server/handlers.go
  server/insights.go
Due: none

docs: fix data_server description — reverted to Python Flask
  CLAUDE.md
Due: none

Feat/flagged insight review tooling (#4851)
  .github/workflows/cronReviewFlaggedInsights.yml
  README.md
  data_server/main.py
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/utils/fetchAIInsight.ts
  frontend/src/utils/flagInsight.ts
  frontend/src/utils/generateReportInsight.ts
  frontend_server/server.js
  python/tests/data_server/test_main.py
  scripts/review_flagged_insights.sh
Due: pylint, biome-check

fix(server): check suppression before in-process cache in fetchAIInsightHandler
  server/anthropic.go
Due: none

feat(infra): store Cloud Run runtime secrets in Secret Manager
  config/run.tf
  config/secrets.tf
Due: none

fix(infra): do not manage Secret Manager API enablement in Terraform
  config/secrets.tf
Due: none

fix(infra): harden Secret Manager handling per PR review
  config/run.tf
  config/secrets.tf
Due: none

fix: make policy/methodology sidebar rows navigate on first click
  frontend/src/styles/HetComponents/HetCardMenu.tsx
  frontend/src/styles/HetComponents/HetCardMenuMobile.tsx
  frontend/src/styles/HetComponents/HetListItemButton.tsx
Due: biome-check

fix: forward id, style, and onClick props in HetListItemButton
  frontend/src/styles/HetComponents/HetListItemButton.tsx
Due: biome-check

fix: restore @emnapi lock file entries dropped by macOS npm install
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

address review: fix null check, numerator comparison, and cell typography
  frontend/src/charts/TableChart.tsx
  frontend/src/styles/HetComponents/HetTable.tsx
Due: biome-check

fix(het-table): restore metric label on 'All' column header in alt table views
  frontend/src/cards/ui/AltTableView.tsx
  frontend/src/reports/CustomAltTable.tsx
Due: biome-check

address review: escape prompt delimiters in negative-examples sanitizer
  server/anthropic.go
Due: none

infra(server): replace data_server + frontend_server with Go server
  .github/actions/buildAllAndDeploy/action.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/runDestroyInfraTest.yml
  config/common.tfvars
  config/example.tfvars
  config/gcp.tfvars
  config/run.tf
  config/serviceaccounts.tf
  config/variables.tf
  server_smoke_tests/requirements.txt
  server_smoke_tests/test_data_serving.py
Due: pylint

skill(review): deliver findings inline, skip GitHub posting prompt
  .claude/skills/review/SKILL.md
Due: none

skill(review): fix stale frontmatter description
  .claude/skills/review/SKILL.md
Due: none

infra(server): manage Cloud Run domain mapping in Terraform
  config/example.tfvars
  config/gcp.tfvars
  config/run.tf
  config/variables.tf
Due: none

fix(infra): remove Cloud Run domain mapping from Terraform
  config/example.tfvars
  config/gcp.tfvars
  config/run.tf
  config/variables.tf
Due: none

fix(server): rename /healthz to /health to avoid GCP Frontend interception
  server/handlers.go
  server/main.go
  server/main_test.go
  server_smoke_tests/test_data_serving.py
Due: pylint

fix(server): add /api/dataset and /api/metadata routes
  server/main.go
Due: none

fix(a11y): satisfy Biome 2.5 noAmbiguousAnchorText on Learn-more links
  frontend/src/cards/ui/IncarceratedChildrenShortAlert.tsx
  frontend/src/styles/HetComponents/HetCarouselCard.tsx
Due: biome-check
