Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

skill(pr): auto-merge main without confirmation gate (#4860)
  .claude/skills/pr/SKILL.md
Due: none

fix(cawp): correct county E2E test assertions
  frontend/playwright-tests/cawp.ci.spec.ts
Due: biome-check

feat(cawp): county-level Women in US Congress by race (#4824)
  cspell.config.json
  data/cawp/refresh_cawp_data.py
  python/datasources/cawp.py
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_historical.csv
  python/tests/data/cawp/mock_county_crosswalk.txt
  python/tests/datasources/test_cawp.py
Due: pylint

feat(cawp): display congressional district numbers on county report
  frontend/src/cards/RateBarChartCard.tsx
  frontend/src/cards/ui/CAWPCountyMultiDistrictAlert.tsx
  frontend/src/data/providers/CawpProvider.ts
Due: biome-check

fix(e2e): drop flaky WebKit assertion from CAWP Congress test
  frontend/playwright-tests/cawp.ci.spec.ts
Due: biome-check

fix(insight): fix county-level map insights and suppress no-compariso… (#4850)
  cspell.config.json
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateTrendsChartCard.tsx
  frontend/src/cards/ShareTrendsChartCard.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/utils/generateVisualizationInsight.test.ts
  frontend/src/utils/generateVisualizationInsight.ts
  frontend_server/server.js
Due: biome-check

refactor(cawp): move multi-district alert from rate bar chart to map card
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateBarChartCard.tsx
Due: biome-check

fix(choropleth): use threshold scale for data with few distinct values
  frontend/src/charts/choroplethMap/colorSchemes.ts
Due: biome-check

address review: fix off-by-one in threshold range slice
  frontend/src/charts/choroplethMap/colorSchemes.ts
Due: biome-check

fix(choropleth): use threshold scale for discrete data (#4862)
  frontend/src/charts/choroplethMap/colorSchemes.ts
Due: biome-check

fix(e2e): grant clipboard permissions in Playwright config
  frontend/playwright.config.ts
Due: biome-check

fix(e2e): grant clipboard permissions in Playwright config (#4863)
  frontend/playwright.config.ts
Due: biome-check

feat(cawp): county-level Women in US Congress frontend (#4837)
  frontend/playwright-tests/cawp.ci.spec.ts
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateBarChartCard.tsx
  frontend/src/cards/ui/CAWPCountyMultiDistrictAlert.tsx
  frontend/src/data/config/DatasetMetadataCawp.ts
  frontend/src/data/providers/CawpProvider.ts
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/PdohLink.tsx
Due: biome-check

fix(ui): clipboard focus, error toast color, map card layout tweaks
  frontend/src/cards/ChartTitle.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/charts/choroplethMap/LegendItem.tsx
  frontend/src/styles/HetComponents/HetBreadcrumbs.tsx
  frontend/src/styles/HetComponents/HetSnackbar.tsx
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

fix: disable CodeRabbit docstring check, prevent bar label clipping on narrow charts
  .coderabbit.yaml
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
Due: biome-check

fix(bar-chart): center end-of-bar label vertically using dy=0.35em
  frontend/src/charts/rateBarChart/EndOfRateBarLabel.tsx
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
Due: biome-check

fix(config): move pre_merge_checks under reviews in coderabbit config
  .coderabbit.yaml
Due: none

fix(legend): switch from columns to grid for row alignment, increase gap
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
Due: biome-check

fix(legend): revert to columns layout, increase gap-x and space-y for breathing room
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
Due: biome-check

fix(insight): harden review script and workflow per PR feedback
  .github/workflows/cronReviewFlaggedInsights.yml
  frontend/src/utils/generateVisualizationInsight.ts
  scripts/review_flagged_insights.sh
Due: biome-check

fix(insight): avoid CSpell false positive in clear_cache glob
  scripts/review_flagged_insights.sh
Due: none

chore(insight): document status source-of-truth and pin CI buckets
  .github/workflows/cronReviewFlaggedInsights.yml
  scripts/review_flagged_insights.sh
Due: none

fix(ui): clipboard focus, error toast color, map card layout tweaks (#4864)
  .coderabbit.yaml
  frontend/src/cards/ChartTitle.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/charts/choroplethMap/LegendItem.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/rateBarChart/EndOfRateBarLabel.tsx
  frontend/src/styles/HetComponents/HetBreadcrumbs.tsx
  frontend/src/styles/HetComponents/HetSnackbar.tsx
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

feat(insight): make permanent ban a one-way door distinct from suppress
  data_server/main.py
  python/tests/data_server/test_main.py
  scripts/review_flagged_insights.sh
Due: pylint

fix(e2e): update population phrase selectors from li to p
  frontend/playwright-tests/bb_ami.spec.ts
  frontend/playwright-tests/maternal_mortality.spec.ts
  frontend/playwright-tests/medicare_hiv.spec.ts
  frontend/playwright-tests/medicare_schizophrenia.spec.ts
Due: biome-check

fix(e2e): update population phrase selectors from li to p (#4865)
  frontend/playwright-tests/bb_ami.spec.ts
  frontend/playwright-tests/maternal_mortality.spec.ts
  frontend/playwright-tests/medicare_hiv.spec.ts
  frontend/playwright-tests/medicare_schizophrenia.spec.ts
Due: biome-check

refactor(insight): simplify flag lifecycle to flagged + suppressed (per review)
  data_server/main.py
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/utils/fetchAIInsight.ts
  frontend/src/utils/flagInsight.ts
  frontend/src/utils/generateReportInsight.ts
  frontend_server/server.js
  python/tests/data_server/test_main.py
  scripts/review_flagged_insights.sh
Due: pylint, biome-check

perf(frontend_server): cache IAM identity token for 55 minutes
  frontend_server/server.js
Due: none

address review: cache promise to prevent stampede and error caching
  frontend_server/server.js
Due: none

perf(frontend_server): cache IAM identity token for 55 minutes (#4875)
  frontend_server/server.js
Due: none

obs(frontend-server): log IAM token fetch and failure events
  frontend_server/server.js
Due: none

address review: log full error object for iam-token failures
  frontend_server/server.js
Due: none

obs(frontend-server): log IAM token fetch and failure events (#4876)
  frontend_server/server.js
Due: none

perf(deps): remove data-forge, replace with native array operations
  frontend/package-lock.json
  frontend/package.json
  frontend/src/cards/CompareBubbleChartCard.tsx
  frontend/src/data/loading/DataManager.ts
  frontend/src/data/providers/AcsConditionProvider.ts
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/data/providers/CawpProvider.ts
  frontend/src/data/providers/CdcCancerProvider.ts
  frontend/src/data/providers/CdcCovidProvider.ts
  frontend/src/data/providers/GeoContextProvider.ts
  frontend/src/data/providers/GunDeathsBlackMenProvider.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/data/providers/GunViolenceYouthProvider.ts
  frontend/src/data/providers/HivBlackWomenProvider.ts
  frontend/src/data/providers/HivProvider.ts
  frontend/src/data/providers/IncarcerationProvider.tsx
  frontend/src/data/providers/MaternalMortalityProvider.ts
  frontend/src/data/providers/PhrmaBrfssProvider.ts
  frontend/src/data/providers/PhrmaProvider.ts
  frontend/src/data/providers/VaccineProvider.ts
  frontend/src/data/providers/VariableProvider.ts
  frontend/src/data/query/MetricQuery.ts
  frontend/src/data/utils/DatasetTimeUtils.test.ts
  frontend/src/data/utils/DatasetTimeUtils.ts
  frontend/src/data/utils/DatasetTypes.ts
  frontend/src/data/utils/datasetutils.ts
Due: biome-check

test(providers): add unit tests for VariableProvider array methods
  frontend/src/data/providers/VariableProvider.test.ts
Due: biome-check

address review: fix spread overflow, add provider invariant, fix bubble chart join key
  frontend/src/cards/CompareBubbleChartCard.tsx
  frontend/src/data/loading/DataManager.ts
  frontend/src/data/providers/VariableProvider.test.ts
  frontend/src/data/utils/DatasetTimeUtils.ts
Due: biome-check

refactor(test): use 'as any' cast for test_provider stub id
  frontend/src/data/providers/VariableProvider.test.ts
Due: biome-check

fix(deps): restore emnapi entries dropped by macOS npm uninstall
  frontend/package-lock.json
Due: biome-check

address review: key congressional_districts by fips instead of positional index
  frontend/src/data/providers/CawpProvider.ts
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
