Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

re install emotion
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

migrate away from mui box, emotion
  frontend/src/App.tsx
  frontend/src/styles/HetComponents/HetCarouselCard.tsx
  frontend/src/styles/MaterialTheme.tsx
Due: biome-check

updating package json
  frontend/package-lock.json
Due: biome-check

emotion
  frontend/package-lock.json
  frontend/src/pages/Methodology/methodologyComponents/StripedTable.tsx
Due: biome-check

Reinstall @emotion/styled (#4324)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/Methodology/methodologyComponents/StripedTable.tsx
  frontend/src/styles/HetComponents/HetCarouselCard.tsx
  frontend/src/styles/MaterialTheme.tsx
Due: biome-check

fixed improperly formatted function
  frontend/src/cards/generateInsights.tsx
Due: biome-check

updating package file
  frontend/package.json
Due: biome-check

updating package lock json
  frontend/package-lock.json
Due: biome-check

fixing data server files
  data_server/main.py
  data_server/test_data_server.py
Due: pylint

adding route to server
  frontend_server/server.js
Due: none

19
  frontend/package.json
Due: biome-check

react 19 with explicit overrides
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

rf JSX to react node
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/ui/DemographicGroupMenu.tsx
  frontend/src/custom.d.ts
  frontend/src/data/react/WithLoadingOrErrorUI.tsx
  frontend/src/pages/ExploreData/DefaultHelperBoxData.tsx
  frontend/src/pages/ExploreData/OnboardingSteps.tsx
  frontend/src/pages/News/NewsAndStoriesPreviewCardOutlined.tsx
  frontend/src/pages/Policy/policyComponents/ResourceSection.tsx
  frontend/src/reports/RowOfTwoOptionalMetrics.tsx
  frontend/src/reports/ui/DefinitionsList.tsx
  frontend/src/styles/HetComponents/HetTerm.tsx
Due: biome-check

ts codemod
  frontend/src/cards/ui/DemographicGroupMenu.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/types.ts
  frontend/src/charts/rateBarChart/useRateChartTooltip.tsx
  frontend/src/pages/News/NewsAndStoriesPreviewCardOutlined.tsx
  frontend/src/reports/RowOfTwoOptionalMetrics.tsx
  frontend/src/utils/hooks/useResponsiveWidth.tsx
Due: biome-check

Upgrades to React 19, with overrides (#4325)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/ui/DemographicGroupMenu.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/types.ts
  frontend/src/charts/rateBarChart/useRateChartTooltip.tsx
  frontend/src/custom.d.ts
  frontend/src/data/react/WithLoadingOrErrorUI.tsx
  frontend/src/pages/ExploreData/DefaultHelperBoxData.tsx
  frontend/src/pages/ExploreData/OnboardingSteps.tsx
  frontend/src/pages/News/NewsAndStoriesPreviewCardOutlined.tsx
  frontend/src/pages/Policy/policyComponents/ResourceSection.tsx
  frontend/src/reports/RowOfTwoOptionalMetrics.tsx
  frontend/src/reports/ui/DefinitionsList.tsx
  frontend/src/styles/HetComponents/HetTerm.tsx
  frontend/src/utils/hooks/useResponsiveWidth.tsx
Due: biome-check

rm helmet
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Policy/policySections/DataCollectionTab.tsx
Due: biome-check

adding cors headers
  frontend_server/server.js
Due: none

updating cors template
  frontend_server/server.js
Due: none

updating server.js
  frontend/src/cards/generateInsights.tsx
  frontend_server/server.js
Due: biome-check

updates script to create as subissues
  scripts/make_github_issues
Due: none

ignore
  scripts/make_github_issues
Due: none

cleaning up pr
  data_server/requirements.in
  frontend/src/cards/generateInsights.tsx
  frontend_server/server.js
  requirements/tests.in
  shared_requirements/requirements.txt
Due: biome-check

updating cors logic
  frontend_server/server.js
Due: none

Updates Issues script to make sub-issues (#4372)
  scripts/make_github_issues
Due: none

removing open_ai_api key from run_gcs_to_bq and data_server files
  data_server/Dockerfile
  data_server/requirements.in
  frontend/src/cards/generateInsights.tsx
  run_gcs_to_bq/Dockerfile
Due: biome-check

updates our explore data tables
  frontend/package-lock.json
  frontend/package.json
  frontend/src/charts/AgeAdjustedTableChart.tsx
  frontend/src/charts/TableChart.tsx
  frontend/src/react-table-config.d.ts
Due: biome-check

Adds server endpoint to handle OpenAI API requests (#3824)
  .github/workflows/deployStaging.yml
  .github/workflows/testBackendChangesInfraTest.yml
  cspell.config.json
  frontend/src/cards/generateInsights.tsx
  frontend_server/server.js
Due: biome-check

Update react table (#4374)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/charts/AgeAdjustedTableChart.tsx
  frontend/src/charts/TableChart.tsx
  frontend/src/react-table-config.d.ts
Due: biome-check

update
  frontend/src/App.tsx
  frontend/src/data/config/DatasetMetadata.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/query/MetricQuery.ts
Due: biome-check

h4 white
  frontend/src/index.css
Due: none

white
  frontend/src/index.css
Due: none

main
  frontend/src/App.tsx
Due: biome-check

rm paren
  frontend/src/reports/Report.tsx
Due: biome-check

Tweaks (#4376)
  frontend/src/data/config/DatasetMetadata.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/query/MetricQuery.ts
  frontend/src/index.css
  frontend/src/reports/Report.tsx
Due: biome-check

react 19 joyride
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
  frontend/src/pages/ExploreData/Onboarding.tsx
Due: biome-check

Joyride react 19 (#4377)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
  frontend/src/pages/ExploreData/Onboarding.tsx
Due: biome-check

rf lazyload
  frontend/package-lock.json
  frontend/package.json
  frontend/src/custom.d.ts
  frontend/src/pages/AboutUs/AboutUsPage.tsx
  frontend/src/pages/AboutUs/GoalListItem.tsx
  frontend/src/pages/ExploreData/OnboardingSteps.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/News/NewsAndStoriesPreviewCardOutlined.tsx
  frontend/src/pages/Policy/policySections/OurFindingsTab.tsx
  frontend/src/reports/CustomUnknownMap.tsx
  frontend/src/reports/Report.tsx
  frontend/src/styles/HetComponents/HetLazyLoader.tsx
Due: biome-check

fix
  frontend/playwright-tests/hiv.ci.spec.ts
  frontend/src/cards/AgeAdjustedTableCard.tsx
  frontend/src/cards/TableCard.tsx
  frontend/src/data/config/MetricConfigUtils.ts
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/Report.tsx
  frontend/src/styles/HetComponents/HetLazyLoader.tsx
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
