Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

fix
  frontend/src/data/config/DatasetMetadataHivCategory.ts
Due: biome-check

Fix hiv breakdowns (#4401)
  frontend/src/data/config/DatasetMetadataHivCategory.ts
Due: biome-check

adds headings and nav
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/CommunitySafetyLink.tsx
  frontend/src/pages/Methodology/methodologySections/HivLink.tsx
Due: biome-check

fixes bug when datatype is undefined; removes deprecated props
  frontend/src/pages/ui/Sidebar.tsx
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/Report.tsx
  frontend/src/reports/ui/ModeSelectorBoxMobile.tsx
Due: biome-check

updating error handling
  frontend/src/cards/ui/InsightDisplay.tsx
  frontend_server/server.js
Due: biome-check

updating server file
  frontend_server/server.js
Due: none

Handles openai rate limits and adds server side caching (#4390)
  frontend/package.json
  frontend/src/cards/generateInsights.tsx
  frontend/src/cards/generateInsightsUtils.tsx
  frontend/src/cards/ui/InsightDisplay.tsx
  frontend_server/server.js
Due: biome-check

Frontend: Bugfix incoming demo param (#4411)
  frontend/src/pages/ui/Sidebar.tsx
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/Report.tsx
  frontend/src/reports/ui/ModeSelectorBoxMobile.tsx
Due: biome-check

remove unnecessary code
  frontend/src/cards/UnknownsMapCard.tsx
Due: biome-check

fixes methodology link bug hyphen instead of underscore
  frontend/src/data/config/MetricConfigMaternalHealth.ts
  frontend/src/utils/MadLibs.ts
Due: biome-check

Bugfix hyphen instead of underscore in methodology link (#4412)
  frontend/src/data/config/MetricConfigMaternalHealth.ts
  frontend/src/utils/MadLibs.ts
Due: biome-check

looking for golden changes
  behavioral_health_sex_national_current
  behavioral_health_sex_national_historical
  python/ingestion/graphql_ahr_utils.py
  python/tests/datasources/test_graphql_ahr.py
  update_golden_csvs.py
Due: pylint

2 failing tests now passing
  behavioral_health_sex_national_current
  behavioral_health_sex_national_historical
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_historical.csv
  python/tests/datasources/test_graphql_ahr.py
Due: pylint

all tests now pass
  python/tests/datasources/test_graphql_ahr.py
Due: pylint

uncommented in ahr_utils
  python/ingestion/graphql_ahr_utils.py
Due: pylint

deleted all extra code in ahr_utils
  python/ingestion/graphql_ahr_utils.py
Due: pylint

updates ahr backend for drinking pct rate (#4394)
  python/ingestion/graphql_ahr_utils.py
  python/tests/data/graphql_ahr/golden_data/behavioral_health_age_national_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_age_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_historical.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_sex_national_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_sex_national_historical.csv
Due: pylint

rn shared config
  .github/dependabot.yml
  data_server/Dockerfile
  data_server/requirements.txt
  exporter/Dockerfile
  exporter/requirements.txt
  python/tests/requirements.txt
  requirements/tests.txt
  run_gcs_to_bq/Dockerfile
  run_gcs_to_bq/requirements.txt
  run_ingestion/Dockerfile
  run_ingestion/requirements.txt
  shared_config/constants.py
  shared_config/requirements.txt
Due: pylint

share ttl
  data_server/main.py
  python/data_server/dataset_cache.py
  shared_config/__init__.py
  shared_config/constants.py
Due: pylint

No data label update map (#4393)
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
Due: biome-check

:adding rate limit handling
  frontend/src/cards/ui/InsightDisplay.tsx
Due: biome-check

consts
  data_server/main.py
  python/data_server/dataset_cache.py
  python/data_server/gcs_utils.py
Due: pylint

intial layout for chlp modal
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
  frontend/src/reports/ReportProvider.tsx
  frontend/src/reports/ui/CHLPMapsBanner.tsx
  frontend/src/utils/urlutils.tsx
Due: biome-check

fix
  data_server/main.py
  python/data_server/gcs_utils.py
Due: pylint

remove unneeded file from pr
  frontend/src/cards/ui/InsightDisplay.tsx
Due: biome-check

adding chlp map
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
Due: biome-check

adding viewpdf button
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
Due: biome-check

releases phrmna mental health
  frontend/.env.deploy_preview
  frontend/.env.staging
  frontend/playwright-tests/medicare_schizophrenia.spec.ts
  frontend/src/data/config/MetadataMap.test.ts
  frontend/src/featureFlags.ts
  frontend/src/pages/Methodology/methodologySections/MedicationUtilizationLink.tsx
  frontend/src/utils/MadLibs.ts
Due: biome-check

fix missing dataset ids in meta data
  frontend/src/data/config/MetadataMap.ts
Due: biome-check

Shares TTL between data server files (#4415)
  data_server/main.py
  python/data_server/dataset_cache.py
  python/data_server/gcs_utils.py
Due: pylint

Releases phrma mental health (removing feature flag) (#4417)
  frontend/.env.deploy_preview
  frontend/.env.staging
  frontend/playwright-tests/medicare_schizophrenia.spec.ts
  frontend/src/data/config/MetadataMap.test.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/featureFlags.ts
  frontend/src/pages/Methodology/methodologySections/MedicationUtilizationLink.tsx
  frontend/src/utils/MadLibs.ts
Due: biome-check

tmp fix bug with gap when compare chart hidden
  frontend/src/reports/Report.tsx
  frontend/src/styles/HetComponents/HetLazyLoader.tsx
Due: biome-check

Fix gap (#4419)
  frontend/src/reports/Report.tsx
  frontend/src/styles/HetComponents/HetLazyLoader.tsx
Due: biome-check

start handling taps vs clicks; improve hover state on map and tooltip layout
  frontend/src/cards/MapCard.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

style tap
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
Due: biome-check

tapping link on hover tooltip works on mobile
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

small refactor
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/reports/ui/CHLPMapsBanner.tsx
Due: biome-check

resets state on touch end
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
Due: biome-check

cleanup
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
Due: biome-check

clean
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
