Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

chore(workflows): rename runFrontendTestsOld.yml to runFrontendTests.yml.old
  .github/workflows/runFrontendTests.yml.old
Due: none

120
  frontend/playwright.config.ts
Due: biome-check

chore(workflow): update frontend test workflow for validation and E2E
  .github/workflows/runFrontendTests.yml
Due: none

chore(playwright): increase CI test timeout to 300 seconds
  frontend/playwright.config.ts
Due: biome-check

360
  frontend/playwright.config.ts
Due: biome-check

chore(workflow): increase E2E test workers from 2 to 3
  .github/workflows/runFrontendTests.yml
  .github/workflows/runFrontendTests.yml.old
Due: none

chore(workflow): reduce E2E test workers from 3 to 2
  .github/workflows/runFrontendTests.yml
Due: none

240
  frontend/playwright.config.ts
Due: biome-check

better
  frontend/playwright.config.ts
Due: biome-check

feat(playwright): add CI e2e test command and rename test files
  frontend/package.json
  frontend/playwright-tests/black_men_gun_homicides.spec.ts
  frontend/playwright-tests/guided_tour.spec.ts
  frontend/playwright-tests/gun_homicides.spec.ts
  frontend/playwright-tests/health_insurance-old.ci.spec.ts
  frontend/playwright-tests/hiv_black_women-old.ci.spec.ts
  frontend/playwright-tests/hiv_stigma.spec.ts
  frontend/playwright-tests/modals.spec.ts
  frontend/playwright-tests/navigation.ci.spec.ts
Due: biome-check

test
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

Improve CI runs for Frontend (#4572)
  .github/workflows/runFrontendTests.yml
  frontend/package.json
  frontend/playwright-tests/black_men_gun_homicides.spec.ts
  frontend/playwright-tests/guided_tour.spec.ts
  frontend/playwright-tests/gun_homicides.spec.ts
  frontend/playwright-tests/health_insurance-old.ci.spec.ts
  frontend/playwright-tests/hiv_black_women-old.ci.spec.ts
  frontend/playwright-tests/hiv_stigma.spec.ts
  frontend/playwright-tests/modals.spec.ts
  frontend/playwright-tests/navigation.ci.spec.ts
  frontend/playwright.config.ts
Due: biome-check

feat(ci): add GitHub Actions workflow for Python CI checks
  .github/workflows/runPythonChecks.yml
Due: none

trigger
  python/datasources/chr.py
Due: pylint

chore(workflow): update Python CI to Backend CI and clean up steps
  .github/workflows/runPythonChecks.yml
Due: none

chore(workflow): improve pytest command structure in CI config
  .github/workflows/runPythonChecks.yml
Due: none

chore(workflow): use editable installs for Mypy source scanning
  .github/workflows/runPythonChecks.yml
Due: none

test borken type
  python/datasources/cawp.py
Due: pylint

feat(datasources): update write_to_bq method signature and types
  .github/workflows/runMyPy.yml.old
  .github/workflows/runPytest.yml.old
  python/datasources/cawp.py
  python/ingestion/gcs_to_bq_util.py
Due: pylint

trigger
  python/datasources/bjs_incarceration.py
Due: pylint

chore(workflows): remove old mypy and pytest workflow files
  .github/workflows/runMyPy.yml.old
  .github/workflows/runPytest.yml.old
Due: none

Improves Python CI - shared setup phase (#4575)
  .github/workflows/runMyPy.yml
  .github/workflows/runPytest.yml
  .github/workflows/runPythonChecks.yml
  python/datasources/bjs_incarceration.py
  python/datasources/cawp.py
  python/datasources/chr.py
  python/ingestion/gcs_to_bq_util.py
Due: pylint

feat(workflow): add spellcheck and linting workflow for infrastructure
  .github/workflows/runToolingSpellChecks.yml
Due: none

chore(workflow): update workflow names and improve job descriptions
  .github/workflows/runToolingSpellChecks.yml
Due: none

fix(install-all-python): improve handling of spaces in file paths
  install-all-python.sh
Due: none

chore(workflow): update spellcheck and infra jobs for parallel execution
  .github/workflows/runToolingSpellChecks.yml
  .yamllint
Due: none

chore(yamllint): update rules to disable various linting checks
  .yamllint
Due: none

ignore line at end of file lint
  .yamllint
Due: none

fix(yamllint): correct syntax for new-line-at-end-of-file rule
  .yamllint
Due: none

chore(yamllint): disable trailing spaces rule
  .yamllint
Due: none

add typo to test fail
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

chore(workflow): update spell check config to include incremental files
  .github/workflows/runToolingSpellChecks.yml
Due: none

chore(workflow): update workflow name for clarity
  .github/workflows/runToolingSpellChecks.yml
Due: none

fix(cspell.config.json): update patterns for spell checking and add words
  cspell.config.json
  frontend/playwright-tests/internal_policy_routes.spec.ts
  frontend/public/img/graphics/sex_work_penalty_enhancements.png
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/TermsOfUsePage/TermsOfUsePage.tsx
  frontend/src/styles/DesignTokens.ts
Due: biome-check

chore(cspell): add new terms to cspell configuration
  cspell.config.json
Due: none

force spell error
  .github/workflows/runSpellcheck.yml
  .github/workflows/runSuperLinter.yml
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

fix(LandingPage): correct typo in document title
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

chore(workflow): rename spellcheck job and update lint job name
  .github/workflows/runToolingSpellChecks.yml
Due: none

chore(cspell): update cspell config with additional words
  cspell.config.json
  frontend/src/pages/TermsOfUsePage/TermsOfUsePage.tsx
  install-all-python.sh
Due: biome-check

Improve CI for infrastructure file and fix spellchecking (#4576)
  .github/workflows/runSpellcheck.yml
  .github/workflows/runSuperLinter.yml
  .github/workflows/runToolingSpellChecks.yml
  .yamllint
  cspell.config.json
  frontend/playwright-tests/internal_policy_routes.spec.ts
  frontend/public/img/graphics/sex_work_penalty_enhancements.png
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/TermsOfUsePage/TermsOfUsePage.tsx
  frontend/src/styles/DesignTokens.ts
  install-all-python.sh
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
