Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

lock
  frontend/package-lock.json
Due: biome-check

untrack colors.ts shim — replaced by gitignored generated output
  frontend/src/styles/tokens/colors.ts
Due: biome-check

rename colorVars/typographyVars/dimensionVars to colors/typography/dimensions
  frontend/src/cards/UnknownPctRateGradient.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/CardShareIconButtons.tsx
  frontend/src/charts/CompareBubbleChart.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/mapGlobals.ts
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/EndOfStackedPairLabels.tsx
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/trendsChart/Axes.tsx
  frontend/src/charts/trendsChart/FilterLegend.tsx
  frontend/src/charts/trendsChart/HoverCircles.tsx
  frontend/src/charts/trendsChart/LineSegment.tsx
  frontend/src/charts/trendsChart/SparseDataInterpolationLine.tsx
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/ExploreData/Onboarding.tsx
  frontend/src/pages/ExploreData/VoteDotOrgModal.tsx
  frontend/src/reports/ui/ShareButtons.tsx
  frontend/src/styles/theme/muiTheme.tsx
  frontend/terrazzo.config.mjs
Due: biome-check

rename colorVars to colors in consumer files
  frontend/src/cards/UnknownPctRateGradient.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/CardShareIconButtons.tsx
  frontend/src/charts/CompareBubbleChart.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/mapGlobals.ts
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/EndOfStackedPairLabels.tsx
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/trendsChart/Axes.tsx
  frontend/src/charts/trendsChart/FilterLegend.tsx
  frontend/src/charts/trendsChart/HoverCircles.tsx
  frontend/src/charts/trendsChart/LineSegment.tsx
  frontend/src/charts/trendsChart/SparseDataInterpolationLine.tsx
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/ExploreData/Onboarding.tsx
  frontend/src/pages/ExploreData/VoteDotOrgModal.tsx
  frontend/src/reports/ui/ShareButtons.tsx
  frontend/src/styles/tokens/colors.ts
Due: biome-check

rename colors prop to barColors in StackedBarsWithLabels
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
Due: biome-check

fix extremes mode border not resetting after hover
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
Due: biome-check

Rename colorVars to colors in consumer files (#4714)
  frontend/src/cards/UnknownPctRateGradient.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/CardShareIconButtons.tsx
  frontend/src/charts/CompareBubbleChart.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/mapGlobals.ts
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/EndOfStackedPairLabels.tsx
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/trendsChart/Axes.tsx
  frontend/src/charts/trendsChart/FilterLegend.tsx
  frontend/src/charts/trendsChart/HoverCircles.tsx
  frontend/src/charts/trendsChart/LineSegment.tsx
  frontend/src/charts/trendsChart/SparseDataInterpolationLine.tsx
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/ExploreData/Onboarding.tsx
  frontend/src/pages/ExploreData/VoteDotOrgModal.tsx
  frontend/src/reports/ui/ShareButtons.tsx
  frontend/src/styles/tokens/colors.ts
Due: biome-check

docs: update colorVars -> colors in CLAUDE.md and README
  CLAUDE.md
  README.md
Due: none

fix stale colorVars comment and het-* plugin names in terrazzo.config
  frontend/terrazzo.config.mjs
Due: none

convert token build scripts from .mjs to .ts
  frontend/package.json
  frontend/run-tokens.mjs
  frontend/run-tokens.ts
  frontend/terrazzo.config.mjs
  frontend/terrazzo.config.ts
Due: biome-check

add tsx to devDependencies (was missing from package.json)
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

docs: update run-tokens/terrazzo.config references from .mjs to .ts
  CLAUDE.md
Due: none

replace resolveCssVar() with dimensionValues, delete cssVarUtils
  README.md
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/pages/ExploreData/Onboarding.tsx
  frontend/src/styles/theme/cssVarUtils.test.ts
  frontend/src/styles/theme/cssVarUtils.ts
Due: biome-check

use colorValues/typographyValues/dimensionValues everywhere in JS/TS
  frontend/src/cards/UnknownPctRateGradient.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/CardShareIconButtons.tsx
  frontend/src/charts/CompareBubbleChart.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/mapGlobals.ts
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/EndOfStackedPairLabels.tsx
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/trendsChart/Axes.tsx
  frontend/src/charts/trendsChart/FilterLegend.tsx
  frontend/src/charts/trendsChart/HoverCircles.tsx
  frontend/src/charts/trendsChart/LineSegment.tsx
  frontend/src/charts/trendsChart/SparseDataInterpolationLine.tsx
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/ExploreData/Onboarding.tsx
  frontend/src/pages/ExploreData/VoteDotOrgModal.tsx
  frontend/src/reports/ui/ShareButtons.tsx
  frontend/src/styles/theme/muiTheme.tsx
  frontend/terrazzo.config.ts
Due: biome-check

simplify token API: drop Values suffix, rename breakpointValues to breakpoints
  frontend/src/cards/UnknownPctRateGradient.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/CardShareIconButtons.tsx
  frontend/src/charts/CompareBubbleChart.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mapUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/mapGlobals.ts
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/EndOfStackedPairLabels.tsx
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/trendsChart/Axes.tsx
  frontend/src/charts/trendsChart/FilterLegend.tsx
  frontend/src/charts/trendsChart/HoverCircles.tsx
  frontend/src/charts/trendsChart/LineSegment.tsx
  frontend/src/charts/trendsChart/SparseDataInterpolationLine.tsx
  frontend/src/charts/trendsChart/constants.ts
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/ExploreData/Onboarding.tsx
  frontend/src/pages/ExploreData/VoteDotOrgModal.tsx
  frontend/src/reports/ui/ShareButtons.tsx
  frontend/src/styles/theme/muiTheme.tsx
  frontend/src/utils/hooks/useIsBreakpointAndUp.tsx
  frontend/terrazzo.config.ts
Due: biome-check

rename colorValues to colors in D3 color scale files
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/trendsChart/constants.ts
  frontend/src/styles/tokens/colors.ts
Due: biome-check

Rename colorValues to colors in D3 color scale files (#4715)
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/trendsChart/constants.ts
  frontend/src/styles/tokens/colors.ts
Due: biome-check

fix stale comment in muiTheme — colors.* is now hex not CSS vars
  frontend/src/styles/theme/muiTheme.tsx
Due: biome-check

switch to @terrazzo/cli, suppress consistent-naming lint, remove run-tokens.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/run-tokens.ts
  frontend/terrazzo.config.ts
Due: biome-check

remove vite-tsconfig-paths; use native Vite tsconfigPaths
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: biome-check

revert to custom runner; @terrazzo/cli blocked by vite 6/8 conflict
  frontend/package-lock.json
  frontend/package.json
  frontend/run-tokens.ts
  frontend/terrazzo.config.ts
Due: biome-check

spell ignore package
  cspell.config.json
Due: none

docs: remove version numbers from frontend architecture overview
  CLAUDE.md
Due: none

fix mobile insights button clipped on narrow screens
  frontend/src/pages/ui/InsightReportButton.tsx
  frontend/src/pages/ui/JumpToSelect.tsx
  frontend/src/pages/ui/SimpleSelect.tsx
  frontend/src/reports/ui/ReportTopbarMobile.tsx
Due: biome-check

use tiny breakpoint to conditionally compact mobile topbar labels
  frontend/src/reports/ui/ReportTopbarMobile.tsx
Due: biome-check

split CLAUDE.md into per-service files
  CLAUDE.md
  data_server/CLAUDE.md
  exporter/CLAUDE.md
  frontend/CLAUDE.md
  frontend_server/CLAUDE.md
  python/CLAUDE.md
Due: none

address gemini review: replace shrink+overflow-hidden with min-w-0
  frontend/src/reports/ui/ReportTopbarMobile.tsx
Due: biome-check

Split CLAUDE.md into per-service files (#4717)
  CLAUDE.md
  data_server/CLAUDE.md
  exporter/CLAUDE.md
  frontend/CLAUDE.md
  frontend_server/CLAUDE.md
  python/CLAUDE.md
Due: none

rewrite CLAUDE.md and frontend/CLAUDE.md for per-service split
  CLAUDE.md
  frontend/CLAUDE.md
Due: none

Move insights GCS cache to data server
  config/common.tfvars
  config/example.tfvars
  config/run.tf
  config/serviceaccounts.tf
  config/variables.tf
  data_server/main.py
  frontend_server/package-lock.json
  frontend_server/package.json
  frontend_server/server.js
  python/data_server/gcs_utils.py
Due: pylint

cleanup
  CLAUDE.md
Due: none

remove @emotion/react from devDependencies
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

made suggested PR changes
  data_server/main.py
  frontend_server/server.js
  python/data_server/gcs_utils.py
Due: pylint

remove breakpoints from dimensions TS object; breakpoints is the only API
  frontend/terrazzo.config.ts
Due: biome-check

removing unnecessary comments
  data_server/main.py
  frontend_server/server.js
Due: pylint

Improve design token flow with build step (#4710)
  .gitignore
  CLAUDE.md
  README.md
  cspell.config.json
  frontend/CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/run-tokens.ts
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/index.css
  frontend/src/pages/ExploreData/Onboarding.tsx
  frontend/src/styles/theme/colorValues.ts
  frontend/src/styles/theme/colorVars.css
  frontend/src/styles/theme/colorVars.ts
  frontend/src/styles/theme/cssVarUtils.test.ts
  frontend/src/styles/theme/cssVarUtils.ts
  frontend/src/styles/theme/designTokens.css
  frontend/src/styles/theme/muiTheme.tsx
  frontend/src/styles/tokens/colors.ts
  frontend/src/utils/hooks/useIsBreakpointAndUp.tsx
  frontend/terrazzo.config.ts
  frontend/tokens/colors.tokens.json
  frontend/tokens/dimensions.tokens.json
  frontend/tokens/typography.tokens.json
  frontend/vite.config.ts
Due: biome-check

fix Docker build: defer postinstall tokens until after frontend files are copied
  frontend_server/Dockerfile
Due: none

fix vitest/globals type error: use triple-slash refs instead of typeRoots
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
Due: biome-check

docs: update frontend_server/CLAUDE.md with Docker build details
  frontend_server/CLAUDE.md
Due: none
