Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

setup geooverrides for multi source topics by geo
  .vscode/settings.json
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateBarChartCard.tsx
  frontend/src/cards/RateTrendsChartCard.tsx
  frontend/src/charts/utils.ts
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/config/MetricConfigUtils.ts
  frontend/src/data/utils/Fips.ts
Due: biome-check

adds test
  frontend/src/charts/utils.test.ts
Due: biome-check

cleanup
  frontend/src/cards/MapCard.tsx
  frontend/src/charts/mapHelperFunctions.test.ts
  frontend/src/charts/mapHelperFunctions.ts
Due: biome-check

all cards
  frontend/src/cards/ShareTrendsChartCard.tsx
  frontend/src/cards/StackedSharesBarChartCard.tsx
  frontend/src/cards/TableCard.tsx
  frontend/src/cards/UnknownsMapCard.tsx
Due: biome-check

override
  frontend/src/data/config/MetricConfigCancer.ts
Due: biome-check

update subtitle test
  frontend/src/charts/utils.test.ts
Due: biome-check

handle overrides metric config
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/geoContextHelpers.ts
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/config/MetricConfigUtils.ts
  frontend/src/pages/ui/DataTypeDefinitionsList.tsx
Due: biome-check

fix tests
  frontend/src/cards/ui/GeoContext.test.ts
  frontend/src/charts/utils.test.ts
Due: biome-check

cleanup types
  frontend/src/charts/utils.test.ts
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/config/MetricConfigUtils.ts
Due: biome-check

disable flags for now
  frontend/.env.localhost
  frontend/src/data/config/MetricConfigTypes.ts
Due: biome-check

biome settings and lint
  .vscode/settings.json
  frontend/src/cards/ui/DemographicGroupMenu.tsx
Due: biome-check

enable flags
  frontend/.env.localhost
Due: none

dis
  frontend/.env.localhost
Due: none

flags on localhost
  frontend/.env.localhost
Due: none

Updates biome settings (#4672)
  .vscode/settings.json
  frontend/.env.localhost
  frontend/src/cards/ui/DemographicGroupMenu.tsx
Due: biome-check

fix subtitle logic
  frontend/src/cards/MapCard.tsx
Due: biome-check

add subtitle fn
  frontend/src/cards/MapCard.tsx
Due: biome-check

update config for accuracy and clarity
  frontend/src/data/config/MetricConfigCancer.ts
Due: biome-check

tweaks
  frontend/src/data/config/MetricConfigCancer.ts
Due: biome-check

align cancer labels with current data ie ALLS include ALL SEX ALL AGES ALL RACES
  frontend/src/data/config/MetricConfigCancer.ts
Due: biome-check

updates
  frontend/src/data/config/MetricConfigCancer.ts
Due: biome-check

data files re-pulled
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-Race_State.csv
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-Race_US.csv
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-Sex_State.csv
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-Sex_US.csv
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-State.csv
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-US.csv
  data/cdc_wonder/CDC_Wonder_Cervical_Cancer/CDC_Wonder_Cervical_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Cervical_Cancer/CDC_Wonder_Cervical_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Cervical_Cancer/CDC_Wonder_Cervical_Cancer-Race_State.csv
  data/cdc_wonder/CDC_Wonder_Cervical_Cancer/CDC_Wonder_Cervical_Cancer-Race_US.csv
  data/cdc_wonder/CDC_Wonder_Cervical_Cancer/CDC_Wonder_Cervical_Cancer-State.csv
  data/cdc_wonder/CDC_Wonder_Cervical_Cancer/CDC_Wonder_Cervical_Cancer-US.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-Race_State.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-Race_US.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-Sex_State.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-Sex_US.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-State.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-US.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-Race_State.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-Race_US.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-Sex_State.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-Sex_US.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-State.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-US.csv
  data/cdc_wonder/CDC_Wonder_Prostate_Cancer/CDC_Wonder_Prostate_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Prostate_Cancer/CDC_Wonder_Prostate_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Prostate_Cancer/CDC_Wonder_Prostate_Cancer-Race_State.csv
  data/cdc_wonder/CDC_Wonder_Prostate_Cancer/CDC_Wonder_Prostate_Cancer-Race_US.csv
  data/cdc_wonder/CDC_Wonder_Prostate_Cancer/CDC_Wonder_Prostate_Cancer-State.csv
  data/cdc_wonder/CDC_Wonder_Prostate_Cancer/CDC_Wonder_Prostate_Cancer-US.csv
Due: none

update download instructions
  python/datasources/cdc_wonder.py
Due: pylint

Update cancer config labels (#4673)
  frontend/src/data/config/MetricConfigCancer.ts
  python/datasources/cdc_wonder.py
Due: pylint, biome-check

update tests
  frontend/src/charts/utils.test.ts
Due: biome-check

Python data source updated to handle new data states
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-State.csv
  python/datasources/cdc_wonder.py
  python/ingestion/cdc_wonder_utils.py
  python/tests/data/cdc_wonder/golden_data/expected_age_national_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_age_national_historical.csv
  python/tests/data/cdc_wonder/golden_data/expected_race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_race_and_ethnicity_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/expected_sex_national_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_sex_national_historical.csv
Due: pylint

updating comments in cdc_wonder_utils.py file
  python/ingestion/cdc_wonder_utils.py
Due: pylint

removing redundant line to simplify the loop and improve performance
  python/ingestion/cdc_wonder_utils.py
Due: pylint

removing .values from all_df
  python/datasources/cdc_wonder.py
Due: pylint

repull of age files and removing summation of all lines
  python/datasources/cdc_wonder.py
Due: pylint

repull of age files and removing summation of all lines
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Breast_Cancer/CDC_Wonder_Breast_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Cervical_Cancer/CDC_Wonder_Cervical_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Cervical_Cancer/CDC_Wonder_Cervical_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Colorectal_Cancer/CDC_Wonder_Colorectal_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Lung_Cancer/CDC_Wonder_Lung_Cancer-Age_US.csv
  data/cdc_wonder/CDC_Wonder_Prostate_Cancer/CDC_Wonder_Prostate_Cancer-Age_State.csv
  data/cdc_wonder/CDC_Wonder_Prostate_Cancer/CDC_Wonder_Prostate_Cancer-Age_US.csv
  python/tests/data/cdc_wonder/golden_data/expected_age_national_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_age_national_historical.csv
Due: none

test
  python/datasources/cdc_wonder.py
Due: pylint

updates data with new aggregations updates tests
  python/ingestion/cdc_wonder_utils.py
  python/tests/data/cdc_wonder/golden_data/expected_age_national_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_age_national_historical.csv
  python/tests/data/cdc_wonder/golden_data/expected_age_state_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_age_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/expected_race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wonder/golden_data/expected_sex_state_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_sex_state_historical.csv
  python/tests/datasources/test_cdc_wonder.py
Due: pylint

cleanup
  python/datasources/cdc_wonder.py
  python/ingestion/cdc_wonder_utils.py
Due: pylint

update file naming
  python/tests/data/cdc_wonder/golden_data/age_national_current.csv
  python/tests/data/cdc_wonder/golden_data/age_national_historical.csv
  python/tests/data/cdc_wonder/golden_data/age_state_current.csv
  python/tests/data/cdc_wonder/golden_data/age_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wonder/golden_data/race_and_ethnicity_state_historical.csv
  python/tests/data/cdc_wonder/golden_data/sex_national_current.csv
  python/tests/data/cdc_wonder/golden_data/sex_national_historical.csv
  python/tests/data/cdc_wonder/golden_data/sex_state_current.csv
  python/tests/data/cdc_wonder/golden_data/sex_state_historical.csv
  python/tests/datasources/test_cdc_wonder.py
Due: pylint

use table name as golden data filename
  python/tests/data/phrma_brfss/golden_data/age_national.csv
  python/tests/data/phrma_brfss/golden_data/age_state.csv
  python/tests/data/phrma_brfss/golden_data/education_national.csv
  python/tests/data/phrma_brfss/golden_data/education_state.csv
  python/tests/data/phrma_brfss/golden_data/income_national.csv
  python/tests/data/phrma_brfss/golden_data/income_state.csv
  python/tests/data/phrma_brfss/golden_data/insurance_status_national.csv
  python/tests/data/phrma_brfss/golden_data/insurance_status_state.csv
  python/tests/data/phrma_brfss/golden_data/race_and_ethnicity_national.csv
  python/tests/data/phrma_brfss/golden_data/race_and_ethnicity_state.csv
  python/tests/data/phrma_brfss/golden_data/sex_national.csv
  python/tests/data/phrma_brfss/golden_data/sex_state.csv
  python/tests/datasources/test_phrma_brfss.py
Due: pylint

rename mm
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_historical.csv
  python/tests/datasources/test_maternal_mortality.py
Due: pylint

golden df loader
  python/tests/datasources/test_cawp.py
  python/tests/datasources/test_cdc_wisqars.py
  python/tests/datasources/test_cdc_wonder.py
  python/tests/datasources/test_maternal_mortality.py
  python/tests/datasources/test_nci_cancer.py
  python/tests/datasources/test_utils.py
Due: pylint

more
  python/tests/datasources/test_cdc_hiv.py
  python/tests/datasources/test_cdc_hiv_black_women.py
  python/tests/datasources/test_cdc_miovd.py
  python/tests/datasources/test_cdc_wisqars_black_men.py
  python/tests/datasources/test_cdc_wisqars_youth.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
