Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

Scroll contrast insight card into view below sticky header on open
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check

fix: use design token for error text color
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check

Use pluralOnCompare to pluralize insight section label in compare mode
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check

Set pluralOnCompare=true for rate-chart section
  frontend/src/reports/ReportProviderSteps.ts
Due: biome-check

a11y: announce insight content and restore focus on close
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check

address review: add screenshot-hiding classes to compare-mode insight button
  frontend/src/cards/ui/InsightVisualizationButton.tsx
Due: biome-check

Fix: flag button always disabled; dead sparkle on unknowns map
  frontend/src/cards/CardWrapper.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/utils/generateContrastInsight.ts
Due: biome-check

Refactor: align contrast insight with existing patterns and clean abstractions
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/reports/ReportProviderSteps.ts
Due: biome-check

chore: remove deprecated gsutil scripts
  scripts/delete_gcs_dataset_json.sh
  scripts/download_data_file.sh
Due: none

Fix: switch excessive drinking from per_100k to pct_rate (issue #3339)
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/providers/AhrProvider.ts
  python/datasources/chr.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/chr/golden_data/race_and_ethnicity_county_historical.csv
  python/tests/datasources/test_chr.py
Due: pylint, biome-check

Fix: sidebar color consistency and remove verbose "above" on desktop
  frontend/src/pages/ExploreData/DefaultHelperBox.tsx
  frontend/src/pages/ui/InsightReportButton.tsx
  frontend/src/pages/ui/TableOfContents.tsx
  frontend/src/pages/ui/TopicInfoModalButton.tsx
Due: biome-check

fix(e2e): scope black men homicide All-button locator to fix strict-mode violation
  frontend/playwright-tests/black_men_gun_homicides.spec.ts
Due: biome-check

fix(e2e): update drinking test column header after per_100k → pct_rate switch
  frontend/playwright-tests/drinking.spec.ts
Due: biome-check

skill(pr): add E2E regression check step for changed features
  .claude/skills/pr/SKILL.md
Due: none

skill(pr): clarify E2E split — CI runs .ci.spec.ts, nightly runs .spec.ts
  .claude/skills/pr/SKILL.md
Due: none

update diagram
  het_infrastructure.svg
Due: none

fix(cawp): derive most recent year dynamically from source data
  data/cawp/cawp_state_leg_25.csv
  data/cawp/cawp_state_leg_60.csv
  data/cawp/cawp_state_leg_66.csv
  data/cawp/cawp_state_leg_69.csv
  data/cawp/cawp_state_leg_72.csv
  data/cawp/cawp_state_leg_78.csv
  python/datasources/cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint

data(cawp): add 2026 state leg denominators for DC and Oregon
  data/cawp/cawp_state_leg_11.csv
  data/cawp/cawp_state_leg_41.csv
Due: none

address review: ensure all states have data for reported year
  python/datasources/cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint

docs: update CAWP module last-updated date to July 2026
  python/datasources/cawp.py
Due: pylint

fix: add | None type annotation for get_consecutive_time_periods last_year param
  python/datasources/cawp.py
Due: pylint

chore(cawp): update dataset metadata dates to reflect 2026 data
  frontend/src/data/config/DatasetMetadataCawp.ts
Due: biome-check

refactor(cawp): load state_leg_df once and thread last_year to scaffold
  data/cawp/cawp_state_leg_41.csv
  python/datasources/cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint

refactor(cawp): make state_leg_df a required arg in get_data_recent_year
  python/datasources/cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint

refactor(cawp): load state_leg_df once at write_to_bq entry point
  python/datasources/cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint

docs(cawp): document denominator sources and annual refresh process in methodology
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
  frontend/src/utils/externalUrls.ts
Due: biome-check

refactor(pdoh): replace inline CAWP missing data with MissingCAWPData import
  frontend/src/pages/Methodology/methodologySections/PdohLink.tsx
Due: biome-check

refactor(hiv): replace inline HIV and PrEP missing data with imports from missingDataBlurbs
  frontend/src/pages/Methodology/methodologySections/HivLink.tsx
Due: biome-check

fix(methodology): address review findings in missing-data blurbs
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
  frontend/src/pages/Methodology/methodologySections/HivLink.tsx
  frontend/src/pages/Methodology/methodologySections/PdohLink.tsx
Due: biome-check

docs(cawp): document denominator sources and annual refresh process in methodology (#4992)
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
  frontend/src/pages/Methodology/methodologySections/HivLink.tsx
  frontend/src/pages/Methodology/methodologySections/PdohLink.tsx
  frontend/src/utils/externalUrls.ts
Due: biome-check

fix: aria nav roles, dead hoverStyle prop, and duplicate choropleth legend labels
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/styles/HetComponents/HetCardMenu.tsx
  frontend/src/styles/HetComponents/HetListItemButton.tsx
Due: biome-check

fix: replace orphaned <li> with <div> in HetCardMenu divider; add mapLegendUtils unit tests
  frontend/src/charts/choroplethMap/mapLegendUtils.test.ts
  frontend/src/styles/HetComponents/HetCardMenu.tsx
Due: biome-check

fix: aria nav roles, dead hoverStyle prop, and duplicate choropleth legend labels (#4994)
  frontend/src/charts/choroplethMap/mapLegendUtils.test.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/styles/HetComponents/HetCardMenu.tsx
  frontend/src/styles/HetComponents/HetListItemButton.tsx
Due: biome-check

fix(infra): remove applied moved{} block to prevent future destroy loop
  config/run.tf
Due: none

fix(infra): remove applied moved{} block from run.tf (#4995)
  config/run.tf
Due: none

fix(e2e): add regression specs for prod smoke test failures #4996 and #4997
  frontend/playwright-tests/alls_fallback_ui.ci.spec.ts
  frontend/playwright-tests/hiv_black_women.ci.spec.ts
  frontend/src/cards/ui/AllsFallbackAlert.test.tsx
Due: biome-check

fix(cawp): trend line renders when alls fallback active with non-race demographic
  frontend/playwright-tests/alls_fallback_ui.ci.spec.ts
  frontend/src/cards/RateTrendsChartCard.tsx
Due: biome-check

fix: regression specs and CAWP trend line regression (#4996 #4997 #4999) (#4998)
  frontend/playwright-tests/alls_fallback_ui.ci.spec.ts
  frontend/playwright-tests/hiv_black_women.ci.spec.ts
  frontend/src/cards/RateTrendsChartCard.tsx
  frontend/src/cards/ui/AllsFallbackAlert.test.tsx
Due: biome-check

Strip prompt narration from insights and bust stale insight cache
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/utils/generateVisualizationInsight.ts
Due: biome-check

Fix lazy-fetch race that skipped peer ranking on insight open
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/utils/generateVisualizationInsight.ts
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
