Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

attempt to fix pipeline naming
  .github/workflows/dagCdcMiovd.yml
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
  python/tests/data/cdc_miovd/golden_data/alls_county_current.csv
  python/tests/data/cdc_miovd/golden_data/alls_county_historical.csv
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

chore(workflow): add COUNTY and ALLS environment variables
  .github/workflows/dagCdcMiovd.yml
Due: none

refactor(cdc_miovd): remove debug print statement for table_id
  python/datasources/cdc_miovd.py
Due: pylint

Fix naming on MIOVD pipeline (#4554)
  .github/workflows/dagCdcMiovd.yml
  python/tests/data/cdc_miovd/golden_data/alls_county_current.csv
  python/tests/data/cdc_miovd/golden_data/alls_county_historical.csv
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

feat(ingestion): update BQ column type mapping for suppressed columns
  python/ingestion/dataset_utils.py
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

feat(constants): add BQ_BOOLEAN constant for BigQuery data types
  python/ingestion/constants.py
  python/ingestion/dataset_utils.py
Due: pylint

Use boolean columns for `_is_suppressed` cols in MIOVD (#4558)
  python/ingestion/constants.py
  python/ingestion/dataset_utils.py
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

specify that RATE col is suppressed, make logic only apply suppresed col boolean to null rates; update tests
  alls_county_current
  alls_county_historical
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/alls_county_current.csv
  python/tests/data/cdc_miovd/golden_data/alls_county_historical.csv
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

null type errors fix; fix logic
  alls_county_current
  alls_county_historical
  python/datasources/cdc_miovd.py
  python/ingestion/standardized_columns.py
  python/tests/data/cdc_miovd/golden_data/alls_county_current.csv
  python/tests/data/cdc_miovd/golden_data/alls_county_historical.csv
Due: pylint

Clarify suppression col naming and logic (#4559)
  python/datasources/cdc_miovd.py
  python/ingestion/standardized_columns.py
  python/tests/data/cdc_miovd/golden_data/alls_county_current.csv
  python/tests/data/cdc_miovd/golden_data/alls_county_historical.csv
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

creating pipeline for cdc hiv black women
  python/datasources/cdc_hiv_black_women.py
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_national_current.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_national_historical.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_state_current.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_state_historical.csv
  python/tests/datasources/test_cdc_hiv_black_women.py
Due: pylint

updating test files
  python/tests/datasources/test_cdc_hiv.py
Due: pylint

adding dag
  .github/workflows/dagCdcHiv.yml
  .github/workflows/dagCdcHivBlackWomen.yml
Due: none

updating yml file
  .github/workflows/dagCdcHivBlackWomen.yml
Due: none

adding dag
  .github/workflows/dagCdcHivBlackWomen.yml
Due: none

fixing linting issues
  .github/workflows/dagCdcHivBlackWomen.yml
Due: none

Add CDC_HIV_BLACK_WOMEN_DATA workflow for processing CDC HIV BLACK WOMEN tables (#4561)
  .github/workflows/dagCdcHivBlackWomen.yml
Due: none

Delete .github/workflows/dagCdcHivBlackWomen.yml
  .github/workflows/dagCdcHivBlackWomen.yml
Due: none

adding data config file
  config/data_sources/cdc_hiv_black_women_data.tf
Due: none

updating datasources.py file
  python/datasources/data_sources.py
Due: pylint

Update dataset name for CDC HIV workflow
  .github/workflows/dagCdcHivBlackWomen.yml
Due: none

Update dagCdcHivBlackWomen.yml
  .github/workflows/dagCdcHivBlackWomen.yml
Due: none

updating cdc_hiv.py file
  python/datasources/cdc_hiv.py
Due: pylint

making suggested PR changes
  python/datasources/cdc_hiv.py
  python/datasources/cdc_hiv_black_women.py
  python/tests/datasources/test_cdc_hiv_black_women.py
Due: pylint

Add CDCHIVBlackWomenData datasource and workflow (#4560)
  .github/workflows/dagCdcHiv.yml
  config/data_sources/cdc_hiv_black_women_data.tf
  python/datasources/cdc_hiv.py
  python/datasources/cdc_hiv_black_women.py
  python/datasources/data_sources.py
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_national_current.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_national_historical.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_state_current.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_state_historical.csv
  python/tests/datasources/test_cdc_hiv.py
  python/tests/datasources/test_cdc_hiv_black_women.py
Due: pylint

adding provider for hiv black women
  frontend/src/data/providers/HivBlackWomenProvider.ts
Due: biome-check

attempt to fix pipeline naming
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/alls_county_current.csv
  python/tests/data/cdc_miovd/golden_data/alls_county_historical.csv
Due: pylint

feat(data): append FIPS to dataset ID in GunViolenceProvider logic
  frontend/src/data/providers/GunViolenceProvider.ts
Due: biome-check

fix golden data
  python/tests/data/cdc_miovd/golden_data/alls_county_current.csv
  python/tests/data/cdc_miovd/golden_data/alls_county_historical.csv
Due: none

feat(data): integrate FIPS handling in GunViolenceProvider dataset loading
  frontend/src/data/providers/GunViolenceProvider.ts
Due: biome-check

test(GunViolenceProvider): add test for current county and all breakdown
  frontend/src/data/providers/GunViolenceProvider.test.ts
Due: biome-check

adds test coverage for CHR county level gun deaths data loading
  frontend/src/data/providers/GunViolenceProvider.test.ts
Due: biome-check

test(GunViolenceProvider): clarify comment in metricQuery tests
  frontend/src/data/providers/GunViolenceProvider.test.ts
Due: biome-check

FRONTEND: append FIPS to dataset ID in GunViolenceProvider logic (#4566)
  frontend/src/data/providers/GunViolenceProvider.test.ts
  frontend/src/data/providers/GunViolenceProvider.ts
Due: biome-check

removing black women references in original HIV proivder
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/providers/HivBlackWomenProvider.ts
  frontend/src/data/providers/HivProvider.ts
Due: biome-check

new report provider working
  frontend/src/reports/reportUtils.ts
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
