Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

chore(infra): manage Secret Manager IAM bindings in Terraform
  config/secrets.tf
Due: none

ci: pin Terraform to 1.9.4 for import block var interpolation
  .github/actions/buildAllAndDeploy/action.yml
Due: none

chore(infra): manage Secret Manager IAM bindings in Terraform (#5286)
  .github/actions/buildAllAndDeploy/action.yml
  config/secrets.tf
Due: none

chore(infra): drop secret data lookups, use literal secret_ids
  config/secrets.tf
Due: none

chore(infra): drop secret data lookups, use literal secret_ids (#5291)
  config/secrets.tf
Due: none

docs: rename CLAUDE.md to AGENTS.md for cross-agent support
  .claude/skills/pr/SKILL.md
  .claude/skills/pre-release/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/review/SKILL.md
  .claude/skills/screenshot-pr/SKILL.md
  .claude/skills/tackle/SKILL.md
  AGENTS.md
  exporter/AGENTS.md
  frontend/AGENTS.md
  python/AGENTS.md
  server/AGENTS.md
  server/insight_budget.go
Due: none

docs: document AGENTS.md requirement in README
  README.md
Due: none

fix(frontend): prevent wide table from causing horizontal page overflow on mobile
  frontend/src/cards/ui/AltTableView.tsx
  frontend/src/styles/HetComponents/HetTable.tsx
Due: biome-check

fix(frontend): prevent desktop sidebar from overflowing viewport at md breakpoint
  frontend/src/pages/ui/ReportSidebarDesktop.tsx
  frontend/src/reports/Report.tsx
Due: biome-check

chore(skills): make /pr open a PR when the branch has none
  .claude/skills/pr/SKILL.md
Due: none

address review: guard empty FORK_REMOTE in PR creation flow
  .claude/skills/pr/SKILL.md
Due: none

address review: guard detached HEAD and fetch origin/main before eligibility check
  .claude/skills/pr/SKILL.md
Due: none

Make /pr open a PR when the branch has none (#5295)
  .claude/skills/pr/SKILL.md
Due: none

chore: align SKILL.md with main
  .claude/skills/pr/SKILL.md
Due: none

Prevent Explore Data page horizontal overflow on mobile and md breakpoint (#5294)
  frontend/src/cards/ui/AltTableView.tsx
  frontend/src/pages/ui/ReportSidebarDesktop.tsx
  frontend/src/reports/Report.tsx
  frontend/src/styles/HetComponents/HetTable.tsx
Due: biome-check

chore(std_col): standardize population col naming to _estimated_total suffix
  python/ingestion/standardized_columns.py
Due: pylint

chore(datasources): update population col generation to RAW_POP_SUFFIX
  python/datasources/cdc_wisqars.py
  python/datasources/cdc_wisqars_youth.py
  python/datasources/phrma.py
Due: pylint

chore(frontend): rename population MetricId strings to _estimated_total
  frontend/src/cards/ui/GeoContext.test.ts
  frontend/src/charts/choroplethMap/mapHelpers.test.ts
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/config/MetricConfigHivCategory.ts
  frontend/src/data/config/MetricConfigPhrma.ts
Due: biome-check

test: regenerate golden CSVs for renamed population columns
  python/tests/data/cdc_hiv/golden_data/age_national_current.csv
  python/tests/data/cdc_hiv/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_county_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_state_current.csv
  python/tests/data/cdc_hiv_age_adjustment/golden_data/race_and_ethnicity_national_current-with_age_adjust.csv
  python/tests/data/cdc_hiv_age_adjustment/golden_data/race_and_ethnicity_state_current-with_age_adjust.csv
  python/tests/data/cdc_hiv_age_adjustment/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_hiv_age_adjustment/race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/age_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_state_current.csv
  python/tests/data/phrma/golden_data/age_county_current.csv
  python/tests/data/phrma/golden_data/eligibility_national_current.csv
  python/tests/data/phrma/golden_data/lis_national_current.csv
  python/tests/data/phrma/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/phrma/golden_data/sex_national_current.csv
  python/tests/data/phrma/golden_data/sex_state_current.csv
Due: none

fix(test): rename leftover fatal_population fixture key
  frontend/src/charts/choroplethMap/mapHelpers.test.ts
Due: biome-check

fix(maternal_mortality): add Asian/NHPI births to state counts (#5283)
  frontend/src/pages/Methodology/methodologySections/MaternalHealthLink.tsx
  python/datasources/maternal_mortality.py
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_historical.csv
Due: pylint, biome-check

Standardize population column naming to _estimated_total suffix (#5296)
  frontend/src/cards/ui/GeoContext.test.ts
  frontend/src/charts/choroplethMap/mapHelpers.test.ts
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/config/MetricConfigHivCategory.ts
  frontend/src/data/config/MetricConfigPhrma.ts
  python/datasources/cdc_wisqars.py
  python/datasources/cdc_wisqars_youth.py
  python/datasources/phrma.py
  python/ingestion/standardized_columns.py
  python/tests/data/cdc_hiv/golden_data/age_national_current.csv
  python/tests/data/cdc_hiv/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_county_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_state_current.csv
  python/tests/data/cdc_hiv_age_adjustment/golden_data/race_and_ethnicity_national_current-with_age_adjust.csv
  python/tests/data/cdc_hiv_age_adjustment/golden_data/race_and_ethnicity_state_current-with_age_adjust.csv
  python/tests/data/cdc_hiv_age_adjustment/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_hiv_age_adjustment/race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/age_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_state_current.csv
  python/tests/data/phrma/golden_data/age_county_current.csv
  python/tests/data/phrma/golden_data/eligibility_national_current.csv
  python/tests/data/phrma/golden_data/lis_national_current.csv
  python/tests/data/phrma/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/phrma/golden_data/sex_national_current.csv
  python/tests/data/phrma/golden_data/sex_state_current.csv
Due: pylint, biome-check

fix(maternal_mortality): compute state All rate from unrounded death estimates
  python/datasources/maternal_mortality.py
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_historical.csv
Due: pylint

fix(maternal_mortality): compute state All rate from unrounded death … (#5299)
  python/datasources/maternal_mortality.py
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/maternal_mortality/golden_data/race_and_ethnicity_state_historical.csv
Due: pylint

fix(e2e): add force:true to coast-ghost map clicks to prevent RI/MA pointer interception
  frontend/playwright-tests/navigation.ci.spec.ts
Due: biome-check

fix(e2e): add force:true to coast-ghost map clicks (#5302)
  frontend/playwright-tests/navigation.ci.spec.ts
Due: biome-check

chore(skills): retune skill models and remove stale polling/hardcoding
  .claude/skills/infra-test/SKILL.md
  .claude/skills/merge/SKILL.md
  .claude/skills/next/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/screenshot-pr/SKILL.md
  .claude/skills/tackle/SKILL.md
  .claude/skills/update-recipes/SKILL.md
Due: none

address review: capture databaseId for gh run watch in /merge Step 9
  .claude/skills/merge/SKILL.md
Due: none

fix(skills): correct report-out Slack namespace + prepend, harden infra-test run capture
  .claude/skills/infra-test/SKILL.md
  .claude/skills/report-out/SKILL.md
Due: none

chore(skills): retune skill models and remove stale polling/hardcoding (#5303)
  .claude/skills/infra-test/SKILL.md
  .claude/skills/merge/SKILL.md
  .claude/skills/next/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/report-out/SKILL.md
  .claude/skills/screenshot-pr/SKILL.md
  .claude/skills/tackle/SKILL.md
  .claude/skills/update-recipes/SKILL.md
Due: none

chore(acs_population): rename race_* references in code and config
  exporter/CLAUDE.md
  frontend/src/data/config/DatasetMetadataAcs.ts
  frontend/src/data/providers/IncarcerationProvider.test.ts
  frontend/src/data/query/MetricQuery.ts
  frontend/src/data/react/WithLoadingOrErrorUI.test.tsx
  frontend/src/pages/Methodology/methodologySections/DataMethodDefinitionsLink.tsx
  python/datasources/acs_population.py
  python/ingestion/merge_utils.py
  python/tests/datasources/test_acs_population.py
Due: pylint, biome-check
