Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

cleanup
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

scale typing
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/UnknownMapGradientLegend.tsx
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

cleanup
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/charts/choroplethMap/UnknownMapGradientLegend.tsx
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

working; handles types
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

null
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

cleanuo
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

fix e2e
  frontend/src/charts/choroplethMap/UnknownMapGradientLegend.tsx
Due: biome-check

cleanup props to options for non react components
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/UnknownMapGradientLegend.tsx
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

typo fix
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

Extracts unknowns map legend (#4445)
  frontend/playwright-tests/medicare_schizophrenia.spec.ts
  frontend/playwright-tests/vaccination.ci.spec.ts
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/UnknownMapGradientLegend.tsx
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

adding instructions to cdc_wonder.py'
  python/datasources/cdc_wonder.py
Due: pylint

removing files from other branch
  frontend/.env.deploy_preview
  frontend/.env.staging
  frontend/public/img/graphics/bodily_fluid_penalty_enhancements.png
  frontend/public/img/graphics/exposure_and_transmission_offenses.png
  frontend/public/img/graphics/general_criminal_law_penalty_enhancements.png
  frontend/public/img/graphics/needle_syringe_sharing_penalty_enhancements.png
  frontend/public/img/graphics/sex_work_penalty_ehancements.png
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/reports/ui/CHLPMapsBanner.tsx
  frontend/src/styles/HetComponents/HetGalleryDotNav.tsx
Due: biome-check

fix: add type ignore comments for pandas dtype mypy errors
  python/ingestion/merge_utils.py
Due: pylint

Add CDC WONDER download instructions to cdc_wonder.py (#4446)
  python/datasources/cdc_wonder.py
  python/ingestion/merge_utils.py
Due: pylint

checking in intial datasource and data files
  data/cdc_miovd/gun_homicides-county-all.csv
  data/cdc_miovd/gun_suicides-county-all.csv
  python/datasources/cdc_miovd.py
Due: pylint

adding test file
  python/datasources/cdc_miovd.py
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

small refactor to class componenet
  python/datasources/cdc_miovd.py
Due: pylint

migration to tw4
  frontend/src/cards/ui/AltTableView.tsx
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/charts/ClickableLegendHeader.tsx
  frontend/src/index.css
  frontend/src/pages/AboutUs/AboutUsPage.tsx
  frontend/src/pages/DataCatalog/DataCatalogPage.tsx
  frontend/src/pages/DataCatalog/DataSourceListing.tsx
  frontend/src/pages/ExploreData/DefaultHelperBox.tsx
  frontend/src/pages/ExploreData/MadLibUI.tsx
  frontend/src/pages/ExploreData/TopicSelector.tsx
  frontend/src/pages/FAQs/FaqsPage.tsx
  frontend/src/pages/FAQs/FaqsPageData.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Methodology/methodologyComponents/FractionFormat.tsx
  frontend/src/pages/Methodology/methodologyComponents/MethodologyPage.tsx
  frontend/src/pages/Methodology/methodologySections/AgeAdjustmentLink.tsx
  frontend/src/pages/Methodology/methodologySections/RacesEthnicitiesList.tsx
  frontend/src/pages/News/NewsAndStoriesPage.tsx
  frontend/src/pages/News/NewsAndStoriesPreviewCardOutlined.tsx
  frontend/src/pages/News/ShareYourStory.tsx
  frontend/src/pages/News/SinglePost.tsx
  frontend/src/pages/Policy/policyComponents/PolicyPage.tsx
  frontend/src/pages/Policy/policySections/GunViolencePolicyHomeLink.tsx
  frontend/src/pages/Policy/policySections/ReformOpportunitiesTab.tsx
  frontend/src/pages/TermsOfUsePage/TermsOfUsePage.tsx
  frontend/src/pages/WhatIsHealthEquity/WhatIsHealthEquityPage.tsx
  frontend/src/pages/WhatIsHealthEquity/wiheSections/FaqSection.tsx
  frontend/src/reports/CustomAltTable.tsx
  frontend/src/styles/DesignTokens.ts
  frontend/src/styles/HetComponents/HetAccordion.tsx
  frontend/src/styles/HetComponents/HetCarouselCard.tsx
  frontend/src/styles/HetComponents/HetDesktopToolbar.tsx
  frontend/src/styles/HetComponents/HetExpandableBoxButton.tsx
  frontend/src/styles/HetComponents/HetListBoxOption.tsx
  frontend/src/styles/HetComponents/HetOnThisPageMenu.tsx
  frontend/src/styles/HetComponents/HetOverline.tsx
  frontend/src/styles/HetComponents/HetPaginationButton.tsx
  frontend/src/styles/MaterialTheme.tsx
  frontend/src/utils/cardImageExportUtils.ts
  frontend/tailwind.config.ts
Due: biome-check

add hook to populate css variables
  frontend/src/App.tsx
  frontend/src/styles/DesignTokens.ts
  frontend/src/utils/hooks/useMakeCssVariables.ts
  frontend/tailwind.config.ts
Due: biome-check

style tweaks
  frontend/src/index.css
  frontend/src/pages/AboutUs/AboutUsPage.tsx
  frontend/src/pages/AboutUs/GoalListItem.tsx
  frontend/src/pages/WhatIsHealthEquity/WhatIsHealthEquityPage.tsx
Due: biome-check

cleanup headings part of method
  frontend/src/charts/ClickableLegendHeader.tsx
  frontend/src/index.css
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Methodology/methodologySections/DataSourcesLink.tsx
  frontend/src/pages/Policy/policySections/GunViolencePolicyHomeLink.tsx
  frontend/src/pages/WhatIsHealthEquity/WhatIsHealthEquityPage.tsx
Due: biome-check

finished datasource and testing file
  all_county_current.csv
  all_county_historical.csv
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

openclose icons
  frontend/src/cards/ui/InsightDisplay.tsx
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/rateBarChart/BarChartTooltip.tsx
  frontend/src/charts/sharedBarChartPieces/helpers.ts
  frontend/src/index.css
  frontend/src/pages/AboutUs/AboutUsPage.tsx
  frontend/src/pages/DataCatalog/DataCatalogPage.tsx
  frontend/src/pages/ExploreData/DefaultHelperBox.tsx
  frontend/src/pages/ExploreData/TogglePreview.tsx
  frontend/src/pages/ExploreData/TopicSelector.tsx
  frontend/src/pages/FAQs/FaqsPage.tsx
  frontend/src/pages/Methodology/methodologyComponents/FormulaFormat.tsx
  frontend/src/pages/Methodology/methodologyComponents/MethodologyCardMenu.tsx
  frontend/src/pages/Methodology/methodologyComponents/MethodologyCardMenuMobile.tsx
  frontend/src/pages/Methodology/methodologyComponents/MethodologyPage.tsx
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
  frontend/src/pages/Methodology/methodologySections/AgeAdjustmentLink.tsx
  frontend/src/pages/Methodology/methodologySections/RacesAndEthnicitiesLink.tsx
  frontend/src/pages/News/NewsAndStoriesPage.tsx
  frontend/src/pages/News/NewsPage.tsx
  frontend/src/pages/News/ShareYourStory.tsx
  frontend/src/pages/News/SinglePost.tsx
  frontend/src/pages/Policy/policyComponents/PolicyCardMenu.tsx
  frontend/src/pages/Policy/policyComponents/PolicyCardMenuMobile.tsx
  frontend/src/pages/Policy/policyComponents/PolicyPage.tsx
  frontend/src/pages/Policy/policyComponents/ResourceSection.tsx
  frontend/src/pages/Policy/policySections/CurrentEffortsTab.tsx
  frontend/src/pages/Policy/policySections/OurFindingsTab.tsx
  frontend/src/pages/TermsOfUsePage/TermsOfUsePage.tsx
  frontend/src/pages/WhatIsHealthEquity/WhatIsHealthEquityPage.tsx
  frontend/src/styles/DesignTokens.ts
  frontend/src/styles/HetComponents/HetLocationSearch.tsx
  frontend/src/styles/HetComponents/HetMadLibButton.tsx
  frontend/src/styles/HetComponents/HetNavButton.tsx
  frontend/src/styles/HetComponents/HetPagination.tsx
  frontend/src/styles/HetComponents/HetPaginationButton.tsx
  frontend/src/styles/HetComponents/HetPostsLoading.tsx
Due: biome-check

tweak
  frontend/src/cards/ChartTitle.tsx
Due: biome-check

biome
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

biome
  .vscode/settings.json
Due: none

fix e2e headings
  frontend/playwright-tests/ami.ci.spec.ts
  frontend/playwright-tests/cawp.ci.spec.ts
  frontend/playwright-tests/depression.nightly.spec.ts
  frontend/playwright-tests/hiv_care.nightly.spec.ts
  frontend/playwright-tests/maternal_mortality.nightly.spec.ts
  frontend/playwright-tests/medicare_hiv.spec.ts
  frontend/playwright-tests/voter_participation.spec.ts
Due: biome-check

prep for tailwind4 pr
  frontend/playwright-tests/ami.ci.spec.ts
  frontend/playwright-tests/depression.nightly.spec.ts
  frontend/playwright-tests/hiv_care.nightly.spec.ts
  frontend/playwright-tests/maternal_mortality.nightly.spec.ts
  frontend/playwright-tests/medicare_hiv.spec.ts
  frontend/playwright-tests/voter_participation.spec.ts
  frontend/src/pages/ExploreData/TogglePreview.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/styles/HetComponents/HetLocationSearch.tsx
  frontend/src/styles/HetComponents/HetMadLibButton.tsx
  frontend/src/styles/HetComponents/HetNavButton.tsx
Due: biome-check

cleanup arrows
  frontend/src/pages/ExploreData/TogglePreview.tsx
  frontend/src/styles/HetComponents/HetMadLibButton.tsx
Due: biome-check

Prep for Tailwind 4 migration PR (#4451)
  .vscode/settings.json
  frontend/playwright-tests/ami.ci.spec.ts
  frontend/playwright-tests/depression.nightly.spec.ts
  frontend/playwright-tests/hiv_care.nightly.spec.ts
  frontend/playwright-tests/maternal_mortality.nightly.spec.ts
  frontend/playwright-tests/medicare_hiv.spec.ts
  frontend/playwright-tests/voter_participation.spec.ts
  frontend/src/pages/ExploreData/TogglePreview.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/styles/HetComponents/HetLocationSearch.tsx
  frontend/src/styles/HetComponents/HetMadLibButton.tsx
  frontend/src/styles/HetComponents/HetNavButton.tsx
Due: biome-check

show on all hiv
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
Due: biome-check

env
  frontend/.env.local
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
Due: biome-check

Show CHLP map banner on all HIV conditions (#4454)
  frontend/.env.local
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
Due: biome-check

minor updates to datasource and test file
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
Due: pylint

updated test files
  .github/workflows/dagCdcMiovd.yml
  config/data_sources/cdc_miovd_data.tf
  python/datasources/cdc_miovd.py
  python/datasources/data_sources.py
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

fixing linting errors
  .github/workflows/dagCdcMiovd.yml
Due: none
