Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

Updated content for cancer and cancer screening topics (#4522)
  frontend/src/data/config/MetricConfigPhrmaBrfss.ts
  frontend/src/pages/Methodology/methodologySections/CancerLink.tsx
Due: biome-check

Methodology for cancer (disease rates) (#4521)
  frontend/src/pages/Methodology/methodologyComponents/MethodologyPage.tsx
  frontend/src/pages/Methodology/methodologyContent/ResourcesData.ts
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/CancerLink.tsx
  frontend/src/pages/Methodology/methodologySections/TopicCategoriesLink.tsx
  frontend/src/utils/internalRoutes.ts
Due: biome-check

Update AHR methodology documentation
  frontend/src/pages/Methodology/methodologyComponents/AhrMetrics.tsx
  frontend/src/pages/Methodology/methodologySections/BehavioralHealthLink.tsx
  frontend/src/pages/Methodology/methodologySections/ChronicDiseaseLink.tsx
  frontend/src/pages/Methodology/methodologySections/SdohLink.tsx
Due: biome-check

Update AHR methodology documentation
  frontend/src/pages/Methodology/methodologyComponents/AhrMetrics.tsx
  frontend/src/utils/externalUrls.ts
Due: biome-check

Update AHR methodology documentation
  frontend/src/pages/Methodology/methodologyComponents/AhrMetrics.tsx
Due: biome-check

Update AHR methodology documentation (#4523)
  frontend/src/pages/Methodology/methodologyComponents/AhrMetrics.tsx
  frontend/src/pages/Methodology/methodologySections/BehavioralHealthLink.tsx
  frontend/src/pages/Methodology/methodologySections/ChronicDiseaseLink.tsx
  frontend/src/pages/Methodology/methodologySections/SdohLink.tsx
  frontend/src/utils/externalUrls.ts
Due: biome-check

rephrase unknowns map tooltip; fix console log biome setting; light refactoring
  biome.json
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

cleanup
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/tooltipUtils.ts
Due: biome-check

Improves unknowns map tooltip message (#4525)
  biome.json
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

downgrade pip
  shared_requirements/requirements.txt
Due: none

trigger pytest on package changes
  .github/workflows/runPytest.yml
Due: none

Revert package bump python (#4531)
  .github/workflows/runPytest.yml
  shared_requirements/requirements.txt
Due: none

updates project to node 22
  .github/workflows/cronUrlChecker.yml
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/runFrontendServerTests.yml
  .github/workflows/runFrontendTests.yml
  frontend/package.json
  frontend/tsconfig.json
  frontend_server/Dockerfile
Due: biome-check

lock
  frontend/package-lock.json
Due: biome-check

node 24
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend_server/Dockerfile
Due: biome-check

frontend server bump
  frontend/package-lock.json
  frontend_server/package.json
Due: biome-check

Updates to Node 24 (via 22) (#4532)
  .github/workflows/cronUrlChecker.yml
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/runFrontendServerTests.yml
  .github/workflows/runFrontendTests.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend_server/Dockerfile
  frontend_server/package.json
Due: biome-check

fix tooltip
  frontend/src/charts/choroplethMap/tooltipUtils.ts
Due: biome-check

Fix tooltip (#4533)
  frontend/src/charts/choroplethMap/tooltipUtils.ts
Due: biome-check

feat(landing): update landing page content and add banner image
  frontend/public/img/graphics/msm-50-shli-banner.png
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

style(LandingPage): update image width classes for better responsiveness
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

fix(OurTeamData): correct name spelling for team member
  frontend/src/pages/AboutUs/OurTeamData.ts
Due: biome-check

Updates landing page to feature MSM (#4534)
  frontend/public/img/graphics/msm-50-shli-banner.png
  frontend/src/pages/AboutUs/OurTeamData.ts
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

updates chr and tests to handle data from 2025
  python/datasources/chr.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/chr/golden_data/race_and_ethnicity_county_historical.csv
  python/tests/datasources/test_chr.py
Due: pylint

updates meta data to reflect accurate years including new 2025 data
  frontend/src/data/config/DatasetMetadataChr.ts
Due: biome-check

noted below strike
  frontend/src/cards/ui/Sources.tsx
Due: biome-check

fix(Sources): correct paragraph rendering for year notice message
  frontend/src/cards/ui/Sources.tsx
  frontend/src/data/config/DatasetMetadataChr.ts
  frontend/src/pages/DataCatalog/DataSourceListing.tsx
  frontend/src/pages/DataCatalog/downloadDataset.ts
Due: biome-check

Updated content for cancer and cancer screening topics (#4522)
  frontend/src/pages/Methodology/methodologySections/CancerLink.tsx
Due: biome-check

Methodology for cancer (disease rates) (#4521)
  frontend/src/pages/Methodology/methodologySections/CancerLink.tsx
Due: biome-check

scaffolds mapping for aggregation to primary source years
  python/datasources/chr.py
  python/ingestion/standardized_columns.py
Due: pylint

adds mapping of aggregation year to source data year from manual csv lookup
  python/datasources/chr.py
Due: pylint

use primary source years instaed of chr release years; updates tests
  python/datasources/chr.py
  python/ingestion/dataset_utils.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/chr/golden_data/race_and_ethnicity_county_historical.csv
Due: pylint
