Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

rv
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

biome
  .vscode/settings.json
  biome.json
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

a11y
  biome.json
  frontend/src/styles/HetComponents/HetCardMenu.tsx
Due: biome-check

pin 194
  .github/workflows/runFrontendTests.yml
Due: none

Fix biome issues by pinning CI version (#4472)
  .github/workflows/runFrontendTests.yml
Due: none

Tweaks WIHE page (#4470)
  frontend/src/pages/WhatIsHealthEquity/WhatIsHealthEquityPage.tsx
  frontend/src/styles/HetComponents/HetCarouselCard.tsx
Due: biome-check

git push origin HEAD:infra-test -f
  .github/workflows/dagCdcMiovd.yml
Due: none

updaing dag miovd file
  .github/workflows/dagCdcMiovd.yml
Due: none

adding cdc miovd data to frontend
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/src/data/config/DatasetMetadataCommunitySafetyCategory.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/featureFlags.ts
  frontend/src/pages/Methodology/methodologySections/CommunitySafetyLink.tsx
Due: biome-check

reverting dag file
  .github/workflows/dagCdcMiovd.yml
Due: none

biome 2 CI
  .github/workflows/runFrontendTests.yml
Due: none

rf fix legends
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
Due: biome-check

Fix small dataset legend bug (#4475)
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
Due: biome-check

fixing PR issues
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/data/config/MetadataMap.ts
Due: biome-check

fixing linting error
  frontend/src/charts/choroplethMap/tooltipUtils.ts
Due: biome-check

Add CDC MIOVD data to FRONTEND (#4473)
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/src/charts/choroplethMap/tooltipUtils.ts
  frontend/src/data/config/DatasetMetadataCommunitySafetyCategory.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/featureFlags.ts
  frontend/src/pages/Methodology/methodologySections/CommunitySafetyLink.tsx
Due: biome-check

updated young adults gun deaths data from 2021 to 2023
  data/cdc_wisqars/gun_deaths_young_adults-national-all.csv
  data/cdc_wisqars/gun_deaths_young_adults-national-race_and_ethnicity.csv
  data/cdc_wisqars/gun_deaths_young_adults-state-all.csv
  data/cdc_wisqars/gun_deaths_young_adults-state-race_and_ethnicity.csv
Due: none

updated youth gun deaths data from 2021 to 2023
  data/cdc_wisqars/gun_deaths_youth-national-all.csv
  data/cdc_wisqars/gun_deaths_youth-national-race_and_ethnicity.csv
  data/cdc_wisqars/gun_deaths_youth-state-all.csv
  data/cdc_wisqars/gun_deaths_youth-state-race_and_ethnicity.csv
Due: none

updating gun deaths national data to 2023
  data/cdc_wisqars/gun_deaths-national-age.csv
  data/cdc_wisqars/gun_deaths-national-all.csv
  data/cdc_wisqars/gun_deaths-national-ethnicity.csv
  data/cdc_wisqars/gun_deaths-national-race_and_ethnicity.csv
  data/cdc_wisqars/gun_deaths-national-race_nh.csv
  data/cdc_wisqars/gun_deaths-national-sex.csv
Due: none

updating state gun deaths
  data/cdc_wisqars/gun_deaths-state-age.csv
  data/cdc_wisqars/gun_deaths-state-all.csv
  data/cdc_wisqars/gun_deaths-state-ethnicity.csv
  data/cdc_wisqars/gun_deaths-state-race_and_ethnicity.csv
  data/cdc_wisqars/gun_deaths-state-race_nh.csv
  data/cdc_wisqars/gun_deaths-state-sex.csv
Due: none

updating gun homicides for black men
  data/cdc_wisqars/gun_homicides_black_men-national-age.csv
  data/cdc_wisqars/gun_homicides_black_men-national-all.csv
  data/cdc_wisqars/gun_homicides_black_men-national-urbanicity.csv
  data/cdc_wisqars/gun_homicides_black_men-state-age.csv
  data/cdc_wisqars/gun_homicides_black_men-state-all.csv
  data/cdc_wisqars/gun_homicides_black_men-state-urbanicity.csv
Due: none

m
  frontend/.env.dev
Due: none

updating gun homicides and suicides data
  data/cdc_wisqars/gun_homicides_suicides-national-age.csv
  data/cdc_wisqars/gun_homicides_suicides-national-all.csv
  data/cdc_wisqars/gun_homicides_suicides-national-ethnicity.csv
  data/cdc_wisqars/gun_homicides_suicides-national-race_and_ethnicity.csv
  data/cdc_wisqars/gun_homicides_suicides-national-race_nh.csv
  data/cdc_wisqars/gun_homicides_suicides-national-sex.csv
  data/cdc_wisqars/gun_homicides_suicides-state-age.csv
  data/cdc_wisqars/gun_homicides_suicides-state-all.csv
  data/cdc_wisqars/gun_homicides_suicides-state-ethnicity.csv
  data/cdc_wisqars/gun_homicides_suicides-state-race_and_ethnicity.csv
  data/cdc_wisqars/gun_homicides_suicides-state-race_nh.csv
  data/cdc_wisqars/gun_homicides_suicides-state-sex.csv
Due: none

updating test files
  python/tests/data/cdc_wisqars/gun_deaths_young_adults-national-all.csv
  python/tests/data/cdc_wisqars/gun_deaths_young_adults-national-race_and_ethnicity.csv
  python/tests/data/cdc_wisqars/gun_deaths_young_adults-state-all.csv
  python/tests/data/cdc_wisqars/gun_deaths_young_adults-state-race_and_ethnicity.csv
  python/tests/data/cdc_wisqars/gun_deaths_youth-national-all.csv
  python/tests/data/cdc_wisqars/gun_deaths_youth-national-race_and_ethnicity.csv
  python/tests/data/cdc_wisqars/gun_deaths_youth-state-all.csv
  python/tests/data/cdc_wisqars/gun_deaths_youth-state-race_and_ethnicity.csv
  python/tests/data/cdc_wisqars/gun_homicides_black_men-national-age.csv
  python/tests/data/cdc_wisqars/gun_homicides_black_men-national-all.csv
  python/tests/data/cdc_wisqars/gun_homicides_black_men-national-urbanicity.csv
  python/tests/data/cdc_wisqars/gun_homicides_black_men-state-age.csv
  python/tests/data/cdc_wisqars/gun_homicides_black_men-state-all.csv
  python/tests/data/cdc_wisqars/gun_homicides_black_men-state-urbanicity.csv
Due: none

playwright and mui
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

vite
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

NPM manual updates (#4481)
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

updating test files
  data/cdc_wisqars/gun_deaths-state-all.csv
  data/cdc_wisqars/gun_deaths-state-sex.csv
  python/tests/data/cdc_wisqars/golden_data/age_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/age_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/sex_state_historical.csv
Due: none

updating black men data
  black_men_by_age_national_current
  black_men_by_age_national_historical
  black_men_by_age_state_current
  black_men_by_age_state_historical
  black_men_by_urbanicity_national_current
  black_men_by_urbanicity_national_historical
  black_men_by_urbanicity_state_current
  black_men_by_urbanicity_state_historical
  python/tests/datasources/test_cdc_wisqars_black_men.py
Due: pylint

updating test file
  python/tests/datasources/test_cdc_wisqars_black_men.py
Due: pylint

updating youth test data
  black_men_by_age_national_current
  black_men_by_age_national_historical
  black_men_by_age_state_current
  black_men_by_age_state_historical
  black_men_by_urbanicity_national_current
  black_men_by_urbanicity_national_historical
  black_men_by_urbanicity_state_current
  black_men_by_urbanicity_state_historical
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_national_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wisqars/golden_data/youth_by_race_and_ethnicity_state_historical.csv
Due: none

updating data source years
  frontend/src/data/config/DatasetMetadataCommunitySafetyCategory.ts
Due: biome-check

alphabetize methodology metric route configs, alphabetize metric definitions, update metrics page to split definitions array and make sub menu functional again
  .pre-commit-config.yaml
  frontend/src/pages/Methodology/methodologyComponents/GlossaryTerm.tsx
  frontend/src/pages/Methodology/methodologyContent/ConditionVariable.tsx
  frontend/src/pages/Methodology/methodologyContent/MetricsDefinitions.tsx
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/MetricsLink.tsx
Due: biome-check

updates svialert path to correct methodology metrics route
  frontend/package.json
  frontend/src/cards/ui/SviAlert.tsx
Due: biome-check

biome fixes
  frontend/package.json
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
