Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

minor update to code
  python/datasources/cdc_miovd.py
Due: pylint

adding new miovd dag file"
  .github/workflows/dagCdcMiovd.yml
Due: none

updating yml file - lint
  .github/workflows/dagCdcMiovd.yml
Due: none

trigger
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
Due: biome-check

[DAG] Add CDC_MIOVD_DATA workflow for processing CDC MIOVD tables (#4456)
  .github/workflows/dagCdcMiovd.yml
Due: none

Revert "[DAG] Add CDC_MIOVD_DATA workflow for processing CDC MIOVD tables (#4…"
  .github/workflows/dagCdcMiovd.yml
Due: none

updating test file
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
Due: pylint

mui tanstack
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

making suggested changes
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
Due: pylint

removing unnecessary files
  all_county_current.csv
  all_county_historical.csv
Due: none

vite
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

dom-to-image-more
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

Fixes CI type-check errors.
  python/datasources/cdc_miovd.py
Due: pylint

Adds fixed frontend dependabot updates (#4459)
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

fix btn mobile
  frontend/src/pages/DataCatalog/DataCatalogPage.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/styles/HetComponents/HetCTABig.tsx
Due: biome-check

Fix CTA button on mobile (#4460)
  frontend/src/pages/DataCatalog/DataCatalogPage.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/styles/HetComponents/HetCTABig.tsx
Due: biome-check

Datasource/miovd (#4450)
  config/data_sources/cdc_miovd_data.tf
  data/cdc_miovd/gun_homicides-county-all.csv
  data/cdc_miovd/gun_suicides-county-all.csv
  python/datasources/cdc_miovd.py
  python/datasources/data_sources.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
  python/tests/datasources/test_cdc_miovd.py
Due: pylint

safelist flakys
  frontend/playwright-tests/externalUrls.spec.ts
Due: biome-check

updating gitignore file to ignore env.local
  .gitignore
Due: none

removing checked in local file
  frontend/.env.local
Due: none

updating gitignore file
  .gitignore
Due: none

updating readme
  README.md
Due: none

updating readme and checking local preview file
  README.md
  frontend/.env.local.preview
Due: none

removing variables from local preview env file
  frontend/.env.local.preview
Due: none

Updating gitignore file to ignore env.local (#4461)
  .gitignore
  README.md
  frontend/.env.local.preview
Due: none

fix
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

cleanup
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

Fixes ugly screenshots after Tailwind 4 Upgrade (#4464)
  frontend/src/cards/ui/CopyCardImageToClipboardButton.tsx
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

fix
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

hm
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

cleanup
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

fix safari
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
Due: biome-check

e2e
  frontend/playwright-tests/diabetes.ci.spec.ts
Due: biome-check

Fixes safari screenshot issues (#4466)
  frontend/playwright-tests/diabetes.ci.spec.ts
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

fixes modal screenshot
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

fixes modal screenshot (#4468)
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

update link redirect
  frontend/src/pages/Methodology/methodologyContent/ResourcesData.ts
Due: biome-check

fixes link (#4469)
  frontend/src/pages/Methodology/methodologyContent/ResourcesData.ts
Due: biome-check

rm auto scroll, fix missing corner border
  frontend/src/pages/WhatIsHealthEquity/WhatIsHealthEquityPage.tsx
  frontend/src/styles/HetComponents/HetCarouselCard.tsx
Due: biome-check

biome upgrade
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
