Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

fix(cdc-hiv): key is_suppressed columns off the rate metric id
  python/ingestion/cdc_hiv_utils.py
  python/tests/data/cdc_hiv/golden_data/age_national_current.csv
  python/tests/data/cdc_hiv/golden_data/age_national_historical.csv
  python/tests/data/cdc_hiv/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_hiv/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_hiv/golden_data/sex_county_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_county_historical.csv
  python/tests/data/cdc_hiv/golden_data/sex_state_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_state_historical.csv
Due: pylint

feat(skills): add /tackle to start work on an issue
  .claude/skills/tackle/SKILL.md
Due: none

feat(skills): add /tackle to start work on an issue (#5125)
  .claude/skills/tackle/SKILL.md
Due: none

chore(skills): auto-assign the running user in /pr skill (#5122)
  .claude/skills/pr/SKILL.md
Due: none

fix(cdc-hiv): extend suppression detection to black women datasource
  python/datasources/cdc_hiv_black_women.py
  python/ingestion/cdc_hiv_utils.py
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_national_current.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_national_historical.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_state_current.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_state_historical.csv
  python/tests/datasources/test_cdc_hiv_black_women.py
Due: pylint

fix(cdc-hiv): distinguish suppressed from unavailable data (#5123)
  python/datasources/cdc_hiv.py
  python/datasources/cdc_hiv_black_women.py
  python/ingestion/cdc_hiv_utils.py
  python/tests/data/cdc_hiv/golden_data/age_national_current.csv
  python/tests/data/cdc_hiv/golden_data/age_national_historical.csv
  python/tests/data/cdc_hiv/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cdc_hiv/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cdc_hiv/golden_data/sex_county_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_county_historical.csv
  python/tests/data/cdc_hiv/golden_data/sex_state_current.csv
  python/tests/data/cdc_hiv/golden_data/sex_state_historical.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_national_current.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_national_historical.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_state_current.csv
  python/tests/data/cdc_hiv_black_women/golden_data/black_women_by_age_state_historical.csv
  python/tests/datasources/test_cdc_hiv.py
  python/tests/datasources/test_cdc_hiv_black_women.py
Due: pylint

fix(pr skill): run black via pre-commit to avoid local venv version drift
  .claude/skills/pr/SKILL.md
Due: none

fix(pr skill): run black via pre-commit to avoid local venv version drift (#5126)
  .claude/skills/pr/SKILL.md
Due: none

chore(hiv): wire suppression metrics to frontend
  frontend/src/data/config/MetricConfigHivCategory.ts
  frontend/src/data/providers/HivBlackWomenProvider.ts
  frontend/src/data/providers/HivProvider.ts
Due: biome-check

docs: note that datasource changes require a DAG rerun to take effect
  CLAUDE.md
  python/CLAUDE.md
Due: none

fix(cdc-hiv): add missing is_suppressed columns to age-adjust schema
  python/datasources/age_adjust_cdc_hiv.py
Due: pylint

fix(cdc-hiv): add missing is_suppressed columns to age-adjust schema (#5132)
  python/datasources/age_adjust_cdc_hiv.py
Due: pylint

docs: note that datasource changes require a DAG rerun (#5131)
  CLAUDE.md
  python/CLAUDE.md
Due: none

feat(skills): add project board updates to /merge
  .claude/skills/merge/SKILL.md
Due: none

feat(skills): flag DAG reruns and deploy timing in /merge
  .claude/skills/merge/SKILL.md
Due: none

feat(skills): automate board + DAG updates in /merge (#5133)
  .claude/skills/merge/SKILL.md
Due: none

Wire HIV suppression columns into frontend (MetricConfig + provider) (#5129)
  frontend/src/data/config/MetricConfigHivCategory.ts
  frontend/src/data/providers/HivBlackWomenProvider.ts
  frontend/src/data/providers/HivProvider.ts
Due: biome-check

fix(skills): catch issues never referenced in a PR body
  .claude/skills/merge/SKILL.md
  .claude/skills/pr/SKILL.md
Due: none

fix(skills): catch issues never referenced in a PR body (#5134)
  .claude/skills/merge/SKILL.md
  .claude/skills/pr/SKILL.md
Due: none

docs(methodology): add ACS methodology documentation for Poverty and Uninsurance
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/SdohLink.tsx
Due: biome-check

fix(methodology): move AHR summary paragraph out of ACS section
  frontend/src/pages/Methodology/methodologySections/SdohLink.tsx
Due: biome-check

fix(methodology): correct ACS accuracy issues from review
  frontend/src/pages/Methodology/methodologySections/SdohLink.tsx
Due: biome-check

docs(methodology): add ACS Poverty and Uninsurance documentation (#5135)
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/SdohLink.tsx
Due: biome-check

fix(acs): scope vintage bump to acs_condition, keep population pipeline at 2022
  python/datasources/acs_population.py
  python/ingestion/merge_utils.py
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_age_county_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_race_national_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_race_state_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_sex_age_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_sex_national_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_sex_time_series.csv
  python/tests/data/acs_population/mock_cache/2024-Hispanic_or_Latino_Origin_by_Race_county.json
  python/tests/data/acs_population/mock_cache/2024-Hispanic_or_Latino_Origin_by_Race_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(American_Indian_and_Alaska_Native_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(American_Indian_and_Alaska_Native_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Asian_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Asian_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Black_or_African_American_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Black_or_African_American_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Hispanic_or_Latino)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Hispanic_or_Latino)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Native_Hawaiian_and_Other_Pacific_Islander_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Native_Hawaiian_and_Other_Pacific_Islander_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Some_Other_Race_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Some_Other_Race_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Two_or_More_Races)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Two_or_More_Races)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(White_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(White_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(White_Alone,_Not_Hispanic_or_Latino)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(White_Alone,_Not_Hispanic_or_Latino)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_state.json
  python/tests/datasources/test_acs_population.py
Due: pylint

fix(acs): reinstate full 2020-2024 vintage bump with DAG year matrices
  .github/workflows/dagAcsCondition.yml
  .github/workflows/dagAcsConditionPreCache.yml
  .github/workflows/dagAcsPopulation.yml
  python/datasources/acs_population.py
  python/ingestion/merge_utils.py
Due: pylint

fix(acs): un-claim live 2024 vintage, flag placeholder fixtures, add CSV refresh script
  frontend/src/pages/Methodology/methodologySections/SdohLink.tsx
  python/ingestion/acs_population/refresh_historical_csvs.py
  python/tests/datasources/test_acs_condition.py
Due: pylint, biome-check

fix(ingestion): validate JSON content type for JSON file destinations in url_file_to_gcs
  python/ingestion/url_file_to_gcs.py
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

test(ingestion): exercise HTTP error fallback
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

fix: validate JSON response in url_file_to_gcs before caching
  python/ingestion/url_file_to_gcs.py
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

fix: make MockResponse.json() parse content to catch invalid JSON
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

docs: add docstrings and clarify test helper parameter usage
  python/ingestion/url_file_to_gcs.py
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

fix: validate JSON response in url_file_to_gcs before caching (#5143)
  python/ingestion/url_file_to_gcs.py
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

fix: add CENSUS_API_KEY environment variable to gcs_to_bq Cloud Run service
  config/run.tf
Due: none

feat: add Census API key support to ACS datasources
  config/secrets.tf
  python/datasources/acs_condition.py
  python/datasources/acs_population.py
  python/ingestion/url_file_to_gcs.py
Due: pylint

refactor: move CENSUS_API_KEY read outside loop; improve URL check
  python/datasources/acs_population.py
  python/ingestion/url_file_to_gcs.py
Due: pylint

feat: add Census API key support to ACS datasources (#5145)
  config/secrets.tf
  python/datasources/acs_condition.py
  python/datasources/acs_population.py
  python/ingestion/url_file_to_gcs.py
Due: pylint

fix: add CENSUS_API_KEY env to gcs_to_bq Cloud Run service (#5144)
  config/run.tf
Due: none

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
