Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

feat: register alls fallback DatasetIds for CAWP, ACS, PHRMA, PHRMA BRFSS, and AHR behavioral health
  frontend/src/data/config/DatasetMetadata.ts
  frontend/src/data/config/DatasetMetadataAcs.ts
  frontend/src/data/config/DatasetMetadataAhr.ts
  frontend/src/data/config/DatasetMetadataCawp.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/providers/CawpProvider.ts
Due: biome-check

feat: offer union of demographic options when comparing two topics
  frontend/src/reports/reportUtils.test.ts
  frontend/src/reports/reportUtils.ts
Due: biome-check

refactor: run removeUnrequestedColumns on ALLs fallback data too
  frontend/src/data/providers/AcsConditionProvider.ts
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/data/providers/CawpProvider.ts
  frontend/src/data/providers/CdcCancerProvider.ts
  frontend/src/data/providers/CdcCovidProvider.ts
  frontend/src/data/providers/GunDeathsBlackMenProvider.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/data/providers/GunViolenceYouthProvider.ts
  frontend/src/data/providers/HivBlackWomenProvider.ts
  frontend/src/data/providers/HivProvider.ts
  frontend/src/data/providers/MaternalMortalityProvider.ts
  frontend/src/data/providers/PhrmaBrfssProvider.ts
  frontend/src/data/providers/PhrmaProvider.ts
  frontend/src/data/providers/VaccineProvider.ts
Due: biome-check

fix: keep All row in table on fallback for incarceration topics; hoist HASH_ID constants
  frontend/src/cards/RateBarChartCard.tsx
  frontend/src/cards/TableCard.tsx
  frontend/src/charts/rateBarChart/Index.tsx
Due: biome-check

fix(exporter): export NCI cancer ALLs file; fail loudly when demographic missing
  .github/workflows/dagNciCancer.yml
  exporter/main.py
  exporter/test_exporter.py
Due: pylint

test: assert usedAllsFallback true for ALLs fallback provider cases
  frontend/src/data/providers/AhrProvider.test.ts
  frontend/src/data/providers/GunViolenceProvider.test.ts
Due: biome-check

docs: document usedAllsFallback threading in data flow
  frontend/CLAUDE.md
Due: none

fix(ci): bump Netlify NODE_VERSION to 24 to match engines
  netlify.toml
Due: none

refactor: neutral wording for ALLs fallback notice
  frontend/src/cards/ui/AllsFallbackAlert.tsx
Due: biome-check

refactor: reword ALLs fallback notice to drop a/an article
  frontend/src/cards/ui/AllsFallbackAlert.tsx
Due: biome-check

test: disambiguate vaccination map title from new rate-chart title
  frontend/playwright-tests/vaccination.ci.spec.ts
Due: biome-check

refactor: use .some() instead of .map().includes() for cleaner code
  frontend/src/reports/reportUtils.ts
Due: biome-check

fix(e2e): scope poverty alt-table-view locator to rates-over-time table
  frontend/playwright-tests/poverty.spec.ts
Due: biome-check

fix(ci): drop removed terraform-var-file input from infra-test deploy
  .github/workflows/testBackendChangesInfraTest.yml
Due: none

feat(data): register AHR non-behavioral alls dataset ids
  frontend/src/data/config/DatasetMetadataAhr.ts
Due: biome-check

fix(exporter): backtick-quote table names in ALLs and county-split queries
  exporter/main.py
  exporter/test_exporter.py
Due: pylint

fix(exporter): surface ALLs and county-split failures so the DAG fails loudly
  exporter/main.py
  exporter/test_exporter.py
Due: pylint

address review: wrap bucket preparation in try-except for both helpers
  exporter/main.py
Due: pylint

refactor: remove duplicate unreachable no-tables check
  exporter/main.py
Due: pylint

feat(pr-skill): classify PR by bucket and run only relevant checks
  .claude/skills/pr/SKILL.md
Due: none

address review: harden backend check shell commands
  .claude/skills/pr/SKILL.md
Due: none

test: add ALLs fallback regression coverage
  frontend/playwright-tests/alls_fallback_contract.spec.ts
  frontend/src/data/query/MetricQuery.test.ts
Due: biome-check

Fix mobile share icon layout and over-dark select text
  frontend/src/cards/ui/CardShareIconButtons.tsx
  frontend/src/pages/ui/JumpToSelect.tsx
  frontend/src/reports/ui/ShareButtons.tsx
  frontend/src/styles/theme/muiTheme.tsx
Due: biome-check

Remove map card ALLs alert and rephrase remaining alert text
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/AllsFallbackAlert.tsx
Due: biome-check

docs: note map card does not show AllsFallbackAlert
  frontend/CLAUDE.md
Due: none

Show two trend lines for intersectional topics in rate-over-time card
  frontend/src/cards/RateTrendsChartCard.tsx
Due: biome-check

address review: guard rateComparisonDataTypeId, use TIME_PERIOD key, filter falsy groups
  frontend/src/cards/RateTrendsChartCard.tsx
Due: biome-check

docs: document rateComparisonMetricForAlls dual-query pattern
  frontend/CLAUDE.md
Due: none

Intersectional comparison labels: extract constants and type-safe config
  frontend/src/charts/trendsChart/constants.ts
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/config/MetricConfigHivCategory.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/utils/Constants.ts
Due: biome-check

docs: document intersectional label constant pattern in CLAUDE.md
  frontend/CLAUDE.md
Due: none

Reserve timeYellow for All reference line; shift other groups to altBlack
  frontend/src/charts/trendsChart/constants.ts
Due: biome-check

Fix MENA_W color collision with ALL_W in CAWP trend charts
  frontend/src/charts/trendsChart/constants.ts
Due: biome-check

In-group All labels use altGreen (matches bar card); MENA_W gets altBlack
  frontend/src/charts/trendsChart/constants.ts
Due: biome-check

Give MENA_W altGreen to resolve collision with ALL_W in CAWP charts
  frontend/src/charts/trendsChart/constants.ts
Due: biome-check

ALL_W is in-group All so gets altGreen; MENA_W back to altBlack
  frontend/src/charts/trendsChart/constants.ts
Due: biome-check

Rebrand contrast insight button to match 'insights' pattern
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check

Move contrast insight trigger below card pair, style as footer row
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check

Wire sparkle on each compare card to shared contrast insight card
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/ui/InsightVisualizationButton.tsx
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/utils/sharedSettingsState.ts
Due: biome-check

Match contrast insight styling to per-card insight card
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check

Add raised card shell, close button, and flag link to contrast insight
  frontend/src/reports/ContrastInsightSection.tsx
Due: biome-check
