Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

fix
  frontend/src/pages/News/NewsAndStoriesPage.tsx
Due: biome-check

fixes
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/News/WebflowNewsPreviewCard.tsx
  frontend/src/styles/HetComponents/HetTags.tsx
Due: biome-check

more cleanup
  frontend/src/pages/News/WebflowNewsPreviewCard.tsx
  frontend_server/routes/webflow.js
Due: biome-check

cleanup links
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/News/WebflowNewsPreviewCard.tsx
  frontend/src/styles/HetComponents/HetPostsLoading.tsx
  frontend/src/utils/blogUtils.ts
Due: biome-check

Switches blog fetching on landing page from Wordpress to Webflow Proxy (#4655)
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/News/ArticleTypes.ts
  frontend/src/pages/News/NewsAndStoriesPage.tsx
  frontend/src/pages/News/WebflowNewsPreviewCard.tsx
  frontend/src/styles/HetComponents/HetPostsLoading.tsx
  frontend/src/styles/HetComponents/HetTags.tsx
  frontend/src/utils/blogUtils.ts
  frontend/src/utils/globals.ts
  frontend/tsconfig.json
  frontend_server/routes/webflow.js
Due: biome-check

delete deprecated WP blog handling
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright-tests/externalUrls.spec.ts
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/pages/FAQs/FaqsPageData.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Landing/WebflowNewsPreviewCard.tsx
  frontend/src/pages/News/ArticleTypes.ts
  frontend/src/pages/News/CheckboxDropdown.tsx
  frontend/src/pages/News/NewsAndStoriesPage.tsx
  frontend/src/pages/News/NewsAndStoriesPreviewCardOutlined.tsx
  frontend/src/pages/News/NewsPage.tsx
  frontend/src/pages/News/SinglePost.tsx
  frontend/src/pages/ShareYourStory/CardLeftNumber.tsx
  frontend/src/pages/ShareYourStory/ShareYourStoryContent.tsx
  frontend/src/pages/ShareYourStory/ShareYourStoryPage.tsx
  frontend/src/reports/ui/ShareButtons.tsx
  frontend/src/utils/blogUtils.ts
  frontend/src/utils/externalUrls.ts
  frontend/src/utils/internalRoutes.ts
  frontend/src/utils/urlutils.tsx
Due: biome-check

consolidate and align url stuff
  frontend/src/pages/FAQs/FaqsPageData.tsx
  frontend/src/pages/navigationData.ts
  frontend/src/styles/HetComponents/HetButtonSecondary.tsx
  frontend/src/styles/HetComponents/HetDesktopToolbar.tsx
  frontend/src/styles/HetComponents/HetMobileToolbar.tsx
  frontend/src/utils/urlutils.tsx
Due: biome-check

fix missing param
  frontend/src/utils/urlutils.tsx
Due: biome-check

lint
  frontend/src/styles/HetComponents/HetLaunchLink.tsx
Due: biome-check

types decl
  frontend/src/custom.d.ts
Due: biome-check

deprecate wordpress news files
  frontend/playwright-tests/news.ci.spec.ts
  frontend/src/pages/News/ArticleTypes.ts
  frontend/src/pages/News/CheckboxDropdown.tsx
  frontend/src/pages/News/NewsAndStoriesPage.tsx
  frontend/src/pages/News/NewsAndStoriesPreviewCardOutlined.tsx
  frontend/src/pages/News/NewsPage.tsx
  frontend/src/pages/News/SinglePost.tsx
Due: biome-check

dont use thumnail size
  frontend_server/routes/webflow.js
Due: none

use img instead of div with background image
  frontend/src/pages/Landing/WebflowNewsPreviewCard.tsx
Due: biome-check

Fully remove deprecated Wordpress blog code (#4600)
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright-tests/externalUrls.spec.ts
  frontend/playwright-tests/news.ci.spec.ts
  frontend/src/App.tsx
  frontend/src/custom.d.ts
  frontend/src/index.css
  frontend/src/pages/FAQs/FaqsPageData.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Landing/WebflowNewsPreviewCard.tsx
  frontend/src/pages/News/ArticleTypes.ts
  frontend/src/pages/News/CheckboxDropdown.tsx
  frontend/src/pages/News/NewsAndStoriesPage.tsx
  frontend/src/pages/News/NewsAndStoriesPreviewCardOutlined.tsx
  frontend/src/pages/News/NewsPage.tsx
  frontend/src/pages/News/SinglePost.tsx
  frontend/src/pages/ShareYourStory/CardLeftNumber.tsx
  frontend/src/pages/ShareYourStory/ShareYourStoryContent.tsx
  frontend/src/pages/ShareYourStory/ShareYourStoryPage.tsx
  frontend/src/pages/WhatIsHealthEquity/wiheContent/ExternalResourcesTabData.tsx
  frontend/src/pages/navigationData.ts
  frontend/src/reports/ui/ShareButtons.tsx
  frontend/src/styles/HetComponents/HetButtonSecondary.tsx
  frontend/src/styles/HetComponents/HetCarouselCard.tsx
  frontend/src/styles/HetComponents/HetDesktopToolbar.tsx
  frontend/src/styles/HetComponents/HetLaunchLink.tsx
  frontend/src/styles/HetComponents/HetMobileToolbar.tsx
  frontend/src/utils/blogUtils.ts
  frontend/src/utils/externalUrls.ts
  frontend/src/utils/internalRoutes.ts
  frontend/src/utils/urlutils.tsx
  frontend_server/routes/webflow.js
Due: biome-check

rm localstorage persistor from useQuery blog stuff
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/utils/blogUtils.ts
Due: biome-check

lock
  frontend/package-lock.json
Due: biome-check

Removes local storage blog caching (#4661)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/utils/blogUtils.ts
Due: biome-check

Hide AI insight button on cards with no data (#4651)
  frontend/src/cards/AgeAdjustedTableCard.tsx
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateBarChartCard.tsx
  frontend/src/cards/RateTrendsChartCard.tsx
  frontend/src/cards/ShareTrendsChartCard.tsx
  frontend/src/cards/StackedSharesBarChartCard.tsx
  frontend/src/cards/TableCard.tsx
  frontend/src/cards/UnknownsMapCard.tsx
Due: biome-check

lint
  python/datasources/chr.py
Due: pylint

trigger frontend build
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

check in cerivcal cancer by county by race files to /data
  data/nci/cervical-alls.csv
  data/nci/cervical-asian.csv
  data/nci/cervical-black.csv
  data/nci/cervical-hispanic.csv
  data/nci/cervical-indigenous.csv
  data/nci/cervical-white.csv
Due: none

DATA: Checks in NCI county level cervical cancer data files by race to our `/data` (#4665)
  data/nci/cervical-alls.csv
  data/nci/cervical-asian.csv
  data/nci/cervical-black.csv
  data/nci/cervical-hispanic.csv
  data/nci/cervical-indigenous.csv
  data/nci/cervical-white.csv
Due: none

dont spell check the source data files
  cspell.config.json
Due: none

initial data file and testing setup
  cspell.config.json
  data/nci_cancer/cervical-AIAN_NH.csv
  data/nci_cancer/cervical-ALL.csv
  data/nci_cancer/cervical-API_NH.csv
  data/nci_cancer/cervical-BLACK_NH.csv
  data/nci_cancer/cervical-HISP.csv
  data/nci_cancer/cervical-WHITE_NH.csv
  python/datasources/nci_cancer.py
  python/ingestion/dataset_utils.py
  python/tests/data/nci_cancer/golden_data/race_and_ethnicity_county_current.csv
  python/tests/datasources/test_nci_cancer.py
  python/tests/datasources/test_utils.py
  race_and_ethnicity_county_current
Due: pylint

tests passing
  python/datasources/nci_cancer.py
  python/tests/data/nci_cancer/golden_data/race_and_ethnicity_county_current.csv
  python/tests/datasources/test_nci_cancer.py
  race_and_ethnicity_county_current
Due: pylint

adds pipeline files
  config/data_sources/nci_cancer.tf
  python/datasources/data_sources.py
  python/datasources/nci_cancer.py
Due: pylint

un delete function
  python/ingestion/dataset_utils.py
Due: pylint

adds source links
  python/datasources/nci_cancer.py
Due: pylint

adds dag for NCI
  .github/workflows/dagNciCancer.yml
Due: none

bot review suggestions
  python/datasources/nci_cancer.py
Due: pylint

adds test for source csv stability
  python/datasources/nci_cancer.py
  python/tests/datasources/test_nci_cancer.py
Due: pylint

BACKEND: Adds pipeline for NCI Cancer Data at County Level (#4666)
  .github/workflows/dagNciCancer.yml
  config/data_sources/nci_cancer.tf
  cspell.config.json
  data/nci_cancer/cervical-AIAN_NH.csv
  data/nci_cancer/cervical-ALL.csv
  data/nci_cancer/cervical-API_NH.csv
  data/nci_cancer/cervical-BLACK_NH.csv
  data/nci_cancer/cervical-HISP.csv
  data/nci_cancer/cervical-WHITE_NH.csv
  python/datasources/data_sources.py
  python/datasources/nci_cancer.py
  python/ingestion/dataset_utils.py
  python/tests/data/nci_cancer/golden_data/race_and_ethnicity_county_current.csv
  python/tests/datasources/test_nci_cancer.py
  python/tests/datasources/test_utils.py
Due: pylint

swap nonstandard _count_estimated_total_ for _estimated_total_
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/providers/CdcCancerProvider.ts
  python/datasources/cdc_wonder.py
  python/tests/data/cdc_wonder/golden_data/expected_age_national_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_sex_national_current.csv
Due: pylint, biome-check

align utils
  python/ingestion/cdc_wonder_utils.py
Due: pylint

Fixes nonstandard count col naming in CDC Wonder (#4669)
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/providers/CdcCancerProvider.ts
  python/datasources/cdc_wonder.py
  python/ingestion/cdc_wonder_utils.py
  python/tests/data/cdc_wonder/golden_data/expected_age_national_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_race_and_ethnicity_state_current.csv
  python/tests/data/cdc_wonder/golden_data/expected_sex_national_current.csv
Due: pylint, biome-check

add handling of NCI at county level
  frontend/src/data/config/DatasetMetadata.ts
  frontend/src/data/config/DatasetMetadataNciCancer.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/providers/CdcCancerProvider.ts
Due: biome-check

tailwind nit
  frontend/src/cards/ui/DemographicGroupMenu.tsx
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
