Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

fix: add CENSUS_API_KEY env to data-ingestion-service Cloud Run
  config/run.tf
Due: none

fix: pass CENSUS_API_KEY from environment to datasources
  run_ingestion/main.py
Due: pylint

chore: trigger container rebuild for Census API key fix
  run_ingestion/Dockerfile
Due: none

fix: complete Census API key integration (#5146)
  config/run.tf
  run_ingestion/Dockerfile
  run_ingestion/main.py
Due: pylint

chore(skills): add final review check to /merge skill to catch delayed CodeRabbit reviews
  .claude/skills/merge/SKILL.md
Due: none

chore(skills): add final review check to /merge skill (#5147)
  .claude/skills/merge/SKILL.md
Due: none

test(ingestion): cover URL fallback in get_first_response
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

fix(tests): update ACS population tests for ACS_CURRENT_YEAR=2024
  python/tests/datasources/test_acs_population.py
Due: pylint

fix: keep ACS_CURRENT_YEAR at 2022 in merge_utils until population data is refreshed
  python/ingestion/merge_utils.py
  python/tests/datasources/test_acs_population.py
Due: pylint

fix: update ACS_URLS_MAP to match ACS_CURRENT_YEAR=2022
  python/datasources/acs_population.py
Due: pylint

address review: guard ACS_CURRENT_YEAR/ACS_URLS_MAP consistency, clarify 2023/2024 status
  python/datasources/acs_condition.py
  python/datasources/acs_population.py
Due: pylint

fix: retry transient Census API failures, allow single-year precache DAG runs
  .github/workflows/dagAcsConditionPreCache.yml
  python/ingestion/url_file_to_gcs.py
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

fix: check ValueError before RequestException in get_first_response
  python/ingestion/url_file_to_gcs.py
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

Retry transient Census API failures, allow single-year precache DAG runs (#5149)
  .github/workflows/dagAcsConditionPreCache.yml
  python/ingestion/url_file_to_gcs.py
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

Regenerate real 2024 ACS condition test fixtures
  python/datasources/acs_condition.py
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_AIAN.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_ASIAN.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_BLACK.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_HISP.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_MULTI.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_NHPI.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_OTHER_STANDARD.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_WHITE.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_AIAN.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_ASIAN.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_BLACK.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_HISP.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_MULTI.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_NHPI.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_OTHER_STANDARD.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_WHITE.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_SEX_COUNTY.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_SEX_STATE.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_AIAN.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_ASIAN.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_BLACK.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_HISP.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_MULTI.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_NHPI.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_OTHER_STANDARD.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_WHITE.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_AIAN.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_ASIAN.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_BLACK.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_HISP.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_MULTI.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_NHPI.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_OTHER_STANDARD.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_WHITE.json
  python/tests/data/acs_condition/2024-POVERTY_BY_SEX_COUNTY.json
  python/tests/data/acs_condition/2024-POVERTY_BY_SEX_STATE.json
  python/tests/datasources/test_acs_condition.py
Due: pylint

Regenerate real 2024 ACS condition test fixtures (#5151)
  python/datasources/acs_condition.py
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_AIAN.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_ASIAN.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_BLACK.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_HISP.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_MULTI.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_NHPI.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_OTHER_STANDARD.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_COUNTY_WHITE.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_AIAN.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_ASIAN.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_BLACK.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_HISP.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_MULTI.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_NHPI.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_OTHER_STANDARD.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_RACE_STATE_WHITE.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_SEX_COUNTY.json
  python/tests/data/acs_condition/2024-HEALTH_INSURANCE_BY_SEX_STATE.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_AIAN.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_ASIAN.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_BLACK.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_HISP.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_MULTI.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_NHPI.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_OTHER_STANDARD.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_COUNTY_WHITE.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_AIAN.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_ASIAN.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_BLACK.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_HISP.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_MULTI.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_NHPI.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_OTHER_STANDARD.json
  python/tests/data/acs_condition/2024-POVERTY_BY_RACE_STATE_WHITE.json
  python/tests/data/acs_condition/2024-POVERTY_BY_SEX_COUNTY.json
  python/tests/data/acs_condition/2024-POVERTY_BY_SEX_STATE.json
  python/tests/datasources/test_acs_condition.py
Due: pylint

test(ingestion): cover URL fallback in get_first_response (#5148)
  python/tests/ingestion/test_url_file_to_gcs.py
Due: pylint

docs(python): document ACS vintage year bump process in CLAUDE.md
  python/CLAUDE.md
Due: none

fix(build): never let Sentry source map upload fail the build
  frontend/vite.config.ts
Due: biome-check

fix(build): neutral wording for Sentry failure warning
  frontend/vite.config.ts
Due: biome-check

Never let Sentry source map upload fail the build (#5162)
  frontend/vite.config.ts
Due: biome-check

docs(config): correct census-api-key consumer list in secrets.tf
  config/secrets.tf
Due: none

Correct census-api-key consumer list in secrets.tf (#5164)
  config/secrets.tf
Due: none

chore(skills): remove split and review-post skills
  .claude/skills/review-post/SKILL.md
  .claude/skills/review/SKILL.md
  .claude/skills/split/SKILL.md
Due: none

Remove the /split and /review-post skills (#5167)
  .claude/skills/review-post/SKILL.md
  .claude/skills/review/SKILL.md
  .claude/skills/split/SKILL.md
Due: none

docs(python): add pre-cache prerequisite and scope ACS_CURRENT_YEAR
  python/CLAUDE.md
Due: none

docs(python): document ACS vintage year bump process (#5158)
  python/CLAUDE.md
Due: none

Hide share-based cards and their TOC steps for rate-only topics (#5118)
  frontend/src/reports/Report.tsx
Due: biome-check

Size insight generation ceilings against measured free-tier quota
  config/variables.tf
  server/CLAUDE.md
  server/insight_budget.go
Due: none

fix(e2e): scope 'age' locator to #rate-chart in hiv_care spec
  frontend/playwright-tests/hiv_care.spec.ts
Due: biome-check

fix(e2e): scope 'age' locator in hiv_care spec (#5169)
  frontend/playwright-tests/hiv_care.spec.ts
Due: biome-check

address review: sync log example limits with new defaults
  server/CLAUDE.md
Due: none

Address review: fix stale ceiling reference and state the judgment calls
  server/CLAUDE.md
  server/insight_budget.go
Due: none

fix(python): bump ACS_CURRENT_YEAR to 2024 so the refreshed CSVs are used
  python/ingestion/merge_utils.py
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_historical.csv
  python/tests/data/cawp/golden_data/race_and_ethnicity_national_current.csv
  python/tests/data/cawp/golden_data/race_and_ethnicity_national_historical.csv
  python/tests/data/cawp/golden_data/race_and_ethnicity_state_current.csv
  python/tests/data/cawp/golden_data/race_and_ethnicity_state_historical.csv
  python/tests/datasources/test_acs_population.py
  python/tests/ingestion/test_merge_utils.py
Due: pylint

test(python): capture 2024 ACS population fixtures so tests treat 2024 as current
  python/tests/data/acs_population/golden_data/table_by_age_county.csv
  python/tests/data/acs_population/golden_data/table_by_race_national.csv
  python/tests/data/acs_population/golden_data/table_by_race_state.csv
  python/tests/data/acs_population/golden_data/table_by_sex.csv
  python/tests/data/acs_population/golden_data/table_by_sex_age.csv
  python/tests/data/acs_population/golden_data/table_by_sex_national.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_age_county_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_race_national_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_race_state_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_sex_age_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_sex_national_time_series.csv
  python/tests/data/acs_population/golden_data/time_series_appends/table_by_sex_time_series.csv
  python/tests/data/acs_population/mock_cache/2024-Hispanic_or_Latino_Origin_by_Race_county.json
  python/tests/data/acs_population/mock_cache/2024-Hispanic_or_Latino_Origin_by_Race_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(American_Indian_and_Alaska_Native_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(American_Indian_and_Alaska_Native_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Asian_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Asian_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Black_or_African_American_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Black_or_African_American_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Hispanic_or_Latino)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Hispanic_or_Latino)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Native_Hawaiian_and_Other_Pacific_Islander_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Native_Hawaiian_and_Other_Pacific_Islander_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Some_Other_Race_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Some_Other_Race_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Two_or_More_Races)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(Two_or_More_Races)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(White_Alone)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(White_Alone)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(White_Alone,_Not_Hispanic_or_Latino)_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_(White_Alone,_Not_Hispanic_or_Latino)_state.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_county.json
  python/tests/data/acs_population/mock_cache/2024-Sex_by_Age_state.json
  python/tests/datasources/test_acs_population.py
Due: pylint
