Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

refactor(tooltip): clear timer on unmount, hoist loop-invariant scale values
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/useChartTooltip.ts
Due: biome-check

fix(tooltip): increase delay to 400ms and animate orientation flip
  frontend/src/charts/HetChartHoverTooltip.tsx
  frontend/src/charts/useChartTooltip.ts
Due: biome-check

fix(tooltip): smooth flip by anchoring top to cursor y, offset via transform
  frontend/src/charts/HetChartHoverTooltip.tsx
Due: biome-check

fix(map): NaN legend gradient, tooltip units, alert padding, legend colors
  frontend/src/charts/choroplethMap/mapHelpers.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/reports/ui/IncarceratedChildrenLongAlert.tsx
Due: biome-check

feat(tooltip): animate and unify tooltip behavior across all chart types (#4805)
  frontend/src/charts/HetChartHoverTooltip.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
  frontend/src/charts/rateBarChart/Index.tsx
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/trendsChart/Index.tsx
  frontend/src/charts/useChartTooltip.ts
Due: biome-check

address review: multi-hue gradient stops, always-labeled bounds, undefined not null
  frontend/src/charts/choroplethMap/mapHelpers.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
Due: biome-check

fix(map): skip formatMetricValue for unknowns tooltip to prevent double-% and rounding
  frontend/src/charts/choroplethMap/mapHelpers.ts
Due: biome-check

fix(map): drop manual % in unknowns tooltip - value already formatted
  frontend/src/charts/choroplethMap/mapHelpers.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
Due: biome-check

fix(map): preserve decimal in pct tooltip values via .1~f format
  frontend/src/charts/choroplethMap/mapHelpers.ts
Due: biome-check

address review: null guard on unknowns tooltip, pixel-based tick gap
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
Due: biome-check

fix(map): gradient legend accuracy, tooltip units, alert padding (#4809)
  frontend/src/charts/choroplethMap/mapHelpers.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/reports/ui/IncarceratedChildrenLongAlert.tsx
Due: biome-check

feat(skills): add /release skill for cutting production releases
  .claude/skills/release/SKILL.md
Due: none

address review: robust prod run polling, extracted RUN_ID, tighter chart selector
  .claude/skills/release/SKILL.md
Due: none

feat(release-skill): add release summary + consent gate before publishing
  .claude/skills/release/SKILL.md
Due: none

feat(skills): add /release skill for cutting production releases (#4811)
  .claude/skills/release/SKILL.md
Due: none

fix(release-skill): correct selectors, collapse tag confirm into consent gate
  .claude/skills/release/SKILL.md
Due: none

data(cawp): check in 118th Congress county-to-congressional-district crosswalk
  data/cawp/tab20_cd11820_county20_natl.txt
  python/datasources/cawp.py
Due: pylint

data(cawp): preserve district numbers from unitedstates.io JSON
  python/datasources/cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint

data(cawp): add county-level congressional representation tables by race
  .github/workflows/dagCawp.yml
  python/datasources/cawp.py
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_historical.csv
  python/tests/data/cawp/mock_county_crosswalk.txt
  python/tests/datasources/test_cawp.py
Due: pylint

fix(cawp): populate women names for All race rows in county breakdown
  python/datasources/cawp.py
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_current.csv
  python/tests/datasources/test_cawp.py
Due: pylint

fix(cawp): skip non-numeric district codes in county congressional_districts col
  python/datasources/cawp.py
Due: pylint

refactor(insights): reframe flagging as "report" and tighten disclaimer copy
  frontend/src/cards/ui/FlagInsightButton.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/utils/flagInsight.ts
Due: biome-check

feat(insights): user flagging for problematic AI insights (#4614) (#4801)
  config/common.tfvars
  config/example.tfvars
  config/gcp.tfvars
  config/main.tf
  config/run.tf
  config/serviceaccounts.tf
  config/variables.tf
  data_server/main.py
  frontend/src/cards/ui/FlagInsightButton.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/utils/fetchAIInsight.ts
  frontend/src/utils/flagInsight.ts
  frontend/src/utils/generateReportInsight.ts
  frontend/src/utils/generateVisualizationInsight.ts
  frontend_server/server.js
  python/data_server/gcs_utils.py
  python/tests/data_server/test_main.py
Due: pylint, biome-check

fix(cawp): include territory counties in congressional representation
  python/datasources/cawp.py
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/cawp/golden_data/race_and_ethnicity_county_historical.csv
  python/tests/data/cawp/mock_county_crosswalk.txt
  python/tests/datasources/test_cawp.py
Due: pylint

feat(skills): add /review and /review-post skills
  .claude/skills/review-post/SKILL.md
  .claude/skills/review/SKILL.md
Due: none

fix(review): rename header from Senior Review to Auto-Review
  .claude/skills/review/SKILL.md
Due: none

chore: add CodeRabbit config for automated PR reviews
  .coderabbit.yaml
Due: none

fix(coderabbit): add ** wildcard as first path_filters entry
  .coderabbit.yaml
Due: none

chore(coderabbit): add doc link comment to config header
  .coderabbit.yaml
Due: none

chore(coderabbit): chill profile, priority-labeled tone like Gemini
  .coderabbit.yaml
Due: none

fix(coderabbit): correct suppression claim, use real token names
  .coderabbit.yaml
Due: none

chore: add CodeRabbit config to replace Gemini Code Assist (#4830)
  .coderabbit.yaml
Due: none

fix(cawp): name territory at-large code constants, update module docstring
  cspell.config.json
  python/datasources/cawp.py
Due: pylint

refactor(cawp): fetch congress members once in write_to_bq, pass df down
  python/datasources/cawp.py
Due: pylint

fix(review): rename header from Senior Review to Auto-Review with robot emoji
  .claude/skills/review/SKILL.md
Due: none

fix(review): rename Auto-Review header, add robot emoji (#4833)
  .claude/skills/review/SKILL.md
Due: none

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
