Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

redo merge logic across multi year mini dfs
  python/datasources/chr.py
  python/ingestion/dataset_utils.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/chr/golden_data/race_and_ethnicity_county_historical.csv
Due: pylint

updating hiv care test files
  python/tests/data/cdc_hiv/hiv_care/hiv_care-county-all.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-county-sex.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-national-age.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-national-all.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-national-race_and_ethnicity.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-national-sex.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-state-age.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-state-all.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-state-race_and_ethnicity.csv
  python/tests/data/cdc_hiv/hiv_care/hiv_care-state-sex.csv
Due: none

updating test hiv diagnoses files
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-county-all.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-county-sex.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-national-age.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-national-all.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-national-race_and_ethnicity.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-national-sex.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-state-age.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-state-all.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-state-race_and_ethnicity.csv
  python/tests/data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-state-sex.csv
Due: none

updating test hiv prevalence files
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-county-all.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-county-sex.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-national-age.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-national-all.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-national-race_and_ethnicity.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-national-sex.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-state-age.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-state-all.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-state-race_and_ethnicity.csv
  python/tests/data/cdc_hiv/hiv_prevalence/hiv_prevalence-state-sex.csv
Due: none

updating the test hiv stigma files
  python/tests/data/cdc_hiv/hiv_stigma_index/hiv_stigma_index-national-age.csv
  python/tests/data/cdc_hiv/hiv_stigma_index/hiv_stigma_index-national-all.csv
  python/tests/data/cdc_hiv/hiv_stigma_index/hiv_stigma_index-national-race_and_ethnicity.csv
  python/tests/data/cdc_hiv/hiv_stigma_index/hiv_stigma_index-national-sex.csv
  python/tests/data/cdc_hiv/hiv_stigma_index/hiv_stigma_index-state-all.csv
Due: none

adds year to test data; fixes multi year aggregation step
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/ui/Sources.tsx
  python/datasources/chr.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/chr/golden_data/race_and_ethnicity_county_historical.csv
  python/tests/datasources/test_chr.py
Due: pylint, biome-check

fix(chr): ensure year_topic_df is a copy to avoid mutating original dataframe
  python/datasources/chr.py
  python/ingestion/dataset_utils.py
Due: pylint

fix(config): update original data sourced years to 2008-2022
  frontend/src/data/config/DatasetMetadataChr.ts
Due: biome-check

feat(chr): refactor data source functions and add chr_utils module
  python/datasources/chr.py
  python/ingestion/chr_utils.py
Due: pylint

feat(ingestion): replace hardcoded sheet names with constants
  python/ingestion/chr_utils.py
Due: pylint

refactor(chr): replace hardcoded sheet names with constants
  python/datasources/chr.py
Due: pylint

refactor(ingestion): specify type for prefixes variable in get_all_topic_prefixes function
  python/ingestion/chr_utils.py
Due: pylint

refactor(chr): improve comments for clarity and future updates
  python/datasources/chr.py
Due: pylint

BACKEND: Uses primary instead of aggregation year for CHR historical data (#4542)
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/ui/Sources.tsx
  frontend/src/data/config/DatasetMetadataChr.ts
  python/datasources/chr.py
  python/ingestion/chr_utils.py
  python/ingestion/dataset_utils.py
  python/ingestion/standardized_columns.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
  python/tests/data/chr/golden_data/race_and_ethnicity_county_historical.csv
  python/tests/datasources/test_chr.py
Due: pylint, biome-check

updating data files
  data/cdc_hiv/hiv_deaths/hiv_deaths-national-age.csv
  data/cdc_hiv/hiv_deaths/hiv_deaths-national-all.csv
  data/cdc_hiv/hiv_deaths/hiv_deaths-state-race_and_ethnicity.csv
Due: none

updating hiv diagnoses file
  data/cdc_hiv/hiv_diagnoses/hiv_diagnoses-state-all.csv
Due: none

starting to add n count read for chr firearm
  python/datasources/chr.py
  python/ingestion/chr_utils.py
Due: pylint

updating error in code
  python/ingestion/cdc_hiv_utils.py
Due: pylint

updates chr to ingest and output current counts of gun deaths
  python/datasources/chr.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
Due: pylint

refactor(chr_utils): update CHR_RACE_MAPS structure for clarity
  python/ingestion/chr_utils.py
Due: pylint

refactor(chr): simplify comments and improve variable naming for clarity
  python/datasources/chr.py
Due: pylint

updating HIV test for black women
  frontend/playwright-tests/hiv_black_women.ci.spec.ts
Due: biome-check

BACKEND: Adds N Count for CHR Firearm Fatalities (#4544)
  python/datasources/chr.py
  python/ingestion/chr_utils.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
Due: pylint

fixing failing tests
  frontend/playwright-tests/hiv_black_women.ci.spec.ts
Due: biome-check

Update HIV Black Women tests for 65+ age category (#4545)
  frontend/playwright-tests/hiv_black_women.ci.spec.ts
Due: biome-check

fix(config): update URLs for PQA metrics in MetricConfigPhrma.ts
  frontend/src/data/config/MetricConfigPhrma.ts
  frontend/src/pages/Methodology/methodologySections/MedicationUtilizationLink.tsx
Due: biome-check

fix(Methodology): add space after link in MedicationUtilizationLink component
  frontend/src/pages/Methodology/methodologySections/MedicationUtilizationLink.tsx
Due: biome-check

Fixes broken PHRMA methodology links (#4550)
  frontend/src/data/config/MetricConfigPhrma.ts
  frontend/src/pages/Methodology/methodologySections/MedicationUtilizationLink.tsx
Due: biome-check

chore(env): remove VITE_CHLP_GRAPHS from env files and update usage
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/src/reports/ReportProvider.tsx
Due: biome-check

Enables CHLP on prod by removing feature flagging (#4553)
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/src/reports/ReportProvider.tsx
Due: biome-check

Add suppression flag handling for CDC data (#4491)
  python/datasources/cdc_miovd.py
  python/ingestion/dataset_utils.py
  python/ingestion/standardized_columns.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
Due: pylint

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
