Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

feat(skills): add /pre-release skill and fix /release to exclude tooling commits
  .claude/skills/pre-release/SKILL.md
  .claude/skills/release/SKILL.md
Due: none

fix(skills): broaden 'live on merge' category to include workflows and CLAUDE.md
  .claude/skills/pre-release/SKILL.md
Due: none

fix(skills): categorize commits by deployInfraTest.yml paths, not file type
  .claude/skills/pre-release/SKILL.md
Due: none

fix(skills): flag buildAllAndDeploy@main as live-on-merge footgun for prod releases
  .claude/skills/pre-release/SKILL.md
Due: none

fix(skills): downgrade buildAllAndDeploy edge case to a note, not a risk flag
  .claude/skills/pre-release/SKILL.md
Due: none

feat(skills): add /pre-release skill and fix /release to exclude tooling commits (#5255)
  .claude/skills/pre-release/SKILL.md
  .claude/skills/release/SKILL.md
Due: none

refactor(providers): consolidate 16 data providers into UniversalProvider
  frontend/src/data/providers/AcsConditionProvider.ts
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/data/providers/CawpProvider.ts
  frontend/src/data/providers/CdcCancerProvider.ts
  frontend/src/data/providers/CdcCovidProvider.ts
  frontend/src/data/providers/GeoContextProvider.ts
  frontend/src/data/providers/GunDeathsBlackMenProvider.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/data/providers/GunViolenceYouthProvider.ts
  frontend/src/data/providers/HivBlackWomenProvider.ts
  frontend/src/data/providers/HivProvider.ts
  frontend/src/data/providers/IncarcerationProvider.tsx
  frontend/src/data/providers/MaternalMortalityProvider.ts
  frontend/src/data/providers/PhrmaBrfssProvider.ts
  frontend/src/data/providers/PhrmaProvider.ts
  frontend/src/data/providers/UniversalProvider.ts
  frontend/src/data/providers/VaccineProvider.ts
  frontend/src/data/providers/VariableProvider.ts
Due: biome-check

refactor(providers): replace lazy imports with structural cycle breaks
  frontend/src/data/loading/dataManagerRef.ts
  frontend/src/data/providers/UniversalProvider.ts
  frontend/src/data/providers/VariableProvider.ts
  frontend/src/data/query/MetricQuery.ts
  frontend/src/reports/reportUtils.ts
  frontend/src/utils/globals.ts
Due: biome-check

refactor(providers): replace lazy imports with structural cycle breaks
  frontend/src/data/providers/IncarcerationProvider.test.ts
  frontend/src/data/providers/IncarcerationProvider.ts
  frontend/src/reports/reportUtils.ts
  frontend/src/utils/globals.ts
Due: biome-check

docs: update frontend CLAUDE.md to reflect UniversalProvider consolidation
  frontend/CLAUDE.md
Due: none

fix(banner): sentence-case the "About data limitations" link
  frontend/src/reports/ui/Banner.tsx
Due: biome-check

fix(banner): sentence-case the "About data limitations" link (#5257)
  frontend/src/reports/ui/Banner.tsx
Due: biome-check

refactor(providers): simplify county FIPS-append to geography-based invariant
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/providers/AhrProvider.test.ts
  frontend/src/data/providers/PhrmaProvider.test.ts
  frontend/src/data/providers/UniversalProvider.ts
Due: biome-check

Keep timeouts and failed generations out of NO_INSIGHT
  frontend/scripts/insight-quality-pass/README.md
  frontend/scripts/insight-quality-pass/harvest.ts
Due: biome-check

Say why prompt capture failed
  frontend/scripts/insight-quality-pass/harvest.ts
Due: biome-check

refactor(providers): replace metricIds allowsBreakdowns dispatch with dataTypeId
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/providers/UniversalProvider.ts
  frontend/src/data/providers/VariableProvider.ts
Due: biome-check

Add the insight quality pass: launch bar, review set, and harvester (#5261)
  frontend/package.json
  frontend/scripts/insight-quality-pass/README.md
  frontend/scripts/insight-quality-pass/harvest.ts
  frontend/scripts/insight-quality-pass/results/.gitkeep
  frontend/scripts/insight-quality-pass/review-set.json
  server/CLAUDE.md
Due: biome-check

refactor(providers): split DataSourceConfigs out of VariableProviderMap
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/loading/VariableProviderMap.ts
Due: biome-check

refactor(providers): lift island-area DECIA dataset logic into UniversalProvider
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/providers/UniversalProvider.ts
Due: biome-check

fix(pipeline): drop partial month and normalize population columns at pipeline layer
  frontend/src/data/providers/CdcCovidProvider.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  python/datasources/cdc_restricted.py
  python/datasources/chr.py
  python/tests/data/cdc_restricted/cdc_restricted_by_race_state.csv
  python/tests/data/cdc_restricted/golden_data/sex_county_historical.json
  python/tests/data/cdc_restricted/golden_data/sex_national_historical.json
  python/tests/data/cdc_restricted/golden_data/sex_state_historical.json
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
  python/tests/datasources/test_cdc_restricted.py
Due: pylint, biome-check

fix(chr): preserve chr_population aliases for AhrProvider compatibility
  python/datasources/chr.py
Due: pylint

fix(review): remove dead dropRecentPartialMonth, add drop test, track chr alias debt
  frontend/src/data/utils/DatasetTimeUtils.test.ts
  frontend/src/data/utils/DatasetTimeUtils.ts
  python/datasources/chr.py
  python/tests/datasources/test_cdc_restricted.py
Due: pylint, biome-check

fix(chr): include fatal_population in historical output
  python/datasources/chr.py
Due: pylint

refactor(chr): remove population cols from historical_float_cols
  python/datasources/chr.py
Due: pylint

fix(chr): preserve population cols in current CHR output
  python/datasources/chr.py
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
Due: pylint

fix(pipeline): drop partial month and normalize CHR population columns at pipeline layer (#5265)
  frontend/src/data/providers/CdcCovidProvider.ts
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/data/utils/DatasetTimeUtils.test.ts
  frontend/src/data/utils/DatasetTimeUtils.ts
  python/datasources/cdc_restricted.py
  python/datasources/chr.py
  python/tests/data/cdc_restricted/cdc_restricted_by_race_state.csv
  python/tests/data/cdc_restricted/golden_data/sex_county_historical.json
  python/tests/data/cdc_restricted/golden_data/sex_national_historical.json
  python/tests/data/cdc_restricted/golden_data/sex_state_historical.json
  python/tests/data/chr/golden_data/race_and_ethnicity_county_current.csv
  python/tests/datasources/test_cdc_restricted.py
Due: pylint, biome-check

fix: remove deleted dropRecentPartialMonth function usage
  frontend/src/data/loading/DataSourceConfigs.ts
Due: biome-check

refactor: cleanup UniversalProvider, remove duplicated function and no-ops
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/providers/UniversalProvider.ts
Due: biome-check

refactor: remove dead ProviderId entries and make getConsumedDatasetIds optional
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/providers/UniversalProvider.ts
Due: biome-check

refactor: move all MetricId[] arrays to their MetricConfig home files
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/config/MetricConfigCovidCategory.ts
  frontend/src/data/config/MetricConfigMaternalHealth.ts
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/config/MetricConfigPhrmaBrfss.ts
  frontend/src/data/config/MetricConfigSDOH.ts
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/loading/VariableProviderMap.ts
Due: biome-check

fix: address review feedback on UniversalProvider refactor
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/loading/dataManagerRef.ts
  frontend/src/data/providers/UniversalProvider.ts
Due: biome-check

fix: remove duplicate ahr_population_pct from AHR_PROVIDER_METRICS
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
Due: biome-check

refactor: address review feedback — streamline provider registration and config
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/providers/UniversalProvider.ts
  frontend/src/utils/globals.ts
Due: biome-check

refactor: add resolveDataset helper for declarative geo/type dataset routing
  frontend/src/data/loading/DataSourceConfigs.ts
Due: biome-check

docs: document resolveDataset helper in new-topic onboarding guide
  frontend/CLAUDE.md
Due: none

fix: address review feedback on UniversalProvider refactor pt.2
  frontend/src/data/loading/DataSourceConfigs.ts
  frontend/src/data/loading/VariableProviderMap.ts
  frontend/src/data/loading/dataManagerRef.ts
  frontend/src/data/providers/UniversalProvider.ts
Due: biome-check

feat(exporter): state-split county alls files in export_alls
  exporter/main.py
  exporter/test_exporter.py
Due: pylint

refactor(exporter): extract _write_county_splits helper, strengthen test
  exporter/main.py
  exporter/test_exporter.py
Due: pylint

feat(exporter): state-split county alls files (#5269)
  exporter/main.py
  exporter/test_exporter.py
Due: pylint
