Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

test(geo-selector): add CI E2E tests for recent locations feature
  frontend/playwright-tests/geo_selector_recents.ci.spec.ts
Due: biome-check

perf(tests): use addInitScript to halve page loads in geo recent tests
  frontend/playwright-tests/geo_selector_recents.ci.spec.ts
Due: biome-check

fix(chlp-banner): restore spaces and block layout on Open CHLP Maps button
  frontend/src/reports/ui/CHLPMapsBanner.tsx
Due: biome-check

fix(chlp-banner): uniform font weight across button text
  frontend/src/reports/ui/CHLPMapsBanner.tsx
Due: biome-check

fix(chlp-banner): re-add font-semibold to inner spans
  frontend/src/reports/ui/CHLPMapsBanner.tsx
Due: biome-check

fix(chlp-banner): restore spaces and block layout on Open CHLP Maps button (#4798)
  frontend/src/reports/ui/CHLPMapsBanner.tsx
Due: biome-check

feat(geo-selector): show recently visited locations in geo picker (#4791)
  frontend/playwright-tests/geo_selector_recents.ci.spec.ts
  frontend/src/pages/ExploreData/LocationSelector.tsx
  frontend/src/styles/HetComponents/HetLocationSearch.tsx
  frontend/src/utils/hooks/useRecentLocations.tsx
Due: biome-check

fix(landing): replace YouTube iframe with centered thumbnail facade
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Landing/LandingPageListItem.tsx
Due: biome-check

adding flagging capability
  config/common.tfvars
  config/example.tfvars
  config/gcp.tfvars
  config/main.tf
  config/run.tf
  config/serviceaccounts.tf
  config/variables.tf
  data_server/main.py
  frontend/src/cards/ui/FlagInsightButton.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/utils/fetchAIInsight.ts
  frontend/src/utils/flagInsight.ts
  frontend/src/utils/generateReportInsight.ts
  frontend/src/utils/generateVisualizationInsight.ts
  frontend_server/server.js
  python/data_server/gcs_utils.py
  python/tests/data_server/test_main.py
Due: pylint, biome-check

adding ability to ergnerate a fresh insight after flagging bad insight
  data_server/main.py
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  python/tests/data_server/test_main.py
Due: pylint, biome-check

address review: improve privacy and accessibility for video thumbnail facade
  frontend/src/pages/Landing/LandingPageListItem.tsx
Due: biome-check

feat(insights): enable negative-example feedback loop on frontend server
  config/run.tf
Due: none

fix(landing): use picture/webp for YouTube thumbnail with jpg fallback
  frontend/src/pages/Landing/LandingPageListItem.tsx
Due: biome-check

fix(landing): replace YouTube iframe with centered thumbnail facade (#4800)
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Landing/LandingPageListItem.tsx
Due: biome-check

making suggested changes to PR
  data_server/main.py
  frontend/src/cards/ui/FlagInsightButton.tsx
  frontend_server/server.js
  python/tests/data_server/test_main.py
Due: pylint, biome-check

chore(deps): migrate atomFamily from jotai/utils to jotai-family
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/sharedSettingsState.ts
Due: biome-check

fixing failing tests
  data_server/main.py
  python/tests/data_server/test_main.py
Due: pylint

fix(deps): restore missing @emnapi entries to lockfile
  frontend/package-lock.json
Due: biome-check

fixing failing tests
  config/main.tf
Due: none

chore(deps): migrate atomFamily from jotai/utils to jotai-family (#4799)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/sharedSettingsState.ts
Due: biome-check

address review: add display: contents to HetPicture wrapper
  frontend/src/styles/HetComponents/HetPicture.tsx
Due: biome-check

chore(assets): remove unused static media, archived to het-media-archive
  frontend/public/img/animations/HET-dots-no-motion.gif
  frontend/public/img/animations/HET-dots.gif
  frontend/public/img/animations/HET-fields-no-motion.gif
  frontend/public/img/animations/HET-fields.gif
  frontend/public/img/animations/HET-lines-no-motion.gif
  frontend/public/img/animations/HET-lines.gif
  frontend/public/img/animations/HET-spiral-no-motion.gif
  frontend/public/img/animations/HET-spiral-sm.gif
  frontend/public/img/graphics/laptop-HET.png
  frontend/public/img/graphics/laptop-HET.webp
  frontend/public/img/graphics/logo_cawp_missing_transparency.png
  frontend/public/img/graphics/logo_cawp_missing_transparency.webp
  frontend/public/img/graphics/logo_ctp.png
  frontend/public/img/graphics/logo_ctp.webp
  frontend/public/img/screenshots/het-investigate-rates.png
  frontend/public/img/screenshots/het-investigate-rates.webp
  frontend/public/img/screenshots/het-map.png
  frontend/public/img/screenshots/het-map.webp
  frontend/public/img/screenshots/het-use-filters.png
  frontend/public/img/screenshots/het-use-filters.webp
  frontend/public/img/screenshots/sample-report_covid.png
  frontend/public/img/screenshots/sample-report_covid.webp
  frontend/public/img/screenshots/sample-report_medicare.png
  frontend/public/img/screenshots/sample-report_medicare.webp
  frontend/public/img/stock/family-laughing.png
  frontend/public/img/stock/family-laughing.webp
  frontend/public/img/stock/woman-in-wheelchair-with-tea.png
  frontend/public/img/stock/woman-in-wheelchair-with-tea.webp
  frontend/public/img/stock/woman-kids.png
  frontend/public/img/stock/woman-kids.webp
  frontend/public/img/stock/woman-sitting-with-mask.png
  frontend/public/img/stock/woman-sitting-with-mask.webp
  frontend/public/img/stock/women-baby.png
  frontend/public/img/stock/women-baby.webp
  frontend/public/img/stock/women-laughing-in-line.png
  frontend/public/img/stock/women-laughing-in-line.webp
Due: none

docs(conventions): never put issue number in PR title
  .claude/skills/pr/SKILL.md
  CLAUDE.md
Due: none

Revert "docs(conventions): never put issue number in PR title"
  .claude/skills/pr/SKILL.md
  CLAUDE.md
Due: none

fix(images): drop HetPicture, hard-swap to WebP only where savings are real
  frontend/public/img/appbar/AppbarLogo.webp
  frontend/public/img/graphics/banner.webp
  frontend/public/img/graphics/het-hero.webp
  frontend/public/img/graphics/het-share.webp
  frontend/public/img/graphics/logo_ahr.webp
  frontend/public/img/graphics/logo_bjs.webp
  frontend/public/img/graphics/logo_cawp.webp
  frontend/public/img/graphics/logo_cdc.webp
  frontend/public/img/graphics/logo_census.webp
  frontend/public/img/graphics/logo_cms.webp
  frontend/public/img/graphics/logo_kff.webp
  frontend/public/img/graphics/logo_vera.webp
  frontend/public/img/graphics/msm-new-day-banner.webp
  frontend/public/img/screenshots/card-menu-options.webp
  frontend/public/img/screenshots/sample-report_ga.webp
  frontend/public/img/screenshots/sample-report_hiv.webp
  frontend/public/img/screenshots/sample-report_uninsured.webp
  frontend/public/img/screenshots/sample-report_young_adult_gun_deaths.webp
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/FAQs/FaqsPageData.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Policy/policySections/GunViolencePolicyHomeLink.tsx
  frontend/src/pages/WhatIsHealthEquity/wiheContent/ExternalResourcesTabData.tsx
  frontend/src/pages/WhatIsHealthEquity/wiheContent/GuidesTabData.tsx
  frontend/src/styles/HetComponents/HetPicture.tsx
Due: biome-check

fix(images): add loading=lazy to below-the-fold img tags
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Policy/policySections/GunViolencePolicyHomeLink.tsx
Due: biome-check

fix(pr-skill): look up routes from internalRoutes.ts, never guess
  .claude/skills/pr/SKILL.md
Due: none

fix(pr-skill): look up routes from internalRoutes.ts, never guess (#4804)
  .claude/skills/pr/SKILL.md
Due: none

perf: resize and convert team headshots and grantor logo to WebP
  frontend/src/assets/grantors/GrantorPhrma.png
  frontend/src/assets/grantors/GrantorPhrma.webp
  frontend/src/assets/join-movement-bg.jpg
  frontend/src/assets/team/BeltonA.png
  frontend/src/assets/team/BeltonA.webp
  frontend/src/assets/team/BeltonAllyson.jpg
  frontend/src/assets/team/CincoK.png
  frontend/src/assets/team/CincoK.webp
  frontend/src/assets/team/DouglasMegan.jpg
  frontend/src/assets/team/DouglasMegan.webp
  frontend/src/assets/team/HammondBen.jpg
  frontend/src/assets/team/HammondBen.webp
  frontend/src/assets/team/HopkinsJammie.jpg
  frontend/src/assets/team/HopkinsJammie.webp
  frontend/src/assets/team/MartinE.jpg
  frontend/src/assets/team/MartinE.webp
  frontend/src/assets/team/MartinEvan.jpg
  frontend/src/assets/team/PurcellDonrie.png
  frontend/src/assets/team/PurcellDonrie.webp
  frontend/src/assets/team/SHarris-Hooker.jpg
  frontend/src/assets/team/SHarris-Hooker.webp
  frontend/src/assets/team/ShaneetaJohnson.png
  frontend/src/assets/team/ShaneetaJohnson.webp
  frontend/src/assets/team/StandiferM.png
  frontend/src/assets/team/StandiferM.webp
  frontend/src/assets/team/WarrenE.png
  frontend/src/assets/team/WarrenE.webp
  frontend/src/pages/AboutUs/OurTeamData.ts
Due: biome-check

feat(tooltip): animate tooltip position across all chart types
  frontend/src/charts/HetChartHoverTooltip.tsx
  frontend/src/charts/trendsChart/Index.tsx
Due: biome-check

fix(tooltip): debounce bar chart tooltip hide so it glides between bars
  frontend/src/charts/rateBarChart/Index.tsx
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/useChartTooltip.ts
Due: biome-check

fix(tooltip): apply same delayed hide to map as bar charts for consistent behavior
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

refactor(tooltip): unify scroll/wheel handling in hook, eliminate MapTooltipCallbacks
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/types.ts
  frontend/src/charts/rateBarChart/Index.tsx
  frontend/src/charts/stackedSharesBarChart/Index.tsx
  frontend/src/charts/trendsChart/Index.tsx
  frontend/src/charts/useChartTooltip.ts
Due: biome-check

fix(tooltip): extend bar hit areas to eliminate dead-zone blinking
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
  frontend/src/charts/useChartTooltip.ts
Due: biome-check

fix(tooltip): cover All-row gap on rate bar chart hit areas
  frontend/src/charts/rateBarChart/Index.tsx
  frontend/src/charts/rateBarChart/RoundedBarsWithLabels.tsx
Due: biome-check

fix(tooltip): use absolute coords for stacked bar hit rects
  frontend/src/charts/stackedSharesBarChart/StackedBarsWithLabels.tsx
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
