Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

chlp words
  frontend/src/reports/ui/CHLPMapsBanner.tsx
Due: biome-check

Adjust CHLP banner wording per CHLP (#4488)
  frontend/src/reports/ui/CHLPMapsBanner.tsx
Due: biome-check

fix capitaliztion
  python/tests/datasources/test_cawp.py
Due: pylint

update test
  python/tests/datasources/test_cawp.py
Due: pylint

more fix
  python/tests/datasources/test_cawp.py
Due: pylint

Fix capitalization in CAWP territory test (#4489)
  python/tests/datasources/test_cawp.py
Due: pylint

biome json
  biome.json
Due: none

testing
  frontend/src/pages/Methodology/methodologySections/MetricsLink.tsx
Due: biome-check

svi alert
  frontend/src/cards/ui/SviAlert.tsx
Due: biome-check

glossary term
  frontend/src/pages/Methodology/methodologyComponents/GlossaryTerm.tsx
Due: biome-check

methodology route configs
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
Due: biome-check

condition variable
  frontend/src/pages/Methodology/methodologyContent/ConditionVariable.tsx
Due: biome-check

metrics definitions
  frontend/src/pages/Methodology/methodologyContent/MetricsDefinitions.tsx
Due: biome-check

metrics link
  frontend/src/pages/Methodology/methodologySections/MetricsLink.tsx
Due: biome-check

atsdr SVI definition
  frontend/src/pages/Methodology/methodologyContent/MetricsDefinitions.tsx
Due: biome-check

Methods (#4490)
  biome.json
  frontend/src/cards/ui/SviAlert.tsx
  frontend/src/pages/Methodology/methodologyComponents/GlossaryTerm.tsx
  frontend/src/pages/Methodology/methodologyContent/ConditionVariable.tsx
  frontend/src/pages/Methodology/methodologyContent/MetricsDefinitions.tsx
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/MetricsLink.tsx
Due: biome-check

Add suppression flag handling for CDC data
  python/datasources/cdc_miovd.py
  python/ingestion/dataset_utils.py
  python/ingestion/standardized_columns.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
Due: pylint

Revert "Bump dotenv from 16.5.0 to 17.2.1 in /frontend_server (#4485)"
  frontend_server/package-lock.json
  frontend_server/package.json
Due: none

Revert "Bump dotenv from 16.5.0 to 17.2.1 in /frontend_server" (#4492)
  frontend_server/package-lock.json
  frontend_server/package.json
Due: none

Revert "Revert "Bump dotenv from 16.5.0 to 17.2.1 in /frontend_server" (#4492)"
  frontend_server/package-lock.json
  frontend_server/package.json
Due: none

Revert "Revert "Bump dotenv from 16.5.0 to 17.2.1 in /frontend_server"" (#4493)
  frontend_server/package-lock.json
  frontend_server/package.json
Due: none

Fix CAWP test by adding User-Agent header for Wikipedia API
  python/tests/datasources/test_cawp.py
Due: pylint

Fix CAWP test by adding User-Agent header for Wikipedia API (#4494)
  python/tests/datasources/test_cawp.py
Due: pylint

updated suppression logic to include 10-50 and retain original suppressed values
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
Due: pylint

making suggested changes to PR
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
Due: pylint

updating tests
  python/datasources/cdc_miovd.py
  python/tests/data/cdc_miovd/golden_data/all_county_current.csv
  python/tests/data/cdc_miovd/golden_data/all_county_historical.csv
Due: pylint

unhide CHLP and CDC MIOVD by removing feature flags logic
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/featureFlags.ts
  frontend/src/utils/MadLibs.ts
Due: biome-check

Launches flagged gun deaths features (CHR MIOVD) (#4502)
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/src/data/providers/GunViolenceProvider.ts
  frontend/src/featureFlags.ts
  frontend/src/utils/MadLibs.ts
Due: biome-check

updates mui
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

updates mui (#4503)
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

updates playwright test
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

Update playwright (#4504)
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

router
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

update dependencies
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

Frontend dependencies update (#4507)
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

biome
  .vscode/settings.json
  biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Footer.tsx
  frontend/src/cards/ui/DemographicGroupMenu.tsx
  frontend/src/cards/ui/IncarceratedChildrenShortAlert.tsx
  frontend/src/charts/trendsChart/Axes.tsx
  frontend/src/data/react/WithLoadingOrErrorUI.test.tsx
  frontend/src/data/utils/DatasetTimeUtils.ts
  frontend/src/pages/AboutUs/GoalListItem.tsx
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
  frontend/src/pages/ExploreData/VoteDotOrgModal.tsx
  frontend/src/pages/FAQs/FaqsPageData.tsx
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Landing/LandingPageListItem.tsx
  frontend/src/pages/Methodology/methodologyComponents/FormulaFormat.tsx
  frontend/src/pages/Methodology/methodologyComponents/FractionFormat.tsx
  frontend/src/pages/Methodology/methodologyComponents/GlossaryTerm.tsx
  frontend/src/pages/Methodology/methodologySections/AgeAdjustmentLink.tsx
  frontend/src/pages/News/CardLeftNumber.tsx
  frontend/src/pages/Policy/policyComponents/CardLeftIcon.tsx
  frontend/src/pages/WhatIsHealthEquity/WhatIsHealthEquityPage.tsx
  frontend/src/pages/ui/TableOfContents.tsx
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/Report.tsx
  frontend/src/reports/ReportProvider.tsx
  frontend/src/reports/ui/VoteDotOrgBanner.tsx
  frontend/src/styles/HetComponents/HetFooterNav.tsx
  frontend/src/styles/HetComponents/HetMadLibButton.tsx
  frontend/src/styles/HetComponents/HetOverline.tsx
  frontend/src/utils/cardImageExportUtils.ts
  frontend/src/utils/hooks/useIsBreakpointAndUp.tsx
Due: biome-check
