Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

fix(methodologyContent): update resource name and URL for UIHI
  frontend/src/pages/Methodology/methodologyContent/ResourcesData.ts
Due: biome-check

fix(playwright): increase timeout for CI tests to 5 minutes
  frontend/playwright.config.ts
Due: biome-check

chore(workflows): update checkout fetch-depth for consistency
  .github/workflows/prepareReleaseBranch.yml
  .github/workflows/runFrontendTests.yml
  .github/workflows/runPythonChecks.yml
Due: none

Fix link uihi (#4577)
  .github/workflows/prepareReleaseBranch.yml
  .github/workflows/runFrontendTests.yml
  .github/workflows/runPythonChecks.yml
  frontend/playwright.config.ts
  frontend/src/pages/Methodology/methodologyContent/ResourcesData.ts
Due: biome-check

chore(docs): update environment variable setup instructions in README
  .gitignore
  README.md
  frontend/.env.local
Due: none

chore: update .gitignore and modify feature flag in .env.local
  .gitignore
  frontend/.env.local
Due: none

Frontend: Check in `.env.local` and simplify onboarding (#4579)
  .gitignore
  README.md
  frontend/.env.local
Due: none

removed cancer feature flag
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/.env.local
  frontend/src/featureFlags.ts
  frontend/src/utils/MadLibs.ts
Due: biome-check

chore(shared_requirements): update dependencies in requirements.txt
  cspell.config.json
  shared_requirements/requirements.txt
Due: none

chore(requirements): update package versions in requirements.txt
  shared_requirements/requirements.txt
Due: none

chore(requirements): update grpcio-status to 1.71.0 to fix compatibility
  shared_requirements/requirements.txt
Due: none

Removes cancer feature flag (#4583)
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/.env.local
  frontend/src/featureFlags.ts
  frontend/src/utils/MadLibs.ts
Due: biome-check

chore(dependabot): ignore grpcio-status updates for versions >= 1.72.0
  .github/dependabot.yml
Due: none

chore(requirements): clean up comments in requirements.txt
  shared_requirements/requirements.txt
Due: none

Fixes / pins python `grpcio-status` (#4584)
  .github/dependabot.yml
  cspell.config.json
  shared_requirements/requirements.txt
Due: none

feat(landing): add new day banner SVG to landing page
  frontend/public/img/graphics/msm-new-day-banner.svg
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

chore(graphics): remove unused msm-50-shli-banner image file
  frontend/public/img/graphics/msm-50-shli-banner.png
Due: none

feat(landing): replace SVG banner with PNG banner image
  frontend/public/img/graphics/msm-new-day-banner.png
  frontend/public/img/graphics/msm-new-day-banner.svg
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

chore: update msm-new-day-banner image file
  frontend/public/img/graphics/msm-new-day-banner.png
Due: none

Updates MSM logo on landing page (#4590)
  frontend/public/img/graphics/msm-50-shli-banner.png
  frontend/public/img/graphics/msm-new-day-banner.png
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

refactor(tests): remove unused test and imports from test_cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint

refactor(tests): remove unused test and imports from test_cawp.py (#4591)
  python/tests/datasources/test_cawp.py
Due: pylint

removing rate limit status logic from server
  frontend/src/cards/generateInsights.tsx
  frontend/src/cards/ui/InsightDisplay.tsx
  frontend_server/server.js
Due: biome-check

formatting w/biome
  frontend/src/cards/generateInsights.tsx
  frontend/src/cards/ui/InsightDisplay.tsx
Due: biome-check

added report level ai analysis
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/generateInsightsUtils.tsx
  frontend/src/cards/ui/InsightCard.tsx
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
  frontend/src/pages/ExploreData/InsightReportModal.tsx
  frontend/src/pages/ui/InsightReport.tsx
  frontend/src/pages/ui/InsightReportModalButton.tsx
  frontend/src/reports/Report.tsx
  frontend/src/utils/generateCardInsight.ts
  frontend/src/utils/generateReportInsight.ts
  frontend/src/utils/sharedSettingsState.ts
  frontend/src/utils/urlutils.tsx
Due: biome-check

fixing formatting issues
  frontend/src/cards/ui/InsightCard.tsx
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
  frontend/src/pages/ExploreData/InsightReportModal.tsx
  frontend/src/pages/ui/InsightReport.tsx
  frontend/src/reports/Report.tsx
  frontend/src/utils/generateCardInsight.ts
  frontend/src/utils/generateReportInsight.ts
  frontend/src/utils/urlutils.tsx
Due: biome-check

updating insight card display layout
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/ui/InsightCard.tsx
Due: biome-check

clean up incarceration alert logic and wording ; fix weird spacing issue
  frontend/src/reports/Report.tsx
  frontend/src/reports/ReportProvider.tsx
  frontend/src/reports/ui/IncarceratedChildrenLongAlert.tsx
  frontend/tailwind.config.ts
Due: biome-check

use smallest height in case chart is missing but still help towards minimizing layout shift
  config/common.tfvars
  frontend/src/reports/Report.tsx
Due: biome-check

Fixes incarceration of children alert (#4616)
  config/common.tfvars
  frontend/src/reports/Report.tsx
  frontend/src/reports/ReportProvider.tsx
  frontend/src/reports/ui/IncarceratedChildrenLongAlert.tsx
  frontend/tailwind.config.ts
Due: biome-check

bump checkout action from 4 to 6
  .github/workflows/cronUrlChecker.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/prepareReleaseBranch.yml
  .github/workflows/runDestroyInfraTest.yml
  .github/workflows/runFrontendServerTests.yml
  .github/workflows/runFrontendTests.yml
  .github/workflows/runPythonChecks.yml
  .github/workflows/runToolingSpellChecks.yml
  .github/workflows/testBackendChangesInfraTest.yml
Due: none

Bump checkout action v4 -> v6 (#4617)
  .github/workflows/cronUrlChecker.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/prepareReleaseBranch.yml
  .github/workflows/runDestroyInfraTest.yml
  .github/workflows/runFrontendServerTests.yml
  .github/workflows/runFrontendTests.yml
  .github/workflows/runPythonChecks.yml
  .github/workflows/runToolingSpellChecks.yml
  .github/workflows/testBackendChangesInfraTest.yml
Due: none

updates MM DAG and composite actions to authenticate and send along bearer token with POST cloud run calls
  .github/actions/runCacheAcsInGcsPipeline/action.yml
  .github/actions/runExportBqToGcsJsonPipeline/action.yml
  .github/actions/runSourceToBqPipeline/action.yml
  .github/workflows/dagMaternalMortality.yml
Due: none

move token retrieval outside the loop
  .github/actions/runCacheAcsInGcsPipeline/action.yml
  .github/actions/runExportBqToGcsJsonPipeline/action.yml
  .github/actions/runSourceToBqPipeline/action.yml
Due: none

rm log
  .github/actions/runSourceToBqPipeline/action.yml
Due: none

updates MM DAG and composite actions to authenticate cloud run calls (#4618)
  .github/actions/runCacheAcsInGcsPipeline/action.yml
  .github/actions/runExportBqToGcsJsonPipeline/action.yml
  .github/actions/runSourceToBqPipeline/action.yml
  .github/workflows/dagMaternalMortality.yml
Due: none

updates google actions versions
  .github/actions/buildAllAndDeploy/action.yml
  .github/actions/runCacheAcsInGcsPipeline/action.yml
  .github/actions/runExportBqToGcsJsonPipeline/action.yml
  .github/actions/runSourceToBqPipeline/action.yml
  .github/workflows/runDestroyInfraTest.yml
Due: none

adds creds to all dags, bumps goole actions
  .github/workflows/dagAcsCondition.yml
  .github/workflows/dagAcsConditionPreCache.yml
  .github/workflows/dagAcsPopulation.yml
  .github/workflows/dagAcsPopulationPreCache.yml
  .github/workflows/dagAhr.yml
  .github/workflows/dagAhrBehavioralHealth.yml
  .github/workflows/dagBjsIncarceration.yml
  .github/workflows/dagCawp.yml
  .github/workflows/dagCdcHiv.yml
  .github/workflows/dagCdcHivBlackWomen.yml
  .github/workflows/dagCdcMiovd.yml
  .github/workflows/dagCdcRestrictedCovid.yml
  .github/workflows/dagCdcVaccinationCounty.yml
  .github/workflows/dagCdcVaccinationNational.yml
  .github/workflows/dagCdcWisqarsBlackMenGunDeaths.yml
  .github/workflows/dagCdcWisqarsGunDeaths.yml
  .github/workflows/dagCdcWisqarsYouthGunDeaths.yml
  .github/workflows/dagCdcWonderCancer.yml
  .github/workflows/dagCensusPopRaceSexAge.yml
  .github/workflows/dagChr.yml
  .github/workflows/dagDecia2010TerritoryPop.yml
  .github/workflows/dagDecia2020TerritoryPop.yml
  .github/workflows/dagGeoContext.yml
  .github/workflows/dagKffVaccinationState.yml
  .github/workflows/dagMaternalMortality.yml
  .github/workflows/dagPhrma.yml
  .github/workflows/dagPhrmaBrfss.yml
  .github/workflows/dagVeraIncarcerationCounty.yml
Due: none
