Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

fix: use window.scrollTo for smooth scroll compatibility on iOS Safari
  frontend/src/utils/hooks/useScrollToHash.test.ts
  frontend/src/utils/hooks/useScrollToHash.ts
Due: biome-check

Add severe maternal morbidity to Maternal Health via AHR
  frontend/src/data/config/DatasetMetadataAhr.ts
  frontend/src/data/config/MetricConfig.ts
  frontend/src/data/config/MetricConfigMaternalHealth.ts
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/pages/Methodology/methodologySections/MaternalHealthLink.tsx
  frontend/src/utils/MadLibs.ts
  python/datasources/graphql_ahr.py
  python/ingestion/ahr_config/graphql_ahr_measure_ids_non-behavioral_health.json
  python/ingestion/graphql_ahr_utils.py
  python/tests/datasources/test_graphql_ahr.py
Due: pylint, biome-check

Revert "fix: use window.scrollTo for smooth scroll compatibility on iOS Safari"
  frontend/src/utils/hooks/useScrollToHash.test.ts
  frontend/src/utils/hooks/useScrollToHash.ts
Due: biome-check

Close milestone 68: HashLink removal, react-router v8, and scroll-spy URL sync (#5084)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/cards/ShareTrendsChartCard.tsx
  frontend/src/cards/ui/Sources.tsx
  frontend/src/cards/ui/SviAlert.tsx
  frontend/src/pages/ExploreData/TopicInfoModal.tsx
  frontend/src/pages/Methodology/methodologySections/MedicationUtilizationLink.tsx
  frontend/src/utils/hooks/useStepObserver.test.ts
  frontend/src/utils/hooks/useStepObserver.ts
Due: biome-check

perf: mark scroll/touch/wheel event listeners as passive
  frontend/src/charts/CompareBubbleChart.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/utils/hooks/useStepObserver.ts
Due: biome-check

perf: mark scroll/touch/wheel event listeners as passive (#5086)
  frontend/src/charts/CompareBubbleChart.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/utils/hooks/useStepObserver.ts
Due: biome-check

chore(skills): add /next and /report-out slash command skills
  .claude/skills/next/SKILL.md
  .claude/skills/report-out/SKILL.md
Due: none

chore(server): remove /fetch-ai-insight endpoint
  server/CLAUDE.md
  server/insight_describe.go
  server/insight_generate.go
  server/insight_log.go
  server/insight_test.go
  server/main.go
Due: none

chore(skills): add /next and /report-out slash command skills (#5088)
  .claude/skills/next/SKILL.md
  .claude/skills/report-out/SKILL.md
Due: none

chore(server): remove /fetch-ai-insight endpoint (#5087)
  server/CLAUDE.md
  server/insight_describe.go
  server/insight_generate.go
  server/insight_log.go
  server/insight_test.go
  server/main.go
Due: none

fix(map): suppress No data legend swatch when orphan FIPS rows have no drawn shape
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/legendDataProcessor.test.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
Due: biome-check

feat(frontend): add Sentry error monitoring with source map uploads
  .github/actions/buildAllAndDeploy/action.yml
  .github/actions/buildAndPush/action.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/testBackendChangesInfraTest.yml
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/.env.localhost
  frontend/.env.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ErrorBoundary.tsx
  frontend/src/index.tsx
  frontend/src/sentry.ts
  frontend/vite.config.ts
  server/Dockerfile
Due: biome-check

fix(map): visible hover state for no-data shapes and passive touchstart
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

feat(frontend): add Sentry error monitoring with source map uploads (#5095)
  .github/actions/buildAllAndDeploy/action.yml
  .github/actions/buildAndPush/action.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/testBackendChangesInfraTest.yml
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/.env.localhost
  frontend/.env.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ErrorBoundary.tsx
  frontend/src/index.tsx
  frontend/src/sentry.ts
  frontend/vite.config.ts
  server/Dockerfile
Due: biome-check

address review: restore fill on touchend for no-data shapes
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
Due: biome-check

fix(map): white border on no-data shape hover, not dark
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
Due: biome-check

fix(map): visible hover state for no-data shapes and passive touchstart (#5094)
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
Due: biome-check

Add HCUP, MCHB, SMM to cspell dictionary
  cspell.config.json
Due: none

SMM: suppress sex demographic in UI + full-pipeline test
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/reports/reportUtils.ts
  python/tests/datasources/test_graphql_ahr.py
Due: pylint, biome-check

fix(share-menu): consistent spacing for social share menu items
  frontend/src/cards/ui/CardShareIconButtons.tsx
  frontend/src/styles/HetComponents/HetCardExportMenuItem.tsx
Due: biome-check

fix(share-menu): consistent spacing on card export menu (#5097)
  frontend/src/cards/ui/CardShareIconButtons.tsx
  frontend/src/styles/HetComponents/HetCardExportMenuItem.tsx
Due: biome-check

skill(next): add off-board issue scan, project mgmt cleanup, token savings
  .claude/skills/next/SKILL.md
Due: none

address review: add node IDs, creation-date filters, branch-specific PR check
  .claude/skills/next/SKILL.md
Due: none

skill(next): add off-board issue scan, project mgmt cleanup, token savings (#5098)
  .claude/skills/next/SKILL.md
Due: none

SMM: address PR review (citation URL, methodology widget, copy)
  frontend/src/data/config/DatasetMetadataMaternalHealthCategory.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/config/MetricConfigMaternalHealth.ts
  frontend/src/pages/Methodology/methodologySections/MaternalHealthLink.tsx
Due: biome-check

Add severe maternal morbidity to Maternal Health via AHR (#5085)
  cspell.config.json
  frontend/src/data/config/DatasetMetadataAhr.ts
  frontend/src/data/config/DatasetMetadataMaternalHealthCategory.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/config/MetricConfig.ts
  frontend/src/data/config/MetricConfigMaternalHealth.ts
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/pages/Methodology/methodologySections/MaternalHealthLink.tsx
  frontend/src/reports/reportUtils.ts
  frontend/src/utils/MadLibs.ts
  python/datasources/graphql_ahr.py
  python/ingestion/ahr_config/graphql_ahr_measure_ids_non-behavioral_health.json
  python/ingestion/graphql_ahr_utils.py
  python/tests/datasources/test_graphql_ahr.py
Due: pylint, biome-check

feat(insights): unified insight envelope with highlighted key phrase
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/pages/ExploreData/InsightReportCard.tsx
  frontend/src/reports/ContrastInsightSection.tsx
  frontend/src/styles/HetComponents/HetHighlightSpan.tsx
  frontend/src/styles/HetComponents/HetHighlightedText.tsx
  frontend/src/styles/HetComponents/HetTermUnderline.tsx
  frontend/src/utils/generateReportInsight.test.ts
  frontend/src/utils/generateReportInsight.ts
  frontend/src/utils/insightPayload.test.ts
  frontend/src/utils/insightPayload.ts
  frontend/src/utils/sharedSettingsState.ts
Due: biome-check

refactor(highlight): one component, one invocation for the underline treatment
  frontend/src/pages/Policy/policyContent/CrisisOverviewContent.tsx
  frontend/src/pages/Policy/policyContent/OurFindingsContent.tsx
  frontend/src/pages/Policy/policySections/CurrentEffortsTab.tsx
  frontend/src/styles/HetComponents/HetHighlightSpan.tsx
  frontend/src/styles/HetComponents/HetTermRaised.tsx
  frontend/src/styles/HetComponents/HetTermUnderline.tsx
Due: biome-check

fix(policy): missing space after sentence-ending period
  frontend/src/pages/Policy/policySections/CurrentEffortsTab.tsx
Due: biome-check

address review: use design-token color for underline gradient
  frontend/src/styles/HetComponents/HetHighlightSpan.tsx
Due: biome-check

style(highlight): use tinyTagGray token for gradient end stop
  frontend/src/styles/HetComponents/HetHighlightSpan.tsx
Due: biome-check

fix(highlight): draw underline statically under prefers-reduced-motion
  frontend/src/styles/HetComponents/HetHighlightSpan.tsx
Due: biome-check

refactor(highlight): unify underline component and fix reduced motion (#5100)
  frontend/src/pages/Policy/policyContent/CrisisOverviewContent.tsx
  frontend/src/pages/Policy/policyContent/OurFindingsContent.tsx
  frontend/src/pages/Policy/policySections/CurrentEffortsTab.tsx
  frontend/src/styles/HetComponents/HetHighlightSpan.tsx
  frontend/src/styles/HetComponents/HetTermRaised.tsx
  frontend/src/styles/HetComponents/HetTermUnderline.tsx
Due: biome-check

fix(insights): reject whitespace-only highlights
  frontend/src/utils/insightPayload.ts
Due: biome-check

feat(insights): return the highlight envelope from the server
  server/CLAUDE.md
  server/insight_describe.go
  server/insight_descriptor_test.go
  server/insight_generate.go
  server/insight_log.go
  server/insight_prompt.go
  server/insight_prompt_report.go
  server/insight_response.go
  server/insight_response_test.go
  server/insight_test.go
  server/testdata/insight_prompts/card_map_single_region_peers.prompt.txt
  server/testdata/insight_prompts/card_map_strong_disparity.prompt.txt
  server/testdata/insight_prompts/card_pop_vs_distribution.prompt.txt
  server/testdata/insight_prompts/card_table_full_shares.prompt.txt
  server/testdata/insight_prompts/card_table_general_population.prompt.txt
  server/testdata/insight_prompts/card_table_no_population.prompt.txt
  server/testdata/insight_prompts/card_table_suppressed.prompt.txt
  server/testdata/insight_prompts/card_trends_sparse.prompt.txt
  server/testdata/insight_prompts/contrast_compare_geos.prompt.txt
  server/testdata/insight_prompts/report_county_peers.prompt.txt
  server/testdata/insight_prompts/report_full.prompt.txt
  server/testdata/insight_prompts/report_no_age_adjusted.prompt.txt
Due: none

address review: validate blank text, reject punctuation-only highlights, fix trends fixture
  server/insight_response.go
  server/insight_response_test.go
Due: none

fix(insight): reject a blank bare-string section
  server/insight_response.go
  server/insight_response_test.go
Due: none

fix(insight): make the trend gap instruction conditional
  server/insight_prompt.go
  server/testdata/insight_prompts/card_trends_sparse.prompt.txt
Due: none

fix(insight): one insight open at a time, collapse on report change
  frontend/CLAUDE.md
  frontend/src/cards/ui/InsightVisualizationButton.tsx
  frontend/src/pages/ExploreData/DemographicSelector.tsx
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
