Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

Show loading spinner during the peer-fetch window, not an empty box
  frontend/src/cards/ui/InsightVisualizationCard.tsx
Due: biome-check

fix(e2e): rewrite drinking nightly spec with assertions and correct selectors
  frontend/playwright-tests/drinking.spec.ts
Due: biome-check

fix(e2e): rewrite drinking nightly spec with assertions and correct selectors (#5001)
  frontend/playwright-tests/drinking.spec.ts
Due: biome-check

Load peer comparison via a controlled fetch, not useMetrics
  frontend/src/cards/ui/InsightVisualizationCard.tsx
Due: biome-check

fix(e2e): serialize alls_ contract probe to avoid Cloud Run 503s
  frontend/playwright-tests/alls_fallback_contract.spec.ts
Due: biome-check

fix(e2e): serialize alls_ contract probe to avoid Cloud Run 503s (#5002)
  frontend/playwright-tests/alls_fallback_contract.spec.ts
Due: biome-check

Add pct_relative_inequity cols to AHR historical tables
  python/datasources/graphql_ahr.py
  python/tests/data/graphql_ahr/golden_data/behavioral_health_age_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_historical.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_sex_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_age_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_race_and_ethnicity_state_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_sex_national_historical.csv
Due: pylint

Use 18+ population share as pct_rel_inequity denominator for 18+ AHR metrics
  python/datasources/graphql_ahr.py
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_historical.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_sex_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_race_and_ethnicity_state_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_sex_national_historical.csv
Due: pylint

Ship ahr_18plus_population_pct in current tables for race/sex breakdowns
  python/datasources/graphql_ahr.py
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_sex_national_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_sex_national_current.csv
Due: pylint

Rename ahr_18plus_population to ahr_18plus_population_estimated_total
  python/datasources/graphql_ahr.py
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_sex_national_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_sex_national_current.csv
Due: pylint

Remove dead get_float_cols and document intentional double-computation
  python/datasources/graphql_ahr.py
Due: pylint

Add pct_relative_inequity to AHR with matched 18+ population basis (#5004)
  python/datasources/graphql_ahr.py
  python/tests/data/graphql_ahr/golden_data/behavioral_health_age_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_race_and_ethnicity_state_historical.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_sex_national_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_sex_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_age_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_race_and_ethnicity_state_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_race_and_ethnicity_state_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_sex_national_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_sex_national_historical.csv
Due: pylint

docs: update CAWP methodology documentation
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
Due: biome-check

Use 18+ population share as comparison reference for adult-only AHR metrics
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/config/MetricConfigChronicDisease.ts
  frontend/src/data/config/MetricConfigConstants.ts
  frontend/src/data/config/MetricConfigSDOH.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/pages/Methodology/methodologyContent/MetricsDefinitions.tsx
Due: biome-check

Correct stale AHR methodology claims and document adult-population basis
  frontend/src/pages/Methodology/methodologyComponents/NoteBrfss.tsx
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
  frontend/src/pages/Methodology/methodologySections/ChronicDiseaseLink.tsx
  frontend/src/pages/Methodology/methodologySections/DataMethodDefinitionsLink.tsx
Due: biome-check

Fix AHR blurb: voter participation and preventable hospitalizations
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
Due: biome-check

Emit 18+ population share in AHR age tables
  python/datasources/graphql_ahr.py
  python/tests/data/graphql_ahr/golden_data/behavioral_health_age_national_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_age_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_age_national_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_age_national_historical.csv
  python/tests/datasources/test_graphql_ahr.py
Due: pylint

Point 18+ rate denominators at the column the backend emits
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/config/MetricConfigChronicDisease.ts
  frontend/src/data/config/MetricConfigSDOH.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/providers/AhrProvider.ts
Due: biome-check

Document why adult population share covers only the broad age groups
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
Due: biome-check

address review: use std_col constants for 18+ columns and cover both categories
  python/datasources/graphql_ahr.py
  python/ingestion/standardized_columns.py
  python/tests/datasources/test_graphql_ahr.py
Due: pylint

Emit 18+ population share in AHR age tables (#5013)
  python/datasources/graphql_ahr.py
  python/ingestion/standardized_columns.py
  python/tests/data/graphql_ahr/golden_data/behavioral_health_age_national_current.csv
  python/tests/data/graphql_ahr/golden_data/behavioral_health_age_national_historical.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_age_national_current.csv
  python/tests/data/graphql_ahr/golden_data/non-behavioral_health_age_national_historical.csv
  python/tests/datasources/test_graphql_ahr.py
Due: pylint

fix(e2e): remove pct_share metric references and update blurb text
  frontend/playwright-tests/preventable_hospitalizations.spec.ts
  frontend/playwright-tests/voter_participation.spec.ts
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/config/MetricConfigSDOH.ts
  frontend/src/data/providers/AhrProvider.ts
Due: biome-check

Use 18+ population share as comparison reference for adult-only AHR metrics (#5012)
  frontend/playwright-tests/preventable_hospitalizations.spec.ts
  frontend/playwright-tests/voter_participation.spec.ts
  frontend/src/data/config/MetricConfigBehavioralHealth.ts
  frontend/src/data/config/MetricConfigChronicDisease.ts
  frontend/src/data/config/MetricConfigConstants.ts
  frontend/src/data/config/MetricConfigPDOH.ts
  frontend/src/data/config/MetricConfigSDOH.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/providers/AhrProvider.ts
  frontend/src/pages/Methodology/methodologyComponents/NoteBrfss.tsx
  frontend/src/pages/Methodology/methodologyContent/MetricsDefinitions.tsx
  frontend/src/pages/Methodology/methodologyContent/missingDataBlurbs.tsx
  frontend/src/pages/Methodology/methodologySections/ChronicDiseaseLink.tsx
  frontend/src/pages/Methodology/methodologySections/DataMethodDefinitionsLink.tsx
Due: biome-check

Show map insight with peer-ranked context for single-region views (#4988)
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/utils/generateVisualizationInsight.test.ts
  frontend/src/utils/generateVisualizationInsight.ts
Due: biome-check

feat(scripts): add --flush-cache mode to review_flagged_insights.sh
  scripts/review_flagged_insights.sh
Due: none

chore: clarify --flush-cache is dev/infra-test only
  scripts/review_flagged_insights.sh
Due: none

fix(insights): use qualitative peer rank labels and round min/max
  frontend/src/utils/generateVisualizationInsight.test.ts
  frontend/src/utils/generateVisualizationInsight.ts
Due: biome-check

test(insights): hit exact tier boundaries in peer rank label test
  frontend/src/utils/generateVisualizationInsight.test.ts
Due: biome-check

fix(insights): use qualitative peer rank labels and round min/max (#5018)
  frontend/src/utils/generateVisualizationInsight.test.ts
  frontend/src/utils/generateVisualizationInsight.ts
Due: biome-check

test(e2e): add E2E tests for cervical cancer county-level label overrides
  frontend/playwright-tests/cervical_cancer.spec.ts
Due: biome-check

address review: enhance definition assertions with complete distinguishing phrases
  frontend/playwright-tests/cervical_cancer.spec.ts
Due: biome-check

test(e2e): cervical cancer county-level label overrides (#5019)
  frontend/playwright-tests/cervical_cancer.spec.ts
Due: biome-check

fix(map): distinguish suppressed from unavailable in map tooltips
  frontend/src/cards/ui/geoContextHelpers.ts
  frontend/src/charts/choroplethMap/mapHelpers.test.ts
  frontend/src/charts/choroplethMap/mapHelpers.ts
  frontend/src/charts/mapGlobals.ts
  frontend/src/data/utils/datasetutils.ts
Due: biome-check

address review: guard NaN population and document suppression fallback
  frontend/src/cards/ui/geoContextHelpers.ts
  frontend/src/charts/choroplethMap/mapHelpers.test.ts
  frontend/src/charts/choroplethMap/mapHelpers.ts
Due: biome-check

Label missing map tooltip values as unavailable unless truly suppressed (#5022)
  frontend/src/cards/ui/geoContextHelpers.ts
  frontend/src/charts/choroplethMap/mapHelpers.test.ts
  frontend/src/charts/choroplethMap/mapHelpers.ts
  frontend/src/charts/mapGlobals.ts
  frontend/src/data/utils/datasetutils.ts
Due: biome-check

fix(map): distinguish suppressed data from missing data on choropleths
  frontend/playwright-tests/gun_homicides.spec.ts
  frontend/src/cards/MapCard.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/index.tsx
  frontend/src/charts/choroplethMap/legendDataProcessor.test.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapHelpers.test.ts
  frontend/src/charts/choroplethMap/mapHelpers.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/mouseEventHandlers.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/choroplethMap/types.ts
  frontend/src/charts/mapGlobals.ts
  frontend/src/data/config/MetricConfigCancer.ts
  frontend/src/data/config/MetricConfigCommunitySafety.ts
  frontend/src/data/config/MetricConfigTypes.ts
  frontend/src/data/utils/datasetutils.test.ts
  frontend/src/data/utils/datasetutils.ts
Due: biome-check

Shorten and capitalize the absence labels
  frontend/playwright-tests/gun_homicides.spec.ts
  frontend/playwright-tests/vaccination.ci.spec.ts
  frontend/src/cards/ui/GeoContext.test.ts
  frontend/src/charts/mapGlobals.ts
Due: biome-check

Distinguish suppressed from missing data on maps and legends
  frontend/src/charts/choroplethMap/LegendItem.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/colorSchemes.test.ts
  frontend/src/charts/choroplethMap/colorSchemes.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.test.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/mapGlobals.ts
Due: biome-check

Hide non-extreme geographies from screen readers
  frontend/src/charts/choroplethMap/TerritoryCircles.tsx
  frontend/src/charts/choroplethMap/renderMap.tsx
  frontend/src/charts/mapGlobals.ts
Due: biome-check

Explain territories the source omits in the map legend
  frontend/src/charts/choroplethMap/legendDataProcessor.test.ts
  frontend/src/charts/choroplethMap/legendDataProcessor.ts
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
