Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

fix(pr-skill): preserve bot-generated review blocks when rewriting PR body
  .claude/skills/pr/SKILL.md
Due: none

fix(pr-skill): preserve bot review blocks when rewriting PR body (#4834)
  .claude/skills/pr/SKILL.md
Due: none

fix(pr-skill): preserve manually-checked boxes and existing summary edits
  .claude/skills/pr/SKILL.md
Due: none

fix(pr-skill): preserve manually-checked boxes and existing summary edits (#4835)
  .claude/skills/pr/SKILL.md
Due: none

fix(pr-skill): allow invalidation unchecking, broaden issue-link keywords
  .claude/skills/pr/SKILL.md
Due: none

fix(pr-skill): allow invalidation unchecking, broaden issue-link keywords (#4836)
  .claude/skills/pr/SKILL.md
Due: none

feat(cawp): add county geography support to frontend and DAG export
  .github/workflows/dagCawp.yml
  frontend/src/data/config/DatasetMetadataCawp.ts
  frontend/src/data/providers/CawpProvider.ts
Due: biome-check

feat(cawp): county UI - alert, methodology, E2E test, congress-only county gating
  frontend/playwright-tests/cawp.ci.spec.ts
  frontend/src/cards/RateBarChartCard.tsx
  frontend/src/cards/ui/CAWPCountyMultiDistrictAlert.tsx
  frontend/src/data/providers/CawpProvider.ts
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
  frontend/src/pages/Methodology/methodologySections/PdohLink.tsx
Due: biome-check

address review: fix county gate logic and extend E2E test
  frontend/playwright-tests/cawp.ci.spec.ts
  frontend/src/data/providers/CawpProvider.ts
Due: biome-check

fix(e2e): correct county CAWP assertions
  frontend/playwright-tests/cawp.ci.spec.ts
Due: biome-check

fix(cawp): wire up county table assertions in testWriteToBq
  python/tests/datasources/test_cawp.py
Due: pylint

fix(cawp): address CodeRabbit review - dead code, test robustness
  python/datasources/cawp.py
  python/tests/datasources/test_cawp.py
Due: pylint

fix(cawp): remove redundant county export DAG step
  .github/workflows/dagCawp.yml
Due: none

config(coderabbit): minimize to inline-only, no PR summary blocks
  .coderabbit.yaml
Due: none

config(coderabbit): disable finishing touches and early access beta
  .coderabbit.yaml
Due: none

config(coderabbit): restore python/ingestion path instruction
  .coderabbit.yaml
Due: none

config(coderabbit): minimize to inline-only, no PR summary blocks (#4838)
  .coderabbit.yaml
Due: none

feat(pr-skill): flag when branch is behind main, offer to merge
  .claude/skills/pr/SKILL.md
Due: none

feat(pr-skill): flag when branch is behind main, offer to merge (#4839)
  .claude/skills/pr/SKILL.md
Due: none

fix(cawp): shorten county multi-district alert, link to methodology
  frontend/src/cards/ui/CAWPCountyMultiDistrictAlert.tsx
Due: biome-check

fix(cawp): move alignment note to alert title, remove em dash
  frontend/src/cards/ui/CAWPCountyMultiDistrictAlert.tsx
Due: biome-check

data(cawp): add Census TIGER 2022 county-to-congressional-district crosswalk
  data/cawp/tab20_cd11820_county20_natl.txt
Due: none

data(cawp): add Census TIGER 2022 county-to-congressional-district crosswalk (#4841)
  data/cawp/tab20_cd11820_county20_natl.txt
Due: none

fix(cawp): correct state leg data errors flagged in review
  data/cawp/cawp_state_leg_25.csv
  data/cawp/cawp_state_leg_26.csv
  data/cawp/cawp_state_leg_41.csv
Due: none

revert(cawp): restore source-faithful data values
  data/cawp/cawp_state_leg_25.csv
  data/cawp/cawp_state_leg_26.csv
  data/cawp/cawp_state_leg_41.csv
Due: none

feat(cawp): show county multi-district alert on state-level map card
  frontend/src/cards/MapCard.tsx
Due: biome-check

refactor(cawp): read state leg denominators from local CSV files
  data/cawp/refresh_cawp_data.py
  python/datasources/cawp.py
  python/tests/data/cawp/mock_territory_leg_tables/cawp_state_leg_02.csv
  python/tests/datasources/test_cawp.py
Due: pylint

fix(cawp): preserve etag/last_modified in mark_done, use expand=False
  data/cawp/refresh_cawp_data.py
Due: pylint

fix(cawp): move refresh script to scripts/, keep data/ as pure cache
  cspell.config.json
  python/datasources/cawp.py
  scripts/refresh_cawp_data.py
Due: pylint

chore: remove python refresh script (replacing with TS in separate PR)
  scripts/refresh_cawp_data.py
Due: pylint

feat(cawp): add TypeScript refresh script for CAWP source data
  cspell.config.json
  frontend/package.json
  scripts/refresh_cawp_data.ts
Due: biome-check

chore(cspell): remove KHTML/usr additions (now owned by refresh-script PR)
  cspell.config.json
Due: none

refactor(cawp): read state leg denominators from local CSV files (#4842)
  python/datasources/cawp.py
  python/tests/data/cawp/mock_territory_leg_tables/cawp_state_leg_02.csv
  python/tests/datasources/test_cawp.py
Due: pylint

feat(cawp): automate numerator CSV download via Playwright form
  scripts/refresh_cawp_data.ts
Due: none

refactor(cawp): move refresh script to frontend/, fix batch timeout
  cspell.config.json
  frontend/package.json
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(cawp): fix numerator download - Promise.race download vs URL change
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

fix(cawp): remove waitForURL batch-start check, handle /download-complete page
  frontend/scripts/cawp_net_diag.ts
  frontend/scripts/refresh_cawp_data.ts
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
