Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

pylint:
  name: üêç python lint with pylint
  entry: pylint
  language: python
  language_version: python3.12
  args:
  - -rn
  - -sn

biome-check:
  name: üß¨ format with biome
  entry: bash -c 'cd frontend && npm run cleanup'
  language: system
  pass_filenames: false

tsc-check:
  name: üèÅ TypeScript type check
  entry: tsc --noEmit
  language: system

fix: address reviewer feedback on dynamic import type and error handling
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

lock
  frontend/package-lock.json
Due: biome-check

fix: await dom-to-image-more import before DOM mutations
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

Fix: sync package-lock.json with main to resolve missing @emnapi entries
  frontend/package-lock.json
Due: biome-check

Clarify dom-to-image-more type import — typeof is required for namespace default
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

perf: lazy-load dom-to-image-more (~150KB) on demand (#4729)
  frontend/src/utils/cardImageExportUtils.ts
Due: biome-check

Style: flat light green filter bar, no shadow or border
  frontend/src/pages/DataCatalog/DataCatalogPage.tsx
Due: biome-check

chore: add responsive screenshots (mobile/tablet/desktop) for PR #4731
  frontend/playwright-tests/take-screenshots.ts
  frontend/pr-screenshots/01-initial-state.png
  frontend/pr-screenshots/02-filter-bar.png
  frontend/pr-screenshots/03-hiv-filter-active.png
  frontend/pr-screenshots/04-multi-select-hiv-cancer.png
  frontend/pr-screenshots/05-filter-bar-multi-active.png
  frontend/pr-screenshots/debug.png
  frontend/pr-screenshots/desktop-01-initial.png
  frontend/pr-screenshots/desktop-02-filter-bar.png
  frontend/pr-screenshots/desktop-03-hiv-active.png
  frontend/pr-screenshots/desktop-04-hiv-cancer-multi.png
  frontend/pr-screenshots/desktop-05-filter-bar-multi-active.png
  frontend/pr-screenshots/mobile-01-initial.png
  frontend/pr-screenshots/mobile-02-filter-bar.png
  frontend/pr-screenshots/mobile-03-hiv-active.png
  frontend/pr-screenshots/mobile-04-hiv-cancer-multi.png
  frontend/pr-screenshots/mobile-05-filter-bar-multi-active.png
  frontend/pr-screenshots/tablet-01-initial.png
  frontend/pr-screenshots/tablet-02-filter-bar.png
  frontend/pr-screenshots/tablet-03-hiv-active.png
  frontend/pr-screenshots/tablet-04-hiv-cancer-multi.png
  frontend/pr-screenshots/tablet-05-filter-bar-multi-active.png
Due: biome-check

chore: remove screenshot script and committed screenshots
  frontend/playwright-tests/take-screenshots.ts
  frontend/pr-screenshots/desktop-01-initial.png
  frontend/pr-screenshots/desktop-02-filter-bar.png
  frontend/pr-screenshots/desktop-03-hiv-active.png
  frontend/pr-screenshots/desktop-04-hiv-cancer-multi.png
  frontend/pr-screenshots/desktop-05-filter-bar-multi-active.png
  frontend/pr-screenshots/mobile-01-initial.png
  frontend/pr-screenshots/mobile-02-filter-bar.png
  frontend/pr-screenshots/mobile-03-hiv-active.png
  frontend/pr-screenshots/mobile-04-hiv-cancer-multi.png
  frontend/pr-screenshots/mobile-05-filter-bar-multi-active.png
  frontend/pr-screenshots/tablet-01-initial.png
  frontend/pr-screenshots/tablet-02-filter-bar.png
  frontend/pr-screenshots/tablet-03-hiv-active.png
  frontend/pr-screenshots/tablet-04-hiv-cancer-multi.png
  frontend/pr-screenshots/tablet-05-filter-bar-multi-active.png
Due: biome-check

Add topic category tags and filter UI to Data Downloads page (#4731)
  frontend/CLAUDE.md
  frontend/playwright-tests/data_catalog.ci.spec.ts
  frontend/src/data/config/CategoryTypes.ts
  frontend/src/data/config/DatasetMetadataAcs.ts
  frontend/src/data/config/DatasetMetadataAhr.ts
  frontend/src/data/config/DatasetMetadataBjs.ts
  frontend/src/data/config/DatasetMetadataCawp.ts
  frontend/src/data/config/DatasetMetadataCdcWonder.ts
  frontend/src/data/config/DatasetMetadataChr.ts
  frontend/src/data/config/DatasetMetadataCommunitySafetyCategory.ts
  frontend/src/data/config/DatasetMetadataCovidCategory.ts
  frontend/src/data/config/DatasetMetadataHivCategory.ts
  frontend/src/data/config/DatasetMetadataMaternalHealthCategory.ts
  frontend/src/data/config/DatasetMetadataNciCancer.ts
  frontend/src/data/config/DatasetMetadataVera.ts
  frontend/src/data/config/MetadataMap.ts
  frontend/src/data/utils/DatasetTypes.ts
  frontend/src/pages/DataCatalog/DataCatalogPage.tsx
  frontend/src/pages/DataCatalog/DataSourceListing.tsx
  frontend/src/styles/HetComponents/HetTags.tsx
  frontend/src/utils/MadLibs.ts
Due: biome-check

fix: scope card insights per-card so comparison cards generate their own
  frontend/src/cards/AgeAdjustedTableCard.tsx
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateBarChartCard.tsx
  frontend/src/cards/RateTrendsChartCard.tsx
  frontend/src/cards/ShareTrendsChartCard.tsx
  frontend/src/cards/StackedSharesBarChartCard.tsx
  frontend/src/cards/TableCard.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/InsightVisualizationButton.tsx
  frontend/src/cards/ui/InsightVisualizationCard.tsx
  frontend/src/reports/CompareReport.tsx
  frontend/src/reports/CustomAltTable.tsx
  frontend/src/utils/generateVisualizationInsight.ts
Due: biome-check

feat: add /screenshot-pr Claude Code skill for automated PR screenshots
  .claude/skills/screenshot-pr.md
  .github/workflows/cleanup-pr-screenshots.yml
  config/gcp.tfvars
  config/main.tf
  config/variables.tf
  frontend/package.json
  frontend/scripts/take-screenshots.ts
  pull_request_template.md
Due: biome-check

chore: fix terraform fmt alignment in gcp.tfvars
  config/gcp.tfvars
Due: none

fix: address Gemini review — trailing slash slug, try/catch per route, idempotent Screenshots heading
  .claude/skills/screenshot-pr.md
  frontend/scripts/take-screenshots.ts
Due: biome-check

feat: add /screenshot-pr Claude Code skill for automated PR screenshots (#4739)
  .claude/skills/screenshot-pr.md
  .github/workflows/cleanup-pr-screenshots.yml
  config/gcp.tfvars
  config/main.tf
  config/variables.tf
  frontend/package.json
  frontend/scripts/take-screenshots.ts
  pull_request_template.md
Due: biome-check

fix: restructure /screenshot-pr skill to proper subdirectory format
  .claude/skills/screenshot-pr/SKILL.md
Due: none

fix: restructure /screenshot-pr skill to proper subdirectory format (#4740)
  .claude/skills/screenshot-pr/SKILL.md
Due: none

perf: speed up Playwright CI e2e via sharding and trace optimization
  .github/actions/buildAllAndDeploy/action.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/runFrontendTests.yml
  README.md
  frontend/playwright.config.ts
  server_smoke_tests/data_serving.py
  server_smoke_tests/requirements.txt
  server_smoke_tests/scripts/ensure_datasets_equal.py
Due: pylint, biome-check

fix: rename data_serving.py → test_data_serving.py for pytest discovery
  .github/actions/buildAllAndDeploy/action.yml
  server_smoke_tests/test_data_serving.py
Due: pylint

perf: speed up Playwright CI e2e ~3x via sharding, fix trace overhead, rename server_smoke_tests (#4741)
  .github/actions/buildAllAndDeploy/action.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/runFrontendTests.yml
  README.md
  frontend/playwright.config.ts
  server_smoke_tests/requirements.txt
  server_smoke_tests/scripts/ensure_datasets_equal.py
  server_smoke_tests/test_data_serving.py
Due: pylint, biome-check

perf: revert e2e sharding — single job is faster for 44-test CI suite
  .github/workflows/runFrontendTests.yml
Due: none

perf: revert e2e sharding — single job is faster for current suite size (#4743)
  .github/workflows/runFrontendTests.yml
Due: none

chore: strip stale comments from playwright.config.ts
  frontend/playwright.config.ts
Due: biome-check

chore: strip stale comments from playwright.config.ts (#4744)
  frontend/playwright.config.ts
Due: biome-check

perf: run PR e2e against local vite build, shallow-clone all workflows
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/runFrontendTests.yml
  frontend/playwright.config.ts
Due: biome-check

perf: run PR e2e against local vite build, shallow-clone all workflows (#4745)
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/runFrontendTests.yml
  frontend/playwright.config.ts
Due: biome-check

perf: sparse-checkout frontend/ only in all three e2e workflows
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/runFrontendTests.yml
  frontend/CLAUDE.md
Due: none

perf: sparse-checkout frontend/ only — cut checkout from 41s to ~5s (#4746)
  .github/workflows/e2eDev.yml
  .github/workflows/e2eScheduled.yml
  .github/workflows/runFrontendTests.yml
  frontend/CLAUDE.md
Due: none

perf: sparse-checkout and shallow clone across all CI workflows
  .github/workflows/cronUrlChecker.yml
  .github/workflows/runFrontendServerTests.yml
  .github/workflows/runPythonChecks.yml
  .github/workflows/runToolingSpellChecks.yml
Due: none

perf: sparse-checkout and shallow clone across all remaining CI workflows (#4747)
  .github/workflows/cronUrlChecker.yml
  .github/workflows/runFrontendServerTests.yml
  .github/workflows/runPythonChecks.yml
  .github/workflows/runToolingSpellChecks.yml
Due: none

trigger build to test new ci
  python/datasources/nci_cancer.py
Due: pylint

more
  python/datasources/nci_cancer.py
Due: pylint

fix(ci): add data/ to sparse-checkout so pytest fixtures are available
  .github/workflows/runPythonChecks.yml
Due: none

docs: note that python tests load fixture CSVs from data/
  CLAUDE.md
  python/CLAUDE.md
Due: none

chore: revert double period typo in nci_cancer.py
  python/datasources/nci_cancer.py
Due: pylint

fix(ci): add data/ to sparse-checkout so Python test fixtures are available (#4748)
  .github/workflows/runPythonChecks.yml
  CLAUDE.md
  python/CLAUDE.md
  python/datasources/nci_cancer.py
Due: pylint

fix(ci): run full E2E_NIGHTLY suite on PRs to catch failures before merge
  .github/workflows/runFrontendTests.yml
Due: none

feat(ci): add merge queue full E2E gate; keep fast E2E_CI on PR pushes
  .github/workflows/mergeQueueE2E.yml
Due: none

feat(ci): add merge queue full E2E gate; keep fast E2E_CI on PR pushes (#4749)
  .github/workflows/mergeQueueE2E.yml
Due: none

trigger
  frontend/src/pages/Landing/LandingPage.tsx
Due: biome-check

Path conditions:
  pylint: any of: \.py$
  biome-check: any of: ^frontend/.*\.(js|ts|jsx|tsx|json)$
  tsc-check: any of: \.(ts|mts|cts)$ and \.tsx$
