Repository SatcherInstitute/health-equity-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, biome-check, tsc-check

.pre-commit-config.yaml:

repos:
  # SPELL CHECKER
  - repo: local
    hooks:
      - id: cspell
        name: üìö check spelling of staged files
        entry: bash -c 'npx cspell --no-must-find-files --no-progress --cache --gitignore "**/*.{md,html,tsx,ts,py,yaml,yml}"'
        language: system
        types: [text]
  # PREVENT COMMON GIT/GITHUB ERRORS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
        name: üëØ check for file name casing conflicts
      - id: check-merge-conflict
        name: üôÖ check for merge conflict markers
      - id: check-added-large-files
        name: üê≥ check for files over 100mb
        args: ["--maxkb=100_000", "--enforce-all"]
  # FORMAT PYTHON WITH BLACK
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: üñ§ python format with black
  # LINT PYTHON WITH PYLINT
  - repo: local
    hooks:
      - id: pylint
        name: üêç python lint with pylint
        entry: pylint
        language: python
        language_version: python3.12
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
  # LINT/FORMAT JS/TS/JSON WITH BIOME
  - repo: local
    hooks:
      - id: biome-check
        name: üß¨ format with biome
        entry: bash -c 'cd frontend && npm run cleanup'
        language: system
        files: ^frontend/.*\.(js|ts|jsx|tsx|json)$
        pass_filenames: false
  # TYPE CHECK WITH TSC
  - repo: local
    hooks:
      - id: tsc-check
        name: üèÅ TypeScript type check
        entry: tsc --noEmit
        language: system
        types: [ts, tsx]
  # WARN IF TOO MANY FILES IN ONE COMMIT
  - repo: local
    hooks:
      - id: check-file-count
        name: üóÑÔ∏è  check + warn if too many files in commit
        entry: bash -c scripts/.util/warn_many_files_per_commit.sh
        language: system
        types: [text]
        pass_filenames: false
  # LINT DOTENV FILES
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.5.0 # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        name: ‚úÖ .env lint with dotenv-linter

dont store current location
  frontend/src/pages/ExploreData/LocationSelector.tsx
Due: biome-check

fix arrow alignment
  frontend/src/styles/HetComponents/HetLocationSearch.tsx
  frontend/src/styles/MaterialTheme.tsx
Due: biome-check

align arrows
  frontend/src/styles/HetComponents/HetNavButton.tsx
Due: biome-check

speed up location search
  frontend/src/styles/HetComponents/HetLocationSearch.tsx
Due: biome-check

store all locations
  frontend/src/pages/ExploreData/LocationSelector.tsx
Due: biome-check

skip current in recent locations list
  frontend/src/pages/ExploreData/LocationSelector.tsx
Due: biome-check

adding flag for chlr map modal
  frontend/.env.deploy_preview
  frontend/src/reports/ReportProvider.tsx
Due: biome-check

correcting variable name
  frontend/.env.deploy_preview
  frontend/src/reports/ReportProvider.tsx
Due: biome-check

darkening text color, adding pointer to buttons, adding border radius
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/styles/HetComponents/HetGalleryDotNav.tsx
Due: biome-check

updating language on banner
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/reports/ui/CHLPMapsBanner.tsx
Due: biome-check

updating button link to chlp site
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
Due: biome-check

adding variable to .env.development file
  frontend/.env.development
Due: none

update env handling
  README.md
  frontend/.env.dev
  frontend/.env.example
  frontend/package.json
  frontend/src/data/loading/DataFetcher.ts
  frontend/src/utils/Environment.ts
Due: biome-check

Remove .env.development from repository
  frontend/.env.development
Due: none

adding variable to staging removing dead code
  frontend/.env.staging
  frontend/src/reports/ReportProvider.tsx
Due: biome-check

check in local
  .gitignore
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/.env.local
  frontend/.env.prod
Due: none

Feature/chlp maps linked modal (#4416)
  frontend/.env.deploy_preview
  frontend/.env.staging
  frontend/public/img/graphics/bodily_fluid_penalty_enhancements.png
  frontend/public/img/graphics/exposure_and_transmission_offenses.png
  frontend/public/img/graphics/general_criminal_law_penalty_enhancements.png
  frontend/public/img/graphics/needle_syringe_sharing_penalty_enhancements.png
  frontend/public/img/graphics/sex_work_penalty_ehancements.png
  frontend/src/pages/ExploreData/CHLPMapsModal.tsx
  frontend/src/pages/ExploreData/ExploreDataPage.tsx
  frontend/src/reports/ReportProvider.tsx
  frontend/src/reports/ui/CHLPMapsBanner.tsx
  frontend/src/styles/HetComponents/HetGalleryDotNav.tsx
  frontend/src/utils/urlutils.tsx
Due: biome-check

cleanup envs
  frontend/.env.deploy_preview
  frontend/.env.dev
  frontend/.env.example
  frontend/.env.local
  frontend/.env.prod
Due: none

merge
  frontend/.env.dev
Due: none

add env table
  .vscode/settings.json
  README.md
Due: none

update
  README.md
  frontend/package.json
Due: biome-check

tweak
  README.md
  frontend/src/utils/Environment.ts
Due: biome-check

Updates environment handling and developer onboarding (#4430)
  .gitignore
  .vscode/settings.json
  README.md
  frontend/.env.dev
  frontend/.env.example
  frontend/.env.local
  frontend/.env.staging
  frontend/package.json
  frontend/src/data/loading/DataFetcher.ts
  frontend/src/utils/Environment.ts
Due: biome-check

cleanup
  .github/actions/buildAllAndDeploy/action.yml
  .github/actions/buildAndPush/action.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/e2eDev.yml
  .github/workflows/runDestroyInfraTest.yml
  .github/workflows/runFrontendTests.yml
  .github/workflows/testBackendChangesInfraTest.yml
  README.md
  python/datasources/cawp.py
  scripts/update_cdc_restricted
Due: pylint

cleanup (#4431)
  .github/actions/buildAllAndDeploy/action.yml
  .github/actions/buildAndPush/action.yml
  .github/workflows/deployInfraTest.yml
  .github/workflows/e2eDev.yml
  .github/workflows/runDestroyInfraTest.yml
  .github/workflows/runFrontendTests.yml
  .github/workflows/testBackendChangesInfraTest.yml
  README.md
  python/datasources/cawp.py
  scripts/update_cdc_restricted
Due: pylint

more fix
  .github/actions/buildAllAndDeploy/action.yml
  .gitignore
  frontend_server/.env.dev
  frontend_server/.env.example
Due: none

Fixxxxxx (#4432)
  .github/actions/buildAllAndDeploy/action.yml
  .gitignore
  frontend_server/.env.dev
  frontend_server/.env.example
Due: none

add demographic section for behavioral health to methodology navigation
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
Due: biome-check

add HetTopicDemographics component to behavioral health methodology page
  frontend/src/pages/Methodology/methodologySections/BehavioralHealthLink.tsx
Due: biome-check

reorder demographic stratification in navigation
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
Due: biome-check

add demographic stratification to medication utilization section
  frontend/src/pages/Methodology/methodologyContent/methodologyRouteConfigs.tsx
Due: biome-check

add HetTopicDemographics component to medication utilization methodology page
  frontend/src/pages/Methodology/methodologySections/MedicationUtilizationLink.tsx
Due: biome-check

extract legend item
  frontend/src/charts/choroplethMap/LegendItem.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
Due: biome-check

getting there
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/charts/choroplethMap/LegendItem.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/utils/hooks/useIsBreakpointAndUp.tsx
Due: biome-check

working better
  frontend/src/cards/ui/MultiMapDialog.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
Due: biome-check

more
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
Due: biome-check

working best so far
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
Due: biome-check

working normal, multi, and compare
  frontend/src/charts/ClickableLegendHeader.tsx
  frontend/src/charts/choroplethMap/LegendItem.tsx
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
Due: biome-check

cleanup
  frontend/src/charts/choroplethMap/RateMapLegend.tsx
  frontend/src/charts/choroplethMap/mapLegendUtils.ts
  frontend/src/utils/hooks/useIsBreakpointAndUp.tsx
Due: biome-check

rf
  frontend/src/cards/ui/MultiMapDialog.tsx
Due: biome-check
